<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- 保存批量代扣文件idID -->
	<input type="hidden" id="with-record-id" value="0" />
	<!-- 批次列表 -->
	<table class="table table-sm table-hover" id="hold-file-select-table">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>地理位置</th>
				<th>期间</th>
				<th>描述信息</th>
				<th>文件名称</th> 
				<th>文件SN</th>
				<th>返回文件名</th>
				<th>文件状态</th>
				<th>操作</th> 
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${accountItemList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td>
				<!-- 地理位置 -->
				<td th:text="${item.place}">地理位置</td>
				<!-- 期间-->
				<td th:text="${item.period}">期间</td>
				<!-- 描述信息 -->
				<td th:text="${item.remark}">描述信息</td>
				<!-- 文件名称 -->
				<td th:text="${item.subWithholdFile}">文件名称</td>
				<!-- 文件SN -->
				<td th:text="${item.fileSn}">文件SN</td>
				<!-- 返回文件名 -->
				<td th:text="${item.subCcbVchrFile}">返回文件名</td>
				<!-- 文件状态 -->
				<td>
					<span th:if="${item.status==0}">已生成</span>
					<span th:if="${item.status==1}">已上传</span>
					<!-- <span th:if="${item.status==2}">已申请处理</span> -->
					<span th:if="${item.status==2}">处理中</span>
					<span th:if="${item.status==3}">CCB处理完成</span>
					<!-- <span th:if="${item.status==2 || item.status==3}">处理中</span> -->
					<span th:if="${item.status==4}">已下载回盘</span>
					<span th:if="${item.status==5}">已处理回盘</span>
					<span th:if="${item.status==6}">已销账</span>
				</td>
				<td>
					<button type="button" class="hold-file-detail btn btn-secondary btn-sm "
						th:attr="bind-id=${item.id}">
						<i class="fa fa-book" aria-hidden="true"></i> <span>代扣文件明细</span>
					</button> 
					<span th:if="${item.status==4}">
						<!-- 预处理-->
						<button type="button" class="advance-handel-single btn btn-secondary btn-sm "
							th:attr="bind-id=${item.id}">
							<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <span>预处理</span>
						</button> 
					</span>
					<span th:if="${item.status==5}">
						<!-- 销账-->
						<button type="button" class="settle-account-single btn btn-secondary btn-sm "
							th:attr="bind-id=${item.id}">
							<i class="fa fa-book" aria-hidden="true"></i> <span>销账</span>
						</button> 
					</span>
					<span th:if="${item.status==6}">
						<!-- 销账结果 -->
						<button type="button" class="settle-account-result btn btn-secondary btn-sm"
							th:attr="bind-id=${item.id}">
							<i class="fa fa-file-text-o" aria-hidden="true"></i> <span>销账结果</span>
						</button>
					</span>
				</td>

			</tr>
		</tbody>
	</table>
	<hr style="height: 1px; border: none; border-top: 1px solid blue;">

	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager1')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
		/**
		 * 	设置抄表员ID
		 */
		function setWithRecordId(withRecordId){
			$("#with-record-id").val(withRecordId);
		}
		/**
		 * 	获取抄表员ID
		 */
		function getWithRecordId(){
			return $("#with-record-id").val();
		}

	
		/* 
			查看销账结果
		*/
		$('.settle-account-result').on('click', function() {
			var itemId = $(this).attr("bind-id"); //分录ID
			setWithRecordId(itemId);
			settleAccountResultItem(itemId);
			
		})
		
		//------------------查看单条销账结果----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function settleAccountResultItem(itemId) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/holdfile-settle-account/settle-account-result-main";
			var parm = new Object();
			loadSettleAccountResultTabs();
		 }
		
		/* 
			查看代扣文件详情
		*/
		$('.hold-file-detail').on('click', function() {
			var itemId = $(this).attr("bind-id"); //分录ID
			setWithRecordId(itemId);
			loadWithHoldFileDeatilTabs();
			
		})
		
		//------------------单个预处理------------------
		
		/* 
			单个销账 
		*/
		$('.advance-handel-single').on('click', function() {
			var itemId = $(this).attr("bind-id"); //分录ID
			//console.log("itemId:" + itemId);
			util.delConfirm("确认操作此条目?", itemId, "advanceSingle");
		})
		
		//单个销账-确认回调函数
		function advanceSingle(itemId){
			var holdFileIds=new Array();
			holdFileIds.push(itemId);		
			advanceAccountHoldFileItem(holdFileIds);
		}
		
		//------------------单个销账------------------
		
		/* 
			单个销账 
		*/
		$('.settle-account-single').on('click', function() {
			var itemId = $(this).attr("bind-id"); //分录ID
			//console.log("itemId:" + itemId);
			util.delConfirm("确认操作此条目?", itemId, "settleSingle");
		})
		
		//单个销账-确认回调函数
		function settleSingle(itemId){
			var holdFileIds=new Array();
			holdFileIds.push(itemId);		
			settleAccountHoldFileItem(holdFileIds);
		}
		
		/**
			返回所选条目的 id(每行对应一个唯一的ID)
			@returns   
		 */
		function getSelectedHoldFileIds(){
			var idArr = new Array();
	
			// 扫描用户所选择条目ID
			$(".item-selector").each(function(index, elem) {
				if (this.checked) { // 对于己选条目
					var id = $(this).attr("data-bind"); //
					idArr.push(id);
				}
			}); // end of item-selector
			return idArr;
		}
		//翻页时保存之前选中的数据
		function setCheckBoxSelected(){
			$("#hold-file-select-table .item-selector").each(function(){
				
				var surfix = $(this).attr("data-bind");  //item'id
				for (var i=0; i<HOLD_FILE_ID_ARR.length; i++) {
					var id = HOLD_FILE_ID_ARR[i];
					if(id==surfix){
						$("#hold-file-select-table #item-selector-"+id).prop("checked", true);
					}
			    }
			});
			
		}
		
		
		//-----------------page loaded ready------------------
		$(function() {
			setCheckBoxSelected();
			
			/*
			选择/取消选择  当前页记录
			选择单个		 	
		*/
		$("#hold-file-select-table .item-selector").on('click', function(e) {
	
			var surfix = $(this).attr("data-bind");  //item'id
			if (this.checked) {			
				HOLD_FILE_ID_ARR.push(surfix);
			} 
			else{
				for (var i=0; i<HOLD_FILE_ID_ARR.length; i++) {
					var id = HOLD_FILE_ID_ARR[i];
					if(id==surfix){
						HOLD_FILE_ID_ARR.splice(i,1);//执行后aa.length会减一	
						break;
					}
			    }
			} 
				
		});
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});


		});
		//创建分页组件实例
		var pager=new Pager("pager1");
		$(function(){			
			pager.init(loadHoldFileItemPage,curr_searchCond);			
		});
	</script>
</body>
</html>