<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>Insert title here</title>
<script type="text/javascript" src="/jquery/jquery-popup/jquery.popupoverlay.js"></script>
<link rel="stylesheet" href="/css/components/invoicenotifytooltip/tooltip.css" />
</head>
<body>
	
	<!-- 表计列表 -->
	<table class="table table-hover table-sm" id="doc-receipt-table">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-doc-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-doc-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-doc-toggle"></label>
					</div>
				</th>
				<th>拆卸单位</th>
				<th>水表编号</th>
				<th>施工单位</th>
				<th>出库日期</th>
				<th>口径</th>
				<th>营业处负责人</th>
				<th>物资处负责人</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${meterList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td>
				
				<!-- 编号 -->
				<td th:text="${item.knockDownUnit}">拆卸单位</td>
				<!-- 编号 -->
				<td th:text="${item.meterNo}">水表编号</td>
				<!-- 抄表方式 -->
				<td th:text="${item.constructionCompany}">施工单位 </td>
				<!-- 表地址 -->
				<td th:text="${item.outStockDateStr}">出库日期</td>
				<!-- 表地址 -->
				<td th:text="${item.caliber}">口径</td>
				<!-- 表地址 -->
				<td th:text="${item.yycPeople}">营业处负责人</td>
				<!-- 表地址 -->
				<td th:text="${item.wzcPeople}">物资处负责人</td>
				<!-- 操作列 -->
				<td>
					<div class="dropdown">
					    <button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">
					      	操作
					    </button>
					    <div class="dropdown-menu">
					    	<!-- 编辑表计基本信息 -->
							<a class="dropdown-item btn-edit-meter-out-stock-single btn-sm" th:id="'btn-info-detail-'+${item.id}"
								th:attr="bind-id=${item.id}, data-meter-id=${item.meterId}">
								<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i><span>编辑</span>
							</a>
							<!-- <a class="dropdown-item preview-single btn-sm" th:id="'btn-info-detail-'+${item.id}"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-eye" aria-hidden="true"></i><span>预览</span>
							</a> -->
							<a class="dropdown-item print-return-single btn-sm" th:id="'btn-info-detail-'+${item.id}"
								th:attr="bind-id=${item.id}, data-meter-id=${item.meterId}">
								<i class="fa fa-print" aria-hidden="true"></i><span>打印</span>
							</a>
							<!-- 删除 -->
							<a class="dropdown-item btn-delete-doc-meter btn-sm" th:attr="bind-id=${item.id}">
								<i class="fa fa-remove" aria-hidden="true"><span>删除</span></i>
							</a>
					    </div>
					</div>
					
				</td>

			</tr>
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">
	<!-- Tooltip -->
	<div id="customer-notify-tooltip" class="well rounded  border border-secondary" style="padding:10px;">
	    <div class="water-fee-notify-container">此处显示水费通知单</div>
	</div>
	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pagerDoc')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
	
	/**
	 * 预览
	 */
	 $(".preview-single").click(function(){
		 var itemId = $(this).attr("bind-id"); //条目ID
	 	var self = this;
		const PREFIX = "#"+self.containerId;
		const NOTIFY_TOOLTIP_ID = "#customer-notify-tooltip";
		const NOTIFY_CONTAINER_CLASS = "#customer-notify-tooltip .water-fee-notify-container";
		var parms = new Object();
		parms.itemId = itemId;
		var url = BASE_CONTEXT_PATH + "/meter-deduct/return-detail"
		$(NOTIFY_CONTAINER_CLASS).load(url, parms, loadNotifyDetailCallback);
		function loadNotifyDetailCallback(res){
			console.log("load notify detail callback...");
			var myEvent = new Event('resize');
	        window.dispatchEvent(myEvent);
	        
	        $(NOTIFY_TOOLTIP_ID).popup('show');
	        
		}
		
	})
	/* 
		单个打印
	*/
	$('.print-return-single').on('click', function() {
		var itemId = $(this).attr("bind-id"); //分录ID
		var idsArr=new Array();
		idsArr.push(itemId);	
		printReturnConfirm(itemId);
	})
	
	/*
		
	*/
	function printReturnConfirm(itemId){		
		var parms = new Object();
		parms.itemId = itemId;
		console.log("---------------------------------")
		var url = BASE_CONTEXT_PATH+"/meter-deduct/loadPrinterReturnDialog"; // 需要提交的url
		$("#print-return-dialog").load(url,parms,openPrintReturnDialog);
	}
	
	/*
		开始打印
	*/
	function startPrintReturn(itemId, printerId){
		var url = BASE_CONTEXT_PATH+"/meter-deduct/printReturnReceipt"; // 需要提交的url
		$.ajax({
			type : "POST", // 提交方式 get/post
			url : url,
			data : {"itemId":itemId,"printerId":printerId,},
			success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
				if (res != null && res != "") {
					if (res.result_code == "success") {
						closePrintReturnDialog();
						util.message(res.result_msg,null,"info");
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				util.message("AJAX请求时发生错误!");
			}
		});	
		
		
	}
			//------------------------	删除功能业务处理	-------------------------------
			//单个删除-确认回调函数
			function deleteDocSingle(itemId){
				var idsArr=new Array();
				idsArr.push(itemId);		
				delBatchDocItem(idsArr);
			}
			
			/*
				功能说明:
					删除所选条目(通用删除函数)
				参数说明:
					ids:所要删除的条目ID数组,(可使函数更具通用性.)
			*/
			function delBatchDocItem(ids) {
				var urlStr = BASE_CONTEXT_PATH + "/meter-deduct/delete-out-stock";
				$.ajax({
					type : "POST", // 提交方式 get/post
					url : urlStr,
					contentType : "application/json", // 如果采用json格式传送所有参数时必须有,如果采普通js对象传送时,则不可以加此参数
					data : JSON.stringify(ids),
					success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
						if (res != null && res != "") {
							if (res.result_code == "success") {
								loadPageOutStockDoc();
								util.message(res.result_msg,null,"success");
							} else {
								util.message(res.result_msg,null,"warning");
							}
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						util.message("AJAX请求时发生错误!");
					}
				});
				
			}
			
			//--------------批量删除-----------------
			/*
				批量删除确认
			*/
			function deleteDocConfirm(){			
				//注: 回调函数需要采用引号引起来
				util.confirm("删除所选择的记录？", "xxx", "ok_callback_name", "cancel_callback_name")			
			}
			
			/*
				批量删除确认:确认(回调)
			*/
			function ok_callback_name(id){
				var ids=getSelectedDocIds();  //此函数定义于_table.html中
				delBatchDocItem(ids);
			}
			
			/*
				批量删除确认:取消(回调)  桩函数
			*/
			function cancel_callback_name(){
				console.log('cancel!');
			}
			
			/**
				返回所选条目的 id(每行对应一个唯一的ID)
				@returns   
			 */
			function getSelectedDocIds(){
				var idArr = new Array();
		
				// 扫描用户所选择条目ID
				$("#doc-receipt-table .item-selector").each(function(index, elem) {
					if (this.checked) { // 对于己选条目
						var id = $(this).attr("data-bind"); //
						idArr.push(id);
					}
				}); 
				return idArr;
			}
			
			
			/*
				编辑按钮CLICK
			*/
			$('.btn-edit-meter-out-stock-single').on('click', function() {
				var url = BASE_CONTEXT_PATH + '/meter-deduct/load-meter-out-stcock-dialog';
				var parms = new Object();
				var docId = $(this).attr("bind-id");//表计ID
				var meterId = $(this).attr("data-meter-id");//表计ID
				setMeterIdFn(meterId);//设置用户当前编辑的表计ID
				parms.docId = docId;
				parms.meterId = meterId;
				$("#meter-out-stock-doc-dialog").load(url, parms, openMeterOutStockDialog); //加载完毕后显示
			}); 
		
		//-----------------page loaded ready------------------
		$(function() {
			
			
			//------------------------------	删除功能	------------------------------
			/**
			 * 绑定删除按钮的click事件
			 */
			$(".btn-delete-doc-meter").on("click", function(){
				
				var itemId = $(this).attr("bind-id"); //分录ID
				util.delConfirm("确认删除此条目？", itemId, "deleteDocSingle");
				
			});
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-doc-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});
				

		});
		//创建分页组件实例
		var pager=new Pager("pagerDoc");
		$(function(){			
			pager.init(loadPageOutStockDoc,curr_searchCond);			
		});
	</script>
</body>
</html>