<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>



<script type="text/javascript">
</script>



</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-bank-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>编辑:客户-银行信息</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-bank-form">
									
									<!-- 当前所编辑条目的ID -->
									<input type="hidden" id="bank-id" name="id" th:value="${currBankItem==null ? '' : currBankItem.id}" />
									<!-- 当前所编辑条目的客户ID -->
									<input type="hidden" id="bank-customer-id" name="customerId" value="" />
									<!-- 当前所编辑条目的银行编码 -->
									<input type="hidden" id="bank-code" name="bankCode" value="" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td>
													<!-- 银行信息 -->
													<div class="form-group form-inline">
														<label for="customers-description" class="col-sm-4 control-label">银行名称</label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control " id="bank-name" name="bankName" th:value="${currBankItem==null ? '' : currBankItem.bankName}" >
																<!-- 默认选择第一个 -->
																<option value="" >-请选择-</option>
																<span th:each="item,iterStat: ${bankList}" th:remove="tag">
																	<option th:value="${item.value}"  th:attr="selected=${currBankItem!=null && item.value==currBankItem.bankName ? 'true':'false'}, data-bank-code=${item.key}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
															</select>
														</span>
													</div>
												</td>
												
												<td>
													<!-- 开户行-->
													<div class="form-group form-inline">
														<label for="customers-description" class="col-sm-4 control-label">开户行</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control "
																th:value="${currBankItem==null ? '' : currBankItem.accountBank}" 
																id="bank-account-bank" name="accountBank" 
																maxlength=30 title="请输入1-30个字符" placeholder="开户行"/>
														</span>
													</div>          
 												</td>											
											</tr>
											<tr>
												<td>
													<!-- 开户名-->
													<div class="form-group form-inline">
														<label for="bank-account-name" class="col-sm-4 control-label">开户名</label>
														<span class="input-group-sm col-sm-8">
														<input type="text" class="form-control"
																th:value="${accountName}" 
																id="bank-account-name" name="accountName" 
																maxlength=50 title="请输入1-50个字符" placeholder="开户名"/>
														</span>
													</div>
												</td>
												<td>
													<!-- 银行卡号 -->
													<div class="form-group form-inline">
														<label for="customers-description" class="col-sm-4 control-label">银行卡号</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control "
																th:value="${currBankItem==null ? '' : currBankItem.cardNo}" 
																id="bank-card-no" name="cardNo" 
																maxlength=20 title="请输入1-20位字符" placeholder="银行卡号"/>
														</span>
													</div>
												</td>
											</tr>
											
											<tr>
												<td>
													<!-- 备注-->
													<div class="form-group form-inline">
														<label for="bank-remark" class="col-sm-4 control-label">备注</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control "
																th:value="${currBankItem==null ? '' : currBankItem.remark}" 
																id="bank-remark" name="remark" 
																maxlength=50 title="请输入1-50个字符" placeholder="备注"/>
														</span>
													</div>
												</td>
												<td></td>
											</tr>
											
											
										</tbody>
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default btn-sm"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary btn-sm btn-bank-modify-and-back"	id="btn-bank-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_bank_item=[[${currBankItem}]];
		/*]]>*/
	</script>

	<script>
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiBankItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/customer-bank/insert";
			
			var bankId= $("#bank-id").val();
			var customerId= getCustomerIdFn();
			$("#bank-customer-id").val(customerId);
			if(bankId!=null && bankId!=""){
				urlStr = BASE_CONTEXT_PATH + "/customer-bank/update";
			}
			var form=new FormData($("#dialog-modi-bank-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					if (res != null && res != "") {
						if (res.result_code == "success") {
							loadBankPage();  //	重新刷新当前页面
							if (closeDialogFlag){
								closeBankDialog();
							}
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
		
		//--------------------page loaded ready-----------------------
		$(function() {
			$("#bank-name").on('change',function() {//银行名称下拉框改变事件
				var bankCode = $(this).find("option:selected").attr("data-bank-code");
				$("#bank-code").val(bankCode);//设置银行编码值
				
			});
			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-bank-modify-and-back').on('click',function() {
				modiBankItem(true);				
			});

		});
	</script>
	
	

	</script>
	
	</th:block>
	
</body>
</html>