<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">


</script>

<style>

/* 输入布局 */
.table-layout td{
	border:0px;
	padding:0px;
}

</style>

<!-- color picker 颜色选择器 -->
<!-- <link 	href="/color-picker/dist/css/bootstrap-colorpicker.css"	rel="stylesheet" />
<script  src="/color-picker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script> -->
<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>编辑:政策减免</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="discount-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table-sm">
										<tbody>
											<tr>
												<td>
													<!-- 名称 -->
													<div class="form-group form-inline">
														<label for="discount-name" class="col-sm-6 control-label">名称</label>
														<input type="text" class="form-control col-sm-6 "
																th:value="${currItem==null ? '' : currItem.name}" 
																id="discount-name" name="Name" 
																maxlength=30 title="请输入1-30个字符" placeholder="名称"/>
													</div>
												</td>
														
			
												<td>
													<!--基础水价-->
													<div class="form-group form-inline">
														<label for="discount-name" class="col-sm-6 control-label">基础水价</label>
														<input type="number"
																th:value="${currItem==null ? '' : currItem.basePrice}" 
																class="form-control col-sm-6 " 
																id="discount-base_price" name="basePrice" 
																maxlength=32 title="请输入数字" placeholder="基础水价"/>
													</div>
												</td>												
											</tr>
											<tr>
												<td>
													<!-- 污水处理费 -->
													<div class="form-group form-inline">
														<label for="discount-description" class="col-sm-6 control-label">污水处理费</label>
														<input type="number" class="form-control col-sm-6 "
																th:value="${currItem==null ? '' : currItem.treatmentFee}" 
																id="discount-treatment_fee" name="treatmentFee" 
																maxlength=12 title="请输入数字" placeholder="污水处理费"/>
													</div>
												</td>
											
											
												<td>
													<!-- 备注 -->
													<div class="form-group form-inline">
														<label for="discount-description" class="col-sm-6 control-label">备注</label>
														<input type="text" class="form-control col-sm-6 "
																th:value="${currItem==null ? '' : currItem.remark}" 
																id="discount-remark" name="remark" 
																maxlength=100 title="请输入1-100位字符" placeholder="备注"/>
													</div>
												</td>
											
											</tr>
										</tbody>
										
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"	id="btn-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
		/*]]>*/
	</script>

	<script>
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/discount/insert";
			
			var discountId= $("#discount-id").val();
			if(discountId!=null && discountId!=""){
				urlStr = BASE_CONTEXT_PATH + "/discount/update";
			}
			var form=new FormData($("#dialog-modi-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				/* contentType : "application/json", */ // 如果采用json格式传送所有参数时必须有,如果采普通js对象传送时,则不可以加此参数
				//dataType : "html", // 表示返回值类型，不必须,如果返回的是面页，则必须
				/* data : JSON.stringify(parms), */
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
					if (res != null && res != "") {
						//var obj = $.parseJSON(res);						
						if (res.result_code == "success") {
							loadPage();  //	重新刷新当前页面
							if (closeDialogFlag){
								closeModiDialog();
							}
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back').on('click',function() {
				modiItem(true);				
			});

		});
	</script>
	
	<script type="text/javascript">
	 function validate(){  
	       var reg = new RegExp("^[0-9]+(.[0-9]{2})?$ ");  
	       var obj = document.getElementById("number");  
	       if(!reg.test(obj.value)){  
	        alert("请输入数字!");  
	    	}  
	         
	  	}  

	</script>
	
	</th:block>
	
</body>
</html>