<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <div th:include="common/common_head::headx('测试水表设备')" th:remove="tag"></div> -->
<!-- 页面正在加载js -->
<!-- <script th:src="@{/pivas/js/common/ajaxSetup.js}"></script> -->
</head>
<body>
	<!-- 参数配置主页 -->
	<!-- <div class="container-fluid"> -->
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<!-- 业务页面 -->
				<div id="container-test-device">
					<!-- content -->
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function() {
			/** 
			 * 	加载框架页
			 */
			function loadTestDeviceMain(parms, callback) {
				var url = "/wm-device/main";
				var callbackFunc = callback;
				var containerId = "#container-test-device";
				loadPage(containerId, url, parms, callbackFunc);
			}
			
			/** 
			 * 	加载框架页面
			 */
			loadTestDeviceMain(null, null);
		})
	</script>

</body>
</html>