<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>账单列表</title>
</head>
<body>
	
	<!-- 账单列表 -->
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				<!-- <th>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th> -->
				<th>期间</th>
				<th>水价</th>
				<th>实收水量</th>
				<th>本期水费</th>
				<th>本期缴费</th>
				<th>本期欠费</th>
				<th>记账日期</th>
				<th>结算状态</th>
				<th>操作</th>
			
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${billMapList}">
			
				<!-- 条目选择器 -->
				<!-- <td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td> -->
				<!-- 期间-->
				<td th:text="${item.period}">期间</td>
				<td th:text="${item.waterPrice}">期间</td>
				<td th:text="${item.realWaterAmount}">期间</td>
				<!-- 科目 -->
				<!-- <td th:text="${item.creditSubject}">科目</td> -->
				<!-- 账单金额 -->
				<td th:text="${item.creditAmount}">账单金额</td>
				<!-- 违约金总金额 -->
				<!-- <td th:text="${item.overdueValue}">违约金总金额</td> -->
				<!-- 已充值金额 -->
				<td th:text="${item.debitAmount}">已充值金额</td>
				<!-- 欠费金额 -->
				<td th:text="${item.creditAmount-item.debitAmount}">欠费金额</td>
				<!--记账日期-->
				<td th:text="${item.accountDateStr}">记账日期</td>
				<!--结算状态-->
				<!-- <td th:attr="title=${item.settlementStatus==2 ? item.SETTLEMENT_ERR_MSG : ''}"> -->
				<td>
					<!-- 结算状态 0=未结算（默认值）；1=结算成功；2=结算失败;3=部分结算 -->
					<span th:if="${item.settlementStatus==0}">
						<span class="badge badge-secondary">未结算</span>
					</span>
					<span th:if="${item.settlementStatus==1}">
						<!-- <span class="badge badge-success">交易成功</span> -->
						<span class="badge badge-success">全部结算</span>
					</span>
					<span th:if="${item.settlementStatus==2}">
						<!-- <span class="badge badge-danger">交易失败</span> -->
						<span class="badge badge-danger">结算失败</span>
					</span>
					<span th:if="${item.settlementStatus==3}">
						<span class="badge badge-warning">部分结算</span>
					</span>
				</td>
				<!-- 操作列 -->
				<td>
					<div class="dropdown">
						<button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" style="font-size:12px;">操作</button>
						<div class="dropdown-menu">
							<!-- 结算（缴费） -->
							<a class="dropdown-item btn-sm btn-settle-bill-single" th:attr="bind-id=${item.id}">
								<i class="fa fa-money" aria-hidden="true"></i> <span>缴费</span>
							</a>
							<!-- 详情 -->
							<a class="dropdown-item btn-sm account-detail-single" th:attr="bind-id=${item.id}">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>详情</span>
							</a> 
							<!-- 发送短信 -->
							<!-- <a class="dropdown-item btn-sm send-sms-notify" th:attr="bind-id=${item.id}, data-settlement-status=${item.settlementStatus}" title="发送短信通知">
								<i class="fa fa-comments-o" aria-hidden="true"></i> <span>发送短信通知</span>
							</a> -->
							<!-- 微信提醒 -->
							<!-- <a class="dropdown-item" th:attr="bind-id=${item.id}, data-settlement-status=${item.settlementStatus}" title="发送微信通知">
								<i class="fa fa-weixin" aria-hidden="true"></i> <span>发送微信通知</span>
							</a> -->
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td style="font-weight: bold;">统计：</td>
				<td style="font-weight: bold;" th:text="${realWaterAmountTotal}">水量</td>
				<td style="font-weight: bold;" th:text="${creditAmountTotal}">本期水费</td>
				<td style="font-weight: bold;" th:text="${debitAmountTotal}">本期缴费</td>
				<td style="font-weight: bold;" th:text="${creditAmountTotal-debitAmountTotal}">本期欠费</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">

	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('customer-bill-detail-list')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
		//-----------------结算状态常量------------------------------------------------------------------------------------
		//结算状态 0=未结算（默认值）；1=结算成功；2=结算失败;3=部分结算
		var G_SETTLEMENT_STATUS_NORMAL = 0;//结算状态 0=未结算（默认值）；
		var G_SETTLEMENT_STATUS_SUCCESS = 1;//结算状态 1=结算成功；
		var G_SETTLEMENT_STATUS_PART = 3;//结算状态 3=部分结算
		//-----------------------账单结算（缴费）部分-----------------------------------------------------------------------------
		/**
		 * 	绑定按账单结算的click事件
		 */
		function bindBillSettleClickEvent(self){
			//var self = $(this);
			//self.unbind("click");  //移除click事件
			
			console.log("account item bindBillSettleClickEvent called!");
			
			var accountItemId = self.attr("bind-id"); //条目ID
			
			setCurrEditAccountItemId(accountItemId);//设置当前编辑账单的ID
			
			var url = BASE_CONTEXT_PATH+'/settle-account-item/loadsettleaccountdialog';
			var parms = new Object(); //参数
			parms.accountItemId = accountItemId;
			$("#settle-account-dialog").load(url, parms,function(){
				
				//重新绑定click事件
				//self.on('click', bindBillSettleClickEvent);
				//加载完毕后显示 
				openSettleAccountDialog();//打开结算对话框
			});
		}
		//==========防止重复提交
		var billSettleT = throttle(bindBillSettleClickEvent, 200);
		function clickSettleSubmit(){
			console.log("----------submit");
			var self = $(this);
			billSettleT(self);
		}
		//按账单结算
		$('.btn-settle-bill-single').on('click', clickSettleSubmit);
		
		//-----------------打开详情选项卡------------------
	
		/* 
			加载客户账单详细信息 
		*/
		$('.account-detail-single').on('click',function() {
			
			var id = $(this).attr("bind-id"); //条目ID
			
			setCurrEditAccountItemId(id);//设置当前编辑账单的ID
			
			var parms = new Object(); //参数
			parms.id = id;
			loadAccountItemDetailList(parms, loadItemDetailCallback);
		});
		//跳转详情信息选项卡
		function loadItemDetailCallback(){
			showAccountItemDetailTab();
		}
		
		//------------------------------发送短信通知-------------------------------------------------------------
		/* 
			加载撤销分账单对话框 
		*/
		$('.send-sms-notify').on('click',function() {
			var settlementStatus = $(this).attr("data-settlement-status");//结算状态 0=未结算（默认值）；1=结算成功；2=结算失败;3=部分结算
			if(settlementStatus!=G_SETTLEMENT_STATUS_SUCCESS){
				//dialog type: success warning info error,默认为info
				util.message("账单已全部结算，不需要发送短信通知！", null, "warning");
				return false;
			}
			var accountItemId = $(this).attr("bind-id");//账目ID
			util.delConfirm("确认发送短信通知?", accountItemId, "sendSmsNotifyRequest");
			 
		});
		
		/**
		 * 	发送短信通知
		 */
		function sendSmsNotifyRequest(accountItemId){
			
			var url = BASE_CONTEXT_PATH+'/settle-account-item/send-sms-notify';
			var parms = new Object(); //参数
			parms.accountItemId = accountItemId;
			
			$.post(url, parms, function(res){
				//console.log(res);
				if (res!=null && res!="") {
					if (res.result_code=="success") {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"success");
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		
		/**
			返回所选条目的 id(每行对应一个唯一的ID)
			@returns   
		 */
		function getSelectedIds(){
			var idArr = new Array();
		
			// 扫描用户所选择条目ID
			$(".item-selector").each(function(index, elem) {
				if (this.checked) { // 对于己选条目
					var id = $(this).attr("data-bind"); //
					idArr.push(id);
				}
			}); // end of item-selector
			return idArr;
		}
		
		//-----------------page loaded ready------------------
		$(function() {
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});


		});
		//创建分页组件实例
		var pager=new Pager("customer-bill-detail-list");
		$(function(){
			pager.init(loadPageClickPageNum,curr_searchCond);			
		});
	</script>
</body>
</html>