<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">


</script>

<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>

<style type="text/css">
.table td{
	border-top: 0px;
}
</style>

</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-dict-code-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-md">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>编辑:数据字典表编码</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="dict-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td>
													<!-- 数据字典类型编码 -->
													<div class="form-group form-inline">
														<label for="dict-type-code" class="col-sm-4 control-label">类型编码</label>
														<span class="input-group-sm col-sm-8">
															<input type="hidden" th:value="${typeCode==null ? '' : typeCode}" id="dict-old-type-code" placeholder="原数据字典类型编码，是用于修改的条件" />
															<input type="text" class="form-control "
																	th:value="${typeCode==null ? '' : typeCode}" 
																	id="dict-type-code" name="typeCode" 
																	maxlength=30 title="请输入1-30个字符" placeholder="数据字典类型编码"/>
														</span>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<!--数据字典类型名称-->
													<div class="form-group form-inline">
														<label for="dict-type-name" class="col-sm-4 control-label">类型名称</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control "
																	th:value="${typeName==null ? '' : typeName}" 
																	id="dict-type-name" name="typeName" 
																	maxlength=30 title="请输入1-30个字符" placeholder="数据字典类型名称"/>
														</span>
													</div>
												</td>
											</tr>
										</tbody>
										
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"	id="btn-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*]]>*/
	</script>

	<script>
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			 
			var typeCode = $("#dict-type-code").val();
			var typeName = $("#dict-type-name").val();
			var oldTypeCode = $("#dict-old-type-code").val();
			if(typeCode==null || typeCode==""){
				//dialog type: success warning info error,默认为info
				util.message("类型编码不能为空！",null,"warning");
				return;
			}
			if(typeName==null || typeName==""){
				//dialog type: success warning info error,默认为info
				util.message("类型名称不能为空！",null,"warning");
				return;
			}
			 
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/dict-type/insert";
			if(G_IS_EDIT){
				urlStr = BASE_CONTEXT_PATH + "/dict-type/update";
			}
			
			var parms = new Object();
			parms.oldTypeCode = oldTypeCode;
			parms.typeCode = typeCode;
			parms.typeName = typeName;
			
			$.post(urlStr, parms, function(res){
				//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
				if (res != null && res != "") {
					//var obj = $.parseJSON(res);						
					if (res.result_code == "success") {
						loadPageDictCode();  //	重新刷新当前页面
						if (closeDialogFlag){
							closeModiDialog();
						}
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			});
			
		 }
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back').on('click',function() {
				modiItem(true);				
			});

		});
	</script>
	

	
	</th:block>
	
</body>
</html>