<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>

<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>

<link rel="stylesheet"	href="/css/commform.css" />
<link rel="stylesheet"	href="/css/searchpanel.css" />


</head>
<body>
	
	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<!-- 操作面板 -->
			<div class="" style="display: inline-block" id="meter-search-div">
				<ul class="extra-l" style="list-style: none;">
					<li class="input-group-sm">
						<select class="form-control search-type" id="search-type">
							<option value="1">客户信息</option>
							<option value="2">水表信息</option>
						</select>
					</li>
					<!-- 面板:查询 -->
					<li class="input-group-sm">
						<input type="text" class="form-control" id="search-cond" placeholder="请输入客户名称、电话等">
					</li>
					<li class="input-group-sm">
						<select class="form-control btn-sm" id="location-block" name="locationBlockId" data-location-curr-node-type="BLOCK" data-location-next-node-type="BUILDING" style="display:inline-block;">
							<option value="" data-location-traceids=''>——小区——</option>
							<span th:each="item,iterStat: ${locationList}" th:remove="tag">
								<option th:value="${item.id}" th:attr="data-location-traceids=${item.traceIds}, data-location-code=${item.code},data-location-name=${item.name}"
										th:text="${item.name}">小区名称</option>
							</span>
						</select>
					</li>
					<li class="input-group-sm">	
						<select class="form-control btn-sm" id="location-building" name="locationBuildingId" data-location-curr-node-type="BUILDING" data-location-next-node-type="UNIT" disabled="disabled" style="display:inline-block;">
							<option value="" data-location-traceids=''>——楼号——</option>
						</select>
					</li>
					<li class="input-group-sm">
						<select class="form-control btn-sm" id="location-unit" name="locationUnitId" data-location-curr-node-type="UNIT" data-location-next-node-type="ROOM" disabled="disabled" style="display:inline-block;">
							<option value="" data-location-traceids=''>——单元——</option>
						</select>
					</li>
					<!-- 查询按钮 -->
					<li>
						<button type="button" class="btn btn-success btn-sm"	id="btn-search">
							<i class="fa fa-search" aria-hidden="true"> <span>查询</span>	</i>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-warning btn-sm"	id="btn-search-reset">
							<i class="fa fa-undo" aria-hidden="true"> <span>清除</span></i>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12">
		
			<div id="meter-select-table">
				<!-- 加载表计列表 -->
			</div>
		</div>
			
		<hr style="height:1px;border:none;border-top:1px solid blue;">
			
	</div>
	
	

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/
			//var zNodes = [[${meterListJson}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
	
		//--------------------公共查询函数--------------------------
		/*	
			公共查询函数
			
			查询核对类型列表
		*/
		 function searchMeterItem(searchCond, pageNum, pageSize) {

			var traceIds = "";//地理位置痕迹ID（ID-ID-ID-ID）
			var searchType = $("#meter-search-div .search-type").val();//模糊查询方式
			if(traceIds==null || traceIds==""){
				var locaUnitTraceIds = this.getUnitId();
				var locaBuildingTraceIds = this.getBuildingId();
				var locaBlockTraceIds = this.getBlockId();
				if(locaUnitTraceIds!=null && locaUnitTraceIds!=""){
					traceIds = locaUnitTraceIds;
				}else if(locaBuildingTraceIds!=null && locaBuildingTraceIds!=""){
					traceIds = locaBuildingTraceIds;
				}else if(locaBlockTraceIds!=null && locaBlockTraceIds!=""){
					traceIds = locaBlockTraceIds;
				}
			}
			//初始化请求参数
			var parms = new Object();
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;
			parms.searchCond=searchCond;
			parms.traceIds=traceIds;
			parms.searchType=searchType;

			//加载字典列表页面
			var url = BASE_CONTEXT_PATH + "/meter-record/meter-item-table"
			$("#meter-select-table").load(url, parms, null);
		}

		//---------------------------------------------
		
		/*
			默认查询
			Retrieve(default)查询(加载默认列表)
		*/
		function defaultSearch() {
			
			var pageNum = 0;
			var pageSize = 0;
			var searchCond=$("#meter-search-div #search-cond").val();

			searchMeterItem(searchCond, pageNum, pageSize);
		}
		
		/*
			查询按钮点击时调用
			采用用户所输入的查询条件进行查询.
		*/
		function btnSearchClick() {
			var pageNum = 0;
			var pageSize = 0;
			var searchCond=$("#meter-search-div #search-cond").val();

			searchMeterItem(searchCond, pageNum, pageSize);
		}

		/*
			分页查询(采用所保存的状态)
		*/
		function loadMeterPageClickPageNum() {
			var pageNum = curr_select_pageNum;
			var pageSize = curr_select_pageSize;
			var searchCond = curr_select_searchCond;

			searchMeterItem(searchCond, pageNum, pageSize);
		}
		
		//------------------业务操作根据地理位置查询客户----------------------
		/**
		 * 	获取小区ID
		 */
		this.getBlockId = function (){
			return $('#meter-search-div #location-block').find("option:selected").attr("data-location-traceids");
		}
		/**
		 * 	获取小区楼号ID
		 */
		this.getBuildingId = function (){
			return $('#meter-search-div #location-building').find("option:selected").attr("data-location-traceids");
		}
		/**
		 * 	获取小区楼号单元ID
		 */
		this.getUnitId = function (){
			return $('#meter-search-div #location-unit').find("option:selected").attr("data-location-traceids");
		}
		
		
		
		/**
		 * 	查询地理位置-小区/楼号/单元
		 */
		var getLocationFn = function (locationId, nodeType){
			var url = BASE_CONTEXT_PATH + "/location/get-block-building-unit";
			var params = new Object();
			params.locationId = locationId;
			params.nodeType = nodeType;
			$.post(url, params, function(res){
				//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
				if (res != null && res != "") {
					//var obj = $.parseJSON(res);						
					if (res.result_code == "success") {
						var locationList = res.locationList;
						if(nodeType=="BUILDING"){
							setLocationBuildingHtml(locationList);
						}else{
							setLocationUnitHtml(locationList);
						}
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				} 
			});
		}
		/**
		 * 	设置地理位置-楼号的下拉列表
		 */
		var setLocationBuildingHtml = function (locationList){
			
			$("#meter-search-div #location-building").attr("disabled", false);//设置地理位置-楼号可编辑
			
			var html = "<option value='' data-location-traceids=''>——楼号——</option>";
			$.each(locationList, function(){
				html = html + "<option value='"+this.id+"' data-location-traceids='"+this.traceIds+"' data-location-code='"+this.code+"' data-location-name='"+this.name+"'>"+this.name+"</option>";
			});
			$('#meter-search-div #location-building').html(html);
		}
		/**
		 * 	设置地理位置-单元的下拉列表
		 */
		var setLocationUnitHtml = function (locationList){
			
			$("#meter-search-div #location-unit").attr("disabled", false);//设置地理位置-单元可编辑
			
			var html = "<option value='' data-location-traceids=''>——单元——</option>";
			$.each(locationList, function(){
				html = html + "<option value='"+this.id+"' data-location-traceids='"+this.traceIds+"' data-location-code='"+this.code+"' data-location-name='"+this.name+"'>"+this.name+"</option>";
			});
			$('#meter-search-div #location-unit').html(html);
		}
		
		$(function(){
			//------------init-------------
			defaultSearch();//初始化查询表计列表
			
			/*
				加载小区下拉框同时赋值
			*/
			$('#meter-search-div #location-block').on('change',function() {
				var typeCode = $(this).find("option:selected").attr("data-location-code");
				var typeName = $(this).find("option:selected").attr("data-location-name");
					
				$("#meter-search-div #meterbook-type-code").val(typeCode);
				$("#meter-search-div #meterbook-type-name").val(typeName);
			});
			/**
			 * 	绑定地理位置-小区的change事件
			 */
			$('#meter-search-div #location-block').on('change',function() {
				
				$("#meter-search-div #location-building").val("");//设置地理位置-楼号值为空
				$("#meter-search-div #location-building").attr("disabled", true);//设置地理位置-楼号不可编辑
				$("#meter-search-div #location-unit").val("");//设置地理位置-单元值为空
				$("#meter-search-div #location-unit").attr("disabled", true);//设置地理位置-单元不可编辑
				
				var locationId = $(this).val();
				if(locationId!=null && locationId!=""){
					btnSearchClick();//查询
					var nextNodeType = $(this).attr("data-location-next-node-type");
					getLocationFn(locationId, nextNodeType);
				}
						
			});
			
			/**
			 * 	绑定地理位置-楼号的change事件
			 */
			$('#meter-search-div #location-building').on('change',function() {
				
				$("#meter-search-div #location-unit").val("");//设置地理位置-单元值为空
				$("#meter-search-div #location-unit").attr("disabled", true);//设置地理位置-单元不可编辑
				
				var locationId = $(this).val();
				if(locationId!=null && locationId!=""){
					btnSearchClick();//查询
					var nextNodeType = $(this).attr("data-location-next-node-type");
					getLocationFn(locationId, nextNodeType);
				}
								
			});
			/**
			 * 	绑定地理位置-楼号的change事件
			 */
			$('#meter-search-div #location-unit').on('change',function() {
				
				var locationId = $(this).val();
				if(locationId!=null && locationId!=""){
					btnSearchClick();//查询
					//var nextNodeType = $(this).attr("data-location-next-node-type");
				}
				
			});
			//选择客户信息或水表信息change时间
			$('#meter-search-div #search-type').on('change',function() {
				var searchType = $(this).val();
				console.log(searchType);
				if(searchType == 1){
					$("#meter-search-div #search-cond").attr("placeholder","请输入客户名称、电话等");
				} else {
					$("#meter-search-div #search-cond").attr("placeholder","请输入水表编号、位置、厂家等");
				}
			});
			
			/*
				查询按钮CLICK
			*/
			$('#meter-search-div #btn-search').on('click', function() {
				btnSearchClick();
			});
			
			/*
				查询条件复位按钮CLICK
			*/
			$('#meter-search-div #btn-search-reset').on('click', function() {
				//查询输入框设置为null且获取光标
				$("#meter-search-div #search-cond").val("");
				$("#meter-search-div #search-cond").focus();  //	获得焦点
				//设置小区-楼号-单元下拉框为未选择
				$("#meter-search-div #location-block").val("");//设置地理位置-小区值为空
				$("#meter-search-div #location-building").val("");//设置地理位置-楼号值为空
				$("#meter-search-div #location-unit").val("");//设置地理位置-单元值为空
				$("#meter-search-div #search-type").val("1");//设置地理位置-单元值为空
			});
			
			/*
				查询条件输入框 KEYUP
			*/
			$('#meter-search-div #search-cond').on('keyup', function(event) {
				if(event.keyCode == 13){
					$('#meter-search-div #btn-search').trigger("click");	                
	            }	
			});
			
		});
	</script>

</body>
</html>