<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>地理位置</title>

</head>
<body>

	<!-- 编辑地理位置对话框 -->
	<div class="container" id="location-edit-dialog"></div>

	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix medic-label">
		<div>
			
		</div>
		<div class="col-md-12 column" style="padding-left:2px;padding-right:2px;">
			<!-- 查询面板 -->
			<div class="row" id="">
				<div class="col-md-12 column" style="display:inline-block; ">
					<div id="search-form">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" id="search-cond" placeholder="请输入编码/名称"  style="display:inline-block;" />
							<div class="input-group-append">
						        <button type="button" class="btn btn-success input-group-text" id="search-btn" title="查询" style="height:100%; display:inline-block;">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
								<button type="button" class="btn btn-success input-group-text" id="search-clear-btn" title="清除" style="height:100%; display:inline-block;">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
								<button type="button" class="btn btn-success input-group-text" id="search-prev-btn" title="上一个" style="height:100%; display:inline-block;">
									<i class="fa fa-chevron-left" aria-hidden="true"></i>
								</button>
								<button type="button" class="btn btn-success input-group-text" id="search-next-btn" title="下一个" style="height:100%; display:inline-block;">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</button>
					    	</div>
					    </div>
					</div>
				</div>
			</div>
			<!-- 容器:列表 -->
			<div class="batch-table table-container">
				<ul id="location-ztree" class="ztree" style="margin-top: 1px"></ul>
			</div>
			
		</div>
	</div>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/
			var zLocationNodes = [[${locationListJson}]];
			/* var zNodes = [{"id":1, "pId":0, "name":"test1"},
		    {"id":11, "pId":1, "name":"test11"},
		    {"id":12, "pId":1, "name":"test12"},
		    {"id":111, "pId":11, "name":"test111"}]; */
		    //var zNodes = [{"createTime":"1523362262000","icon":"/index/images/li1.png","isHttps":0,"level":1,"module":"业务管理","name":"业务管理","parentId":0,"privilegeCode":"PIVAS_MENU_1","privilegeId":1,"seq":1,"sysCode":1,"type":0}];
			//console.log("zNodes:"+zNodes);
			//console.log("zNodes:"+JSON.stringify(zNodes));
		/*]]>*/
	</script>

	<script type="text/javascript">
		
		var G_SELECTED_TREE_NODE = null;//用于保存用户选择的当前节点数据
		var g_is_add = true;//用于保存增加、编辑操作，是增加操作，还是编辑操作
		
		var G_SEARCH_MODE_YES=1;  //查询模式
		var G_SEARCH_MODE_NO=0;  //非查询模式
		
		var g_curr_marked_node_id = null;//已经标记的当前Node对象Id
		var currMarkedNode=null;  	//当前已经标记的节点ID	
		var searchMode=0;  			//查询模式,主要用于区分是主动加载tree还是在查询时加载Tree node
		var notFoundNodeIdx=-1;         //未找到的结点索引,在idArr2中的索引.
		var idArr2=null;  //结点trace 序列.
		
		/**
		 * 	获取当前选择的节点（如果当前节点有子节点则包含子节点信息）
		 */
		function getSelectedTreeNodeFn(){
			return G_SELECTED_TREE_NODE;
		}
		
		/**
		 * 	获取地理位置痕迹ID（ID-ID-ID-ID）
		 */
		function getTraceIds(){
			if(G_SELECTED_TREE_NODE!=null){
				return G_SELECTED_TREE_NODE.traceIds;
			}
			return null;
		}
		
		/**
		 * 	ztree加载中
		 */
		function locationZTreeLoading(){
			$("#location-ztree").html("<li id='ztree-loading'>正在加载中，请稍等...</li>");
		}
		/**
		 * 	ztree加载完成
		 */
		function locationZTreeLoaded(){
			$("#location-ztree #ztree-loading").remove();
		}
	
		var ztreeLocationSetting = {
			async: {
				enable: true,
				url: "/location/get-nodes",
				autoParam: ["id"]
			},
			view: {
				selectedMulti: false//禁止多点同时选中的功能
			},
			check: {
				enable: false,
				chkStyle: "checkbox",
			},
			data: {
				key: {
					name: "name",
				},
				simpleData: {
					enable:true,
					idKey: "id",
					pIdKey: "pid",
					rootPId: 0
				}
			},
			callback: {
				onClick: zTreeLocationOnClick,//节点被点击的事件回调函数
				beforeAsync: zTreeBeforeAsync,//用于捕获异步加载之前的事件回调函数
				onAsyncError: zTreeOnAsyncError,//用于捕获异步加载正常结束的事件回调函数
				onAsyncSuccess: zTreeOnAsyncSuccess,//用于捕获异步加载出现异常错误的事件回调函数
			},
		};
		
		/**
		 * 	异步加载之前的事件回调函数
		 */
		function zTreeBeforeAsync(treeId, treeNode) {
			if(treeNode==null || typeof(treeNode)=="undefined"){
				locationZTreeLoading();//ztree加载中
			}
			
			return true;
		};
		/**
		 * 	异步加载正常结束的回调函数
		 */
		function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
			if(treeNode==null || typeof(treeNode)=="undefined"){
				locationZTreeLoaded();//ztree加载完成
			}
			
			//如果是查询模式
			if(searchMode==G_SEARCH_MODE_YES){
				markNodeInTree(notFoundNodeIdx);
			}
			
			//console.log("treeId:"+treeId+", treeNode:"+treeNode);
		  	//console.log(msg);
		  	/* if(msg!=null){
				//var treeObj = $.fn.zTree.getZTreeObj("location-ztree");
				//var newNodes = treeObj.addNodes(treeNode, msg);
			} */
		};
		/**
		 * 	异步加载出现异常错误的回调函数
		 */
		function zTreeOnAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
			if(treeNode==null || typeof(treeNode)=="undefined"){
				locationZTreeLoaded();//ztree加载完成
			}
			
			console.log("treeId:"+treeId+", treeNode:"+treeNode);
			console.log("textStatus:"+textStatus);
			console.log("errorThrown:"+errorThrown);
		    console.log("XMLHttpRequest:"+XMLHttpRequest);
		};
		
		/*
		 * 节点被点击的事件回调函数
		 */
		function zTreeLocationOnClick(event, treeId, treeNode) {
		    
			G_SELECTED_TREE_NODE = treeNode;//当前选择的地理位置节点
		    //console.log("G_SELECTED_TREE_NODE:"+JSON.stringify(G_SELECTED_TREE_NODE));
			defaultSearch();//默认查询（可获取到用户选择的节点信息）
		}
		
		/**
		 * 	取消选中的节点
		 */
		function cancelLocationCurrSelectedNode(){
			var treeObj = $.fn.zTree.getZTreeObj("location-ztree");
			treeObj.cancelSelectedNode();//取消所有选中的节点
		}
		
		$(function(){
			//console.log("start init");
			$.fn.zTree.init($("#location-ztree"), ztreeLocationSetting);
		});
		
	</script>
	<script type="text/javascript">
		/*
		 * 	点击编辑按钮时执行，打开编辑选项卡
		 */
		function searchLocationDetailFn(location){
			
			//console.log("---"+JSON.stringify(location));
			if(location==null || location.id==0){
				util.message("请选择要修改的地理位置！");
				return;
			}
			
			var url = BASE_CONTEXT_PATH + "/location-meter/load-location-detail-dialog";
			$("#location-edit-dialog").load(url, function(){
				//编辑对话框加载完成
				SearchLocationDetailCallback(location);
			});
			
		}
		
		/**
		 * 编辑操作回调函数
		 */
		function SearchLocationDetailCallback(location){
			
			$("#location-form #location-id").val(location.id);//ID
			$("#location-form #location-level").val(location.locationLevel);//级别
			$("#location-form #location-pid").val(location.pid);//父类型ID
			$("#location-form #location-code").val(location.code);//编码
			$("#location-form #location-name").val(location.name);//名称
			$("#location-form #location-node-type").val(location.localNodeType);//节点类型
			$("#location-form #location-remark").val(location.remark);//备注
			$("#location-form #location-sortno").val(location.sortNo);//排序
	
			$("#modal-title-span").text("查看：地理位置");
			
			$("#location-form #location-pid").attr("disabled", true);//设置父节点ID（pid）的disabled属性
			$("#location-form #location-code").attr("disabled", true);//设置编码的disabled属性
			$("#location-form #location-name").attr("disabled", true);//设置名称的disabled属性
			$("#location-form #location-node-type").attr("disabled", true);//设置节点类型的disabled属性
			$("#location-form #location-remark").attr("disabled", true);//设置备注的disabled属性
			$("#location-form #location-sortno").attr("disabled", true);//设置排序的disabled属性
			
			openEditDialog("modal-container-location-edit");//打开对话框
		}
		
		
//------------------------------	地理位置查询部分	------------------------------
		
		
		var G_ACTION_SEARCH = 0;//表示开始查询
		var G_ACTION_PREV = -1;//表示查询上一个
		var G_ACTION_NEXT = 1;//表示查询下一个
		
		
		/**
		 * 	绑定查询面板中查询按钮的click事件
		 */
		$("#search-form #search-btn").on("click", function(){
			
			var searchCond = $("#search-form #search-cond").val();//查询条件
			if(searchCond==null || searchCond==""){
				//$.fn.zTree.init($("#location-ztree"), setting);
				return;
			}
			
			//置查询模式
			searchMode=G_SEARCH_MODE_YES;
			
			
			//查询条件 
			var parms = new Object();
			parms.searchCond = searchCond;
			parms.id = null;
			parms.action = G_ACTION_SEARCH;
			
			searchLocation(parms);//根据条件查询地理位置并展开对应节点
			
		});
		/**
		 * 	绑定清除按钮的click事件，清除查询输入框内容，且输入框获得焦点
		 */
		$("#search-form #search-clear-btn").on("click", function(){
			//清除查询输入框内容，且输入框获得焦点
			$("#search-form #search-cond").val("");
			$("#search-form #search-cond").focus();//获得焦点
			g_curr_marked_node_id=null;
		});
		
		/*
			绑定查询条件输入框的change事件,当查询条件变化时,重新查询.
		*/
		$("#search-form #search-cond").on("change", function(){
			g_curr_marked_node_id=null;
		});
		
		/**
		 * 	绑定input输入框的键盘事件,键盘上按下回车键时,自动执行click
		 */
		$("#search-form #search-cond").on('keypress',function(event){
            if(event.keyCode=="13") {
            	$("#search-form #search-btn").click();
            }
        });
		
		
		/**
		 * 	绑定查询面板中查询上一个按钮的click事件
		 */
		$("#search-form #search-prev-btn").on("click", function(){
			
			var searchCond = $("#search-form #search-cond").val();//查询条件
			if(searchCond==null || searchCond==""){
				//$.fn.zTree.init($("#location-ztree"), setting);
				return;
			}
			
			//置查询模式
			searchMode=G_SEARCH_MODE_YES;
			
			//查询条件 
			var parms = new Object();
			parms.searchCond = searchCond;
			parms.id = g_curr_marked_node_id;
			parms.action = G_ACTION_PREV;
			
			searchLocation(parms);//根据条件查询地理位置并展开对应节点
			
		});
		
		/**
		 * 	绑定查询面板中查询下一个按钮的click事件
		 */
		$("#search-form #search-next-btn").on("click", function(){
			
			var searchCond = $("#search-form #search-cond").val();//查询条件
			if(searchCond==null || searchCond==""){
				//$.fn.zTree.init($("#location-ztree"), setting);
				return;
			}
			
			//置查询模式
			searchMode=G_SEARCH_MODE_YES;
			
			//查询条件 
			var parms = new Object();
			parms.searchCond = searchCond;
			parms.id = g_curr_marked_node_id;
			parms.action = G_ACTION_NEXT;
			
			searchLocation(parms);//根据条件查询地理位置并展开对应节点
			
		});
		
		
		
		
		/**
		 * 	根据条件查询地理位置并展开对应节点
		 */
		function searchLocation(parms){
			//zTreeLoading();//ztree加载中
			var url = BASE_CONTEXT_PATH + "/location/search";// 需要提交的url
			$.post(url, parms, function(res){
				console.log(res);//由于后端返回的是JSON对象,所以不必再进行转换. 
				if (res != null && res != "") {
					//var obj = $.parseJSON(res);						
					if (res.result_code == "success") {
						var location = res.location;
						if(location!=null){
							
							g_curr_marked_node_id = location.id;	//已经标记的当前Node对象Id
							
							var traceIds=location.traceIds;
							idArr2=parseTraceIds(traceIds);
							
							console.log("=======idArr2========="+JSON.stringify(idArr2));
							
							markNodeInTree(0);  //在Tree中标记结点		
							
							
						}
						
						//reAsyncChildNodes(location.id);//根据地理位置属性ID，异步加载子节点
						
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		
		//根据地理位置属性ID，异步加载子节点
		function reAsyncChildNodes(traceIds){
			
			var treeObj = $.fn.zTree.getZTreeObj("location-ztree");
			//var node = treeObj.getNodeByParam("isHidden", true);
			//treeObj.showNode(node);
			//异步刷新某节点
			var nodes = treeObj.getNodesByParam("traceIds", traceIds);
			console.log(JSON.stringify(nodes));
			if (nodes.length>0) {
				var node = nodes[0];
				treeObj.reAsyncChildNodes(node, "refresh");
			}
			//$("#location-ztree_2_switch").click();
		}
		
		//在树中标记结点
		//startIdx:自路径跟踪数组的哪个节点开始
		function markNodeInTree(startIndex){
			
			//生成traceArr用于保存已经找到的结点索引
			var traceArr=new Array();
			
			var node=null;
			var treeObj = $.fn.zTree.getZTreeObj("location-ztree");
			
			for(var i=startIndex;i<idArr2.length;i++){
				
					var traceIds=idArr2[i];
				
					//find node in tree  
					
					var nodes = treeObj.getNodesByParam("traceIds", traceIds);
					console.log("===========traceIds======="+traceIds);
					console.log("===========nodes======="+JSON.stringify(nodes));
					//如果找到且是需要标记的目标节点,标记之
					if (nodes.length>0) {
						node = nodes[0];
						//treeObj.reAsyncChildNodes(node, "refresh");
						if(i==idArr2.length-1){
							
							treeObj.selectNode(node);  //标记结点.change color or select the node?
							G_SELECTED_TREE_NODE = node;//当前选择的地理位置节点
							
							searchMode=0;  				//查询模式结束
						}
						else{
							traceArr[i]=node.traceIds;
						}
					}					
					else{
						if(traceArr.length>0) {
							notFoundNodeIdx=i;							
							reAsyncChildNodes(traceArr[traceArr.length-1]);  //异步加载在Tree中可以找到的最近的父节点的子节点.
							
						}
						else{
							searchMode=0;  	//查询模式结束,此时说明未在树中查询到最根节点,直接返回即可.
						}
						break;
					}
					
				}
			
			if(node!=null){
				treeObj.selectNode(node);  //标记结点.change color or select the node?
				G_SELECTED_TREE_NODE = node;//当前选择的地理位置节点
			}
			
		}
		
		
		//解析traceIds
		//返回idArr2
		function parseTraceIds(traceIds){		
			//分解traceIds--->idArr1
			var idArr1=traceIds.split("-");
			//生成traceArr用于保存已经找到的结点索引
			var traceArr=new Array();
			
			//生成idArr2 用于保存查询到的结点路径.
			//如果returnNode的traceIds="1-2-3"
			//此时idArr1中的内容为:  0--->1;  1--->2;  	3--->3
			//	  idArr2中的内容为:  0--->1;  2--->1-2; 3--->1-2-3						
			var idArr2=new Array();   //生成用于保存结点路径的数组
			for(var i=0;i<idArr1.length;i++){
				var  tempStr="";
				for(var  j=0;j<=i;j++){
					if(j==0){tempStr=idArr1[j]}						
					else{
						tempStr=tempStr+'-'+idArr1[j];
					}
				}
				idArr2[i]=tempStr   
			}
			return idArr2;
		}
	</script>

</body>
</html>