<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>Insert title here</title>
</head>
<body>
	
	<!-- 保存发送指令的设备ID（水表ID） -->
	<input type="hidden" id="send-cmd-device-id" data-iot-device-id="" data-meter-number="" data-command-type="0" value="" />
	
	<!-- 保存发送指令参数 -->
	<input type="hidden" id="send-command-parms" data-url="" data-device-id="" data-command-type="0" data-command-action="" />
	
	<!-- 加载表配置详情对话框 -->
	<div id="load-iot-platform-api-dialog"></div>
	<!-- 发送水表配置指令对话框 -->
	<!-- <div id="command-meter-config-dialog" th:include="meters/meter_device/command_meter_config_dialog::dialog"></div> -->
	<!-- 发送开关阀指令对话框 -->
	<!-- <div id="command-openclose-dialog" th:include="meters/meter_device/command_openclose_dialog::dialog"></div> -->
	<!-- 发送水量阀值指令对话框 -->
	<!-- <div id="command-water-amount-dialog" th:include="meters/meter_device/command_water_amount_dialog::dialog"></div> -->
	<!-- 发送写表开户状态指令对话框 -->
	<!-- <div id="command-account-status-write-dialog" th:include="meters/meter_device/command_account_status_write_dialog::dialog"></div> -->
	<!-- 表计列表 -->
	<table class="table table-hover table-sm" id="meter-table">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>编号</th>
				<th>钢印号</th>
				<th>表计位置</th>
				<th>生产厂家</th>
				<th>抄表方式</th>
				<th>表地址</th>
				<th>描述</th>
				<th>停/复水</th>
				<th>注册状态</th>
				<th style="width:100px;">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${meterList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td>
				
				<!-- 编号 -->
				<td th:text="${item.meterNo}">编号</td>
				<!-- 钢印号 -->
				<td th:text="${item.steelSealNo}">钢印号</td>
				<!-- 表计位置 -->
				<td th:text="${item.place}">表计位置</td>
				<!-- 生产厂家 -->
				<td th:text="${item.factoryValue}">生产厂家</td>
				<!-- 抄表方式 -->
				<td th:text="${item.readModeValue}">抄表方式 </td>
				<!-- 表地址 -->
				<td th:text="${item.meterAddress}">表地址</td>
				<!-- 描述 -->
				<td th:text="${item.description}">描述</td>
				<!-- 停/复水 -->
				<td th:id="'meter-status-'+${item.id}" th:text="${item.meterStatusStr}">停/复水</td>
				<td>
					<!-- 注册状态：水表编号为空时未注册，水表编号不为空时已注册; -->
					<span th:if="${item.deviceId==null || item.deviceId==''}" th:remove="tag">
						<span class="badge badge-warning">未注册</span>
					</span>
					<span th:if="${item.deviceId!=null && item.deviceId!=''}" th:remove="tag">
						<span class="badge badge-success">已注册</span>
					</span>
				</td>
				<!-- 操作列 -->
				<td>
					<div class="dropdown">
					    <button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">
					      	操作
					    </button>
					    <div class="dropdown-menu">
					    	<!-- 表计基本信息 -->
							<a class="dropdown-item btn-info-detail-single btn-sm" th:id="'btn-info-detail-'+${item.id}"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-file-o" aria-hidden="true"></i><span>详情</span>
							</a>
							<!-- 编辑表计基本信息 -->
							<span th:class="${FUNCTION_MODULE=='MODULE_MANAGE' ? '' : 'd-none'}">
								<a class="dropdown-item btn-edit-meter-single btn-sm" th:id="'btn-info-detail-'+${item.id}"
									th:attr="bind-id=${item.id}">
									<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i><span>编辑</span>
								</a>
							</span>
							 <span th:class="${FUNCTION_MODULE=='MODULE_METER_STATUS' ? '' : 'd-none'}">
								<!-- 停/复水-正常（复水） -->
								<a class="dropdown-item btn-meter-enable btn-sm" th:attr="bind-id=${item.id}">
									<i class="fa fa-play" aria-hidden="true"><span>正常</span></i>
								</a>
								<!-- 停/复水-停水 -->
								<a class="dropdown-item btn-meter-disable btn-sm" th:attr="bind-id=${item.id}">
									<i class="fa fa-stop" aria-hidden="true"><span>停水</span></i>
								</a>
							</span> 
							<span th:class="${FUNCTION_MODULE=='MODULE_MANAGE' ? '' : 'd-none'}">
								<!-- 删除 -->
								<a class="dropdown-item btn-delete-meter btn-sm" th:attr="bind-id=${item.id}">
									<i class="fa fa-remove" aria-hidden="true"><span>删除</span></i>
								</a>
							</span>
							<div class="dropdown-divider" style="border-top: 0.8px solid blue;"></div>
							<!-- 查看水表配置详情 -->
							<a class="dropdown-item btn-sm load-meter-config-detail-dialog" title="查看表配置信息"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-eye" aria-hidden="true"> <span>查看表配置信息</span></i>
							</a>
							
							<!-- 如果IOT平台设备ID为空时说明设备未注册显示注册设备按钮 -->
							<span th:if="${item.deviceId==null || item.deviceId==''}" th:remove="tag">
								<!-- 注册设备 -->
								<a class="dropdown-item btn-sm btn-register-device" title="注册设备"
									th:attr="data-meter-no=${item.meterNo}">
									<i class="fa fa-info" aria-hidden="true"> <span>注册设备</span></i>
								</a>
							</span>
							
							<div class="dropdown-divider" style="border-top: 0.8px solid blue;"></div>
							<!-- 发送读月冻结指令 -->
							<a class="dropdown-item btn-sm btn-send-cmd-read-month-freeze"
								th:attr="bind-id=${item.id}, data-iot-device-id=${item.deviceId}, data-meter-number=${item.meterNumber}">
								<i class="fa fa-arrow-up" aria-hidden="true"> <span>发送读月冻结指令</span></i>
							</a>
							<!-- 发送读表配置指令 -->
							<a class="dropdown-item btn-sm btn-send-cmd-read-meter-config"
								th:attr="bind-id=${item.id}, data-iot-device-id=${item.deviceId}, data-meter-number=${item.meterNumber}">
								<i class="fa fa-arrow-up" aria-hidden="true"> <span>发送读表配置指令</span></i>
							</a>
							<!-- 发送读表开户状态指令 -->
							<a class="dropdown-item btn-sm btn-send-cmd-read-account-status"
								th:attr="bind-id=${item.id}, data-iot-device-id=${item.deviceId}, data-meter-number=${item.meterNumber}">
								<i class="fa fa-arrow-up" aria-hidden="true"> <span>发送读表开户状态指令</span></i>
							</a>
							
							<div class="dropdown-divider" style="border-top: 0.8px solid blue;"></div>
							
							<!-- 发送水表配置指令 -->
							<a class="dropdown-item btn-sm btn-send-cmd-meter-config"
								th:attr="bind-id=${item.id}, data-iot-device-id=${item.deviceId}, data-meter-number=${item.meterNumber}">
								<i class="fa fa-arrow-up" aria-hidden="true"> <span>发送水表配置指令</span></i>
							</a>
							<!-- 发送开关阀指令 -->
							<a class="dropdown-item btn-sm btn-send-cmd-open-close"
								th:attr="bind-id=${item.id}, data-iot-device-id=${item.deviceId}">
								<i class="fa fa-arrow-up" aria-hidden="true"> <span>发送开关阀指令</span></i>
							</a>
							<!-- 发送水量阈值指令 -->
							<a class="dropdown-item btn-sm btn-send-cmd-water-amount"
								th:attr="bind-id=${item.id}, data-iot-device-id=${item.deviceId}">
								<i class="fa fa-arrow-up" aria-hidden="true"> <span>发送水量阈值指令</span></i>
							</a>
							<!-- 发送表开户状态指令 -->
							<a class="dropdown-item btn-sm btn-send-cmd-account-status"
								th:attr="bind-id=${item.id}, data-iot-device-id=${item.deviceId}">
								<i class="fa fa-arrow-up" aria-hidden="true"> <span>发送开户状态指令</span></i>
							</a>
							
					    </div>
					</div>
					
				</td>

			</tr>
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">

	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager1')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>

	<script type="text/javascript">
		//----------------------------发送指令相关参数设置、获取、和ajax请求-------------------------------------------------------------------------------------
		/**
		 * 	设置发送指令参数-ajax请求url
		 */
		function setSendCmdParmsUrl(url){
			$("#send-command-parms").attr("data-url", url);//ajax请求url
		}
		/**
		 * 	设置发送指令参数-水表设备主键ID
		 */
		function setSendCmdParmsDeviceId(deviceId){
			$("#send-command-parms").attr("data-device-id", deviceId);//水表设备主键ID
		}
		/**
		 * 	设置发送指令参数-指令类型
		 */
		function setSendCmdParmsCmdType(cmdType){
			$("#send-command-parms").attr("data-command-type", cmdType);//发送指令类型
		}
		/**
		 * 	设置发送指令参数-指令动作
		 */
		function setSendCmdParmsCmdAction(cmdAction){
			$("#send-command-parms").attr("data-command-action", cmdAction);//发送指令动作
		}
		
		/**
		 * 	获取发送指令参数
		 		返回Object对象，对象中各参数说明：
			 		url;//ajax请求url
					id;//水表设备主键ID
					cmdType;//发送指令类型
					cmdAction;//发送指令动作
		 */
		function getSendCommandParms(){
			//data-url="" data-device-id="" data-command-type="0" data-command-action=""
			var url = $("#send-command-parms").attr("data-url");//ajax请求url
			var deviceId = $("#send-command-parms").attr("data-device-id");//水表设备主键ID
			var cmdType = $("#send-command-parms").attr("data-command-type");//发送指令类型
			var cmdAction = $("#send-command-parms").attr("data-command-action");//发送指令动作
			
			var parms = new Object();
			parms.url = url;//ajax请求url
			parms.id = deviceId;//水表设备主键ID
			parms.cmdType = cmdType;//发送指令类型	指令类型 1=水表配置指令；2=开/关阀指令；3=水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
			parms.cmdAction = cmdAction;//发送指令动作
			return parms;
		}
					
		/**
		 * 	发送指令Ajax请求
		 */
		function sendCommandAjaxRequest(){
			//cmdType 指令类型 1=水表配置指令；2=开/关阀指令；3=水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
			//cmdAction 指令动作;
			//console.log("----------生成读表操作指令："+id+":"+cmdAction);
			//var url = BASE_CONTEXT_PATH + "/meter-device/cmd-read-status-generator";
			
			/* 获取发送指令参数
		 		返回Object对象，对象中各参数说明：
			 		url;//ajax请求url
					id;//水表设备主键ID
					cmdType;//发送指令类型
					cmdAction;//发送指令动作 */
			var parms = getSendCommandParms();//获取发送指令参数
			
			var url = parms.url;//ajax请求url
			
			$.post(url, parms, function(res){
				console.log("----------"+JSON.stringify(res));
				if (res != null && res != "") {
					if (res.result_code == "success") {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"success");
						return false;
					}
					util.message(res.result_msg,null,"warning");
				}
			});
			
		}
		/**
		 * 	发送指令取消
		 */
		function cancelSendCommandAjaxRequest(){
			console.log("----------取消发送指令");
		}
		
	</script>

	<script type="text/javascript">
		
	
		var g_is_edit = true;//全局变量是否是编辑操作
		var G_OPEN_CLOSE_METER_CONFIG_DETAIL_DIALOG_ID = "modal-container-meter-config-detail";//水表配置信息对话框ID
		var G_OPEN_CLOSE_COMMAND_DIALOG_ID = "modal-container-command-openclose";//开关阀指令发送对话框ID
		var G_METER_CONFIG_COMMAND_DIALOG_ID = "modal-container-command-meter-config";//水表配置指令发送对话框ID
		var G_WATER_AMOUNT_COMMAND_DIALOG_ID = "modal-container-command-water-amount";//水量阀值指令发送对话框ID
		var G_ACCOUNT_STATUS_WRITE_COMMAND_DIALOG_ID = "modal-container-command-account-status-write";//写表开户状态发送对话框ID
		
		
		//------------------------------	停/复水操作	------------------------------
		/* 
			正常按钮 
		*/
		$('.btn-meter-enable').on('click',function() {
	
			var meterId = $(this).attr("bind-id");
			updateEnabledStatus(meterId, G_ENABLED);//修改停/复水状态
			
		});
		/* 
			停水按钮
		*/
		$('.btn-meter-disable').on('click',function() {
	
			var meterId = $(this).attr("bind-id");
			updateEnabledStatus(meterId, G_DISABLED);//修改启用禁用状态
			
		});
		
		//-----------------停水复水------------------
		var G_ENABLED = 0;//停/复水状态：0=正常（默认）；1=停水
		var G_DISABLED = 1;//停/复水状态：0=正常（默认）；1=停水
		/**
		 * 修改用水状态
		 */
		function updateEnabledStatus(meterId, meterStatus){
			
			var url = BASE_CONTEXT_PATH+'/meters/update-status';
			
			var parms = new Object(); //参数
			parms.meterId = meterId;
			parms.meterStatus = meterStatus;
			
			$.post(url, parms, function(res){
				if (res != null && res != "") {
					if (res.result_code == "success") {
						//设置操作行的停/复水状态
						$("#meter-status-"+meterId).text(getMeterStatusStr(meterStatus));
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			})
			
		}
		/**
		 * 获取用水状态字符串
		 */
		function getMeterStatusStr(meterStatus){
			
			var getMeterStatusStr = "正常";
			if(meterStatus==G_DISABLED){
				getMeterStatusStr = "停水";
			}
			return getMeterStatusStr;
		}
		
		//------------------------	删除功能业务处理	-------------------------------
		//单个删除-确认回调函数
		function deleteSingle(itemId){
			var idsArr=new Array();
			idsArr.push(itemId);		
			delBatchItem(idsArr);
		}
		
		/*
			功能说明:
				删除所选条目(通用删除函数)
			参数说明:
				ids:所要删除的条目ID数组,(可使函数更具通用性.)
		*/
		function delBatchItem(ids) {
			var urlStr = BASE_CONTEXT_PATH + "/meters/delete";
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				contentType : "application/json", // 如果采用json格式传送所有参数时必须有,如果采普通js对象传送时,则不可以加此参数
				//dataType : "html", //	表示返回值类型，不必须,如果返回的是面页，则必须
				data : JSON.stringify(ids),
				success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
					//console.log(res);
					if (res != null && res != "") {
						if (res.result_code == "success") {
							loadPageClickPageNum();
							util.message(res.result_msg,null,"success");
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
			
		}
		
		//--------------批量删除-----------------
		/*
			批量删除确认
		*/
		function deleteConfirm(){			
			//注: 回调函数需要采用引号引起来
			util.confirm("删除所选择的记录？", "xxx", "ok_callback_name", "cancel_callback_name")			
		}
		
		/*
			批量删除确认:确认(回调)
		*/
		function ok_callback_name(id){
			var ids=getSelectedMeterIds();  //此函数定义于_table.html中
			delBatchItem(ids);
		}
		
		/*
			批量删除确认:取消(回调)  桩函数
		*/
		function cancel_callback_name(){
			console.log('cancel!');
		}
		
		/**
			返回所选条目的 id(每行对应一个唯一的ID)
			@returns   
		 */
		function getSelectedMeterIds(){
			var idArr = new Array();
	
			// 扫描用户所选择条目ID
			$("#meter-table .item-selector").each(function(index, elem) {
				if (this.checked) { // 对于己选条目
					var id = $(this).attr("data-bind"); //
					idArr.push(id);
				}
			}); // end of item-selector
			return idArr;
		}
		
		//--------注册设备-------------------------------------------------------------------------------------------------------
		/**
		 * 	注册设备
		 */
		function registerDeviceFn(meterNo) {
			var dataObj = new Object();
			dataObj.verifyCode = meterNo;
			dataObj.manufacturerId = "JR0912X";
			dataObj.manufacturerName = "JRIWA";
			dataObj.model = "JR0912Y";
			dataObj.protocolType = "CoAP";
			dataObj.deviceType = "JRNBWaterMeter";
			var dataJson = JSON.stringify(dataObj);
			var parms = new Object();
			parms.dataJson=dataJson;
			console.log(JSON.stringify(dataObj))
			//需要提交的url	
			var url = BASE_CONTEXT_PATH + "/meter-device/register";
			$.post(url, parms, function(res){
				if (res != null && res != "") {
					if (res.result_code == "success") {
						loadPageClickPageNum(); //	重新刷新当前页面
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		
		//-----------------page loaded ready------------------
		$(function() {
			
			//--------注册设备---------
			/**
			 * 	注册设备
			 */
			$(".btn-register-device").on("click", function(){
				
				var meterNo = $(this).attr("data-meter-no");
				if(meterNo==null || meterNo==""){
					util.message("此水表设备编号为空，不允许注册！",null,"warning");
					return false;
				}
				
				registerDeviceFn(meterNo);//注册设备
				
			});
			
			//--------查看表配置信息-------------------------------------------------------------------------------------------------------
			/**
			 * 	加载水表配置信息对话框
			 */
			$(".load-meter-config-detail-dialog").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				var url = BASE_CONTEXT_PATH + "/meter-device/load-meter-config-detail-dialog";
				var parms = new Object();
				parms.itemId = itemId;
				$("#load-iot-platform-api-dialog").load(url, parms, function(){
					console.log("----------加载水表配置详情对话框完成！");
					DialogUtil.openDialogFn(G_OPEN_CLOSE_METER_CONFIG_DETAIL_DIALOG_ID);//打开表配置信息对话框
				});
				
			});
			
			//--------发送读表配置指令-------------------------------------------------------------------------------------------------------
			/**
			 * 	发送读表配置指令到设备（给水表发送指令）
			 */
			$(".btn-send-cmd-read-meter-config").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				if(itemId==null || itemId==""){
					alert("设备ID为空，请重新初始化！");
					return false;
				}
				console.log("发送读表参数指令到设备（给水表发送指令）");
				
				var url = BASE_CONTEXT_PATH + "/meter-device/cmd-read-generator";
				var cmdType = 5;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				
				setSendCmdParmsUrl(url);//设置发送指令参数-ajax请求url
				setSendCmdParmsDeviceId(itemId);//设置发送指令参数-水表设备主键ID
				setSendCmdParmsCmdType(cmdType);//设置发送指令参数-指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				//setSendCmdParmsCmdAction(cmdAction);//设置发送指令参数-指令动作
				
				util.confirm("确认发送读表参数指令吗？", "xxx", "sendCommandAjaxRequest", "cancelSendCommandAjaxRequest");
				
			});
			
			//--------发送读表开户状态指令-------------------------------------------------------------------------------------------------------
			/**
			 * 	发送读表开户状态指令到设备（给水表发送指令）
			 */
			$(".btn-send-cmd-read-account-status").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				if(itemId==null || itemId==""){
					alert("设备ID为空，请重新初始化！");
				}
				console.log("发送读表开户状态指令到设备（给水表发送指令）");
				
				var url = BASE_CONTEXT_PATH + "/meter-device/cmd-read-status-generator";
				var cmdType = 7;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				
				setSendCmdParmsUrl(url);//设置发送指令参数-ajax请求url
				setSendCmdParmsDeviceId(itemId);//设置发送指令参数-水表设备主键ID
				setSendCmdParmsCmdType(cmdType);//设置发送指令参数-指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				//setSendCmdParmsCmdAction(cmdAction);//设置发送指令参数-指令动作
				
				util.confirm("确认发送读表开户状态指令吗？", "xxx", "sendCommandAjaxRequest", "cancelSendCommandAjaxRequest");
			});
			
			//--------发送读月冻结指令-------------------------------------------------------------------------------------------------------
			/**
			 * 	发送读月冻结指令到设备（给水表发送指令）
			 */
			$(".btn-send-cmd-read-month-freeze").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				if(itemId==null || itemId==""){
					alert("设备ID为空，请重新初始化！");
					return false;
				}
				
				console.log("发送读月冻结指令到设备（给水表发送指令）");
				
				var url = BASE_CONTEXT_PATH + "/meter-device/cmd-freeze-generator";
				var cmdType = 4;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				
				setSendCmdParmsUrl(url);//设置发送指令参数-ajax请求url
				setSendCmdParmsDeviceId(itemId);//设置发送指令参数-水表设备主键ID
				setSendCmdParmsCmdType(cmdType);//设置发送指令参数-指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				//setSendCmdParmsCmdAction(cmdAction);//设置发送指令参数-指令动作
				
				util.confirm("确认发送读月冻结指令吗？", "xxx", "sendCommandAjaxRequest", "cancelSendCommandAjaxRequest");
				
			});
			
			//--------发送水量阀值指令-------------------------------------------------------------------------------------------------------
			/**
			 * 	发送水量阀值指令到设备（给水表发送指令）
			 */
			$(".btn-send-cmd-water-amount").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				setSendCmdParmsDeviceId(itemId);//设置发送指令参数-水表设备主键ID
				
				var cmdType = 3;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				
				var url = BASE_CONTEXT_PATH + "/meter-device/load-send-cmd-water-amount-dialog";
				var parms = new Object();
				parms.itemId = itemId;
				parms.cmdType = cmdType;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				$("#load-iot-platform-api-dialog").load(url, parms, function(){
					console.log("----------加载水量阀值指令对话框完成！");
					DialogUtil.openDialogFn(G_WATER_AMOUNT_COMMAND_DIALOG_ID);//打开发送水量阀值指令对话框
				});
				
			});
			
			//--------发送表开户状态指令-------------------------------------------------------------------------------------------------------
			/**
			 * 	发送表开户状态指令到设备（给水表发送指令）
			 */
			$(".btn-send-cmd-account-status").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				setSendCmdParmsDeviceId(itemId);//设置发送指令参数-水表设备主键ID
				
				var cmdType = 6;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				
				var url = BASE_CONTEXT_PATH + "/meter-device/load-send-cmd-account-status-dialog";
				var parms = new Object();
				parms.itemId = itemId;
				parms.cmdType = cmdType;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				$("#load-iot-platform-api-dialog").load(url, parms, function(){
					console.log("----------加载表开户状态指令对话框完成！");
					DialogUtil.openDialogFn(G_ACCOUNT_STATUS_WRITE_COMMAND_DIALOG_ID);//打开发送水量阀值指令对话框
				});
				
			});
			
			//--------发送开关阀指令-------------------------------------------------------------------------------------------------------
			/**
			 * 	发送开关阀指令到设备（给水表发送指令）
			 */
			$(".btn-send-cmd-open-close").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				setSendCmdParmsDeviceId(itemId);//设置发送指令参数-水表设备主键ID
				
				var cmdType = 2;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				
				var url = BASE_CONTEXT_PATH + "/meter-device/load-send-cmd-open-close-dialog";
				var parms = new Object();
				parms.itemId = itemId;
				parms.cmdType = cmdType;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				$("#load-iot-platform-api-dialog").load(url, parms, function(){
					console.log("----------加载开/关阀指令对话框完成！");
					DialogUtil.openDialogFn(G_OPEN_CLOSE_COMMAND_DIALOG_ID);//打开发送开/关阀指令对话框
				});
				
			});
			
			//--------发送水表配置指令-------------------------------------------------------------------------------------------------------
			/**
			 * 	发送水表配置指令到设备（给水表发送指令）
			 */
			$(".btn-send-cmd-meter-config").on("click", function(){
				var itemId = $(this).attr("bind-id"); //条目ID
				setSendCmdParmsDeviceId(itemId);//设置发送指令参数-水表设备主键ID
				
				var cmdType = 1;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				
				var url = BASE_CONTEXT_PATH + "/meter-device/load-send-cmd-meter-config-dialog";
				var parms = new Object();
				parms.itemId = itemId;
				parms.cmdType = cmdType;//指令类型：0=未知指令（默认值）；1=表配置指令；2=开/关阀指令；3=设置水量阀值指令；4=读月冻结指令；5=读表配置指令；6=写表开户状态指令；7=读表开户状态指令；
				$("#load-iot-platform-api-dialog").load(url, parms, function(){
					console.log("----------加载水表配置指令对话框完成！");
					DialogUtil.openDialogFn(G_METER_CONFIG_COMMAND_DIALOG_ID);//打开发送水表配置指令对话框
				});
				
			});
			
			
			//------------------------------	表计档案详情功能	------------------------------
			/**
			 * 绑定详情按钮的click事件，查看表计档案
			 */
			$(".btn-info-detail-single").on("click", function(){
				
				var meterId = $(this).attr("bind-id");//表计ID
				setMeterIdFn(meterId);//设置用户当前编辑的表计ID
				
				var params = {"functionModule" : getFunctionModuleFn(), "meterId":meterId};
					
				loadMeterBaseList(params, loadMeterBaseListCallback);//加载表计基本信息
				
			});
			/**
			 * 加载表计基本信息回调
			 */
			function loadMeterBaseListCallback(){
				showMeterDetailTab();//显示表计档案选项卡
				transferTabs(G_TABS_METER_ITEM_NAV, G_METERS_DETAIL_TAB, "show");//显示表计档案选项卡
				transferTabs(G_TABS_METER_DETAIL_NAV, G_METER_BASE_DETAIL_TAB, "show");//显示表计档案选项卡中的表计基本信息选项卡
			}
			
			//------------------------------	编辑功能	------------------------------
			/**
			 * 	绑定编辑按钮的click事件
			 */
			$(".btn-edit-meter-single").on("click", function(){
				
				g_is_add = false;//用于保存增加、编辑操作，是增加操作，还是编辑操作
				
				var meterId = $(this).attr("bind-id");//表计ID
				setMeterIdFn(meterId);//设置用户当前编辑的表计ID
				
				var url = BASE_CONTEXT_PATH + "/meters/load-edit-dialog";
				var parms = {"meterId": meterId};
				$("#meters-edit-dialog").load(url, parms, function(){
					//编辑对话框加载完成
					editCallback();
				});
			});
			/**
			 * 编辑操作回调函数
			 */
			function addCallback(){
				$("#modal-title-span").text("编辑：表计信息");
				editCallback();
			}
			
			//------------------------------	删除功能	------------------------------
			/**
			 * 绑定删除按钮的click事件
			 */
			$(".btn-delete-meter").on("click", function(){
				
				var itemId = $(this).attr("bind-id"); //分录ID
				//console.log("itemId:" + itemId);
				util.delConfirm("确认删除此条目？", itemId, "deleteSingle");
				
			});
			
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});


		});
		//创建分页组件实例
		var pager=new Pager("pager1");
		$(function(){			
			pager.init(loadPageClickPageNum,curr_searchCond);			
		});
	</script>
</body>
</html>