<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
/* 输入布局 */
.table-layout td{
	border:0px;
	/* padding:0px; */
}

</style>

</head>
<body>
	
	<div class="card">
		<h5 class="card-header">
			<button type="button" class="btn btn-info btn-sm" id="abnormal-qty-save-btn">
				<i class="fa fa-cloud-upload" aria-hidden="true">&nbsp;保存</i>
			</button>
		</h5>
		<div class="card-body">
			<form class="form-horizontal " role="form" id="abnormal-qty-form">
									
				<!-- 当前所编辑的条目ID -->
				<input type="hidden" id="abnormal-qty-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
				
				<!-- 采用表格进行布局 -->
				<!-- 配置部分 -->
				<table class="table table-sm table-layout" style="width:80%;margin:auto;">
					<tbody>
						<tr>
							<td>类型：</td>
							<td>
								<select class="form-control col-sm-6 " id="abnormal-qty-type" name="type" th:value="${currItem==null ? 1 : currItem.type}">
									<!-- 默认选择第一个 -->
									<option value="1">固定值</option>
									<option value="2">平均值</option>
								</select>
							</td>
						</tr>
						<tr id="tr-months" style="display:none;">
							<td>月数：</td>
							<td>
								<input type="text" th:value="${currItem==null ? '' : currItem.months}" 
											class="form-control col-sm-6 " 
											id="abnormal-qty-months" name="months" 
											maxlength=10 title="请输入1-10位字符" placeholder="月数" />
							</td>
						</tr>
						<tr>
							<td>上限值：</td>
							<td>
								<input type="text" style="display:inline-block;"
											th:value="${currItem==null ? '' : currItem.upperBound}" 
											class="form-control col-sm-6 " 
											id="abnormal-qty-upper-bound" name="upperBound" 
											maxlength=10 title="请输入1-10位字符" placeholder="上限值" />
									<b id="upper-bound-b" style="display:none;">%/日</b>
							</td>
						</tr>
						<tr>
							<td>下限值：</td>
							<td>
								<input type="text" style="display:inline-block;"
											th:value="${currItem==null ? '' : currItem.lowerBound}" 
											class="form-control col-sm-6 " 
											id="abnormal-qty-lower-bound" name="lowerBound" 
											maxlength=10 title="请输入1-10位字符" placeholder="下限值" />
									<b id="lower-bound-b" style="display:none;">%/日</b>
							</td>
						</tr>
						<tr>
							<td>备注：</td>
							<td>
								<textarea rows="3" cols="20" class="form-control col-sm-6" 
										id="abnormal-fee-remark" name="remark" 
										th:text="${currItem==null ? '' : currItem.remark}" 
										maxlength=100 title="请输入1-100位字符" placeholder="备注"></textarea>
							</td>
						</tr>
						
					</tbody>
					
				</table>
																						
			</form>
		</div>
		<!-- <div class="card-footer">
			Card footer
		</div> -->
	</div>

	<script type="text/javascript">
		
		/**
		 * 保存配置信息到DB
		 */
		function saveFn(){
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/abnormal-quantity/insert";
			
			var id = $("#abnormal-qty-id").val();
			if(id!=null && id!=""){
				urlStr = BASE_CONTEXT_PATH + "/abnormal-quantity/update";
			}
			var form=new FormData($("#abnormal-qty-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				/* contentType : "application/json", */ // 如果采用json格式传送所有参数时必须有,如果采普通js对象传送时,则不可以加此参数
				//dataType : "html", // 表示返回值类型，不必须,如果返回的是面页，则必须
				/* data : JSON.stringify(parms), */
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
					if (res != null && res != "") {
						//var obj = $.parseJSON(res);						
						if (res.result_code == "success") {
							
							var abnormalQtyId = res.abnormalQtyId;
							$("#abnormal-qty-id").val(abnormalQtyId);
							
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"success");
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		}
	
		/**
		 * 类型为固定值时隐藏部分内容（月数、上限值后缀和下限值后缀）
		 */
		function showFixedTypeFn(){
			$("#tr-months").hide();
			$("#upper-bound-b").hide();
			$("#lower-bound-b").hide();
		}
		/**
		 * 类型为平均值时显示部分内容（月数、上限值后缀和下限值后缀）
		 */
		function showAvgTypeFn(){
			$("#tr-months").show();
			$("#upper-bound-b").show();
			$("#lower-bound-b").show();
		}
		
		//-----------------page loaded ready------------------
		$(function() {
			
			/**
			 * 绑定保存按钮的click事件
			 */
			$("#abnormal-qty-save-btn").on("click", function(){
				saveFn();
			});
			
			/**
			 * 绑定类型的change事件
			 */
			$("#abnormal-qty-type").on("change", function(){
				var type = $(this).val();
				if(type==1){//固定值
					showFixedTypeFn();//类型为固定值时隐藏部分内容（月数、上限值后缀和下限值后缀）
				}else{//平均值
					showAvgTypeFn();//类型为平均值时显示部分内容（月数、上限值后缀和下限值后缀）
				}
			});
		});
	</script>
</body>
</html>