<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>
<!-- JS Scripts-->
<!-- <script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script> -->

</head>
<body>

	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix medic-label role-main">
		<div class="col-md-12 column">
<!-- "src/main/resources/templates/abnormal_cfg/abnormal_qty/abnormal_qty_table.html" -->
			<!-- 容器:列表 -->
			<div class="table-container">
				<!-- 异常水量报警配置信息 -->
				<div th:include="abnormal_cfg/abnormal_qty/abnormal_qty_table" th:remove="tag"></div>
			</div>

		</div>
	</div>

	<!-- footer -->
	<!-- <div th:include="/thymeleaf/common/_footer::footer" class="footer"></div> -->

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

	<script>
	
		//--------------------公共查询函数--------------------------

		//-------------------PAGE LOADED READY--------------------

		$(function() {
			//------------init-------------

			//---------事件绑定--------------
			
		});
	</script>



</body>
</html>