<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>



<script type="text/javascript">


</script>

</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-pledge-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>编辑:客户-押金信息</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-pledge-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="pledge-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									<!-- 当前所编辑条目的客户ID -->
									<input type="hidden" id="pledge-customer-id" name="customerId" value="" />
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td style="width:50%">
													<!--客戶姓名-->
													<div class="form-group form-inline">
														<label for="pledge-name" class="col-sm-4 control-label">客戶姓名</label>
														<span class="input-group-sm col-sm-8">
															<input type="text"
																th:value="${currItem==null ? '' : currItem.customerName}" 
																class="form-control" 
																id="bank-customer-name" name="customerName" 
																maxlength=32 title="请输入1-30" placeholder="客戶姓名"/>
														</span>
													</div>
												</td>	
												<td>
													<!-- 押金类型 -->
													<div class="form-group form-inline">
														<label for="pledge-description" class="col-sm-4 control-label">押金类型</label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="pledge-pledge-type" name="pledgeType" th:value="${currItem==null ? 1 : currItem.pledgeTypeStr}">
																<!-- 默认选择第一个 -->
																<option value="1" th:attr="selected=( ${currItem!=null && currItem.pledgeType==1} )? 'selcted' ">普通押金</option>
																<option value="2" th:attr="selected=( ${currItem!=null && currItem.pledgeType==2} )? 'selcted' ">其他押金</option>												
															</select>
														</span>
													</div>
												</td>
																					
											</tr>
											<tr>
												
												<td>
													<!-- 押金金额 -->
													<div class="form-group form-inline">
														<label for="customers-description" class="col-sm-4 control-label">押金金额</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																th:value="${currItem==null ? '' : currItem.pledgeAmount}" 
																id="pledge-pledge-amount" name="pledgeAmount" 
																maxlength=10 title="请输入1-10位字符" placeholder="押金金额"/>
														</span>
													</div>
												</td>
												<td>
													<!-- 是否已退-->
													<div class="form-group form-inline">
														<label for="customers-description" class="col-sm-4 control-label">是否已退</label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="pledge-is-refund" name="isRefund" th:value="${currItem==null ? 1 : currItem.isRefundStr}">
																<!-- 默认选择第一个 -->
																<option value="1" th:attr="selected=( ${currItem!=null && currItem.isRefund==1} )? 'selcted' ">是</option>
																<option value="2" th:attr="selected=( ${currItem!=null && currItem.isRefund==2} )? 'selcted' ">否</option>												
															</select>
														</span>
													</div>          
 												</td>
											</tr>
											
										</tbody>
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default btn-sm"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary btn-sm"	id="btn-pledge-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
		/*]]>*/
	</script>
	<script>
		//------------------业务操作----------------------
		
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiPledgeItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/customer-pledge/insert";
			
			var pledgeId= $("#pledge-id").val();			
			if(pledgeId!=null && pledgeId!=""){
				urlStr = BASE_CONTEXT_PATH + "/customer-pledge/update";
			}
			var form=new FormData($("#dialog-modi-pledge-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					if (res != null && res != "") {
						if (res.result_code == "success") {
							loadPledgePage();  //	重新刷新当前页面
							if (closeDialogFlag){
								closePledgeDialog();
							}
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
		
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-pledge-modify-and-back').on('click',function() {
				modiPledgeItem(true);				
			});

		});
	</script>
	
	

	</script>
	
	</th:block>
	
</body>
</html>