<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>产品登记</title>

<style type="text/css">
	/* .input-group-text{
		font-size: .875rem;
		background-color: #f8f9fa;
	}
	.input-group-prepend, .input-group-text {
		height: 31px;
	} */
	table.table-layout tbody .form-inline label {
		display: block!important;
		/* float: right; */
		/* width: 60%; */
		/* align: center!important; */
	} */
	/* table.table-layout tbody input,select {
		width: 200px;
	} */
</style>
</head>
<body>
	<br>
	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column"></div>
				<div class="col-md-8 column">
					<table class="table-layout table">
					    <tbody>
					    	<tr>
								<td>
									<!-- 生产厂商 -->
									<div class="form-group form-inline">
										<label for="factory-code" class="col-sm-4 control-label">生产厂商</label>
										<span class="input-group-sm col-sm-8">
											<select class="form-control" id="factory-code" name="factoryCode" style="width: 150px;">
												<!-- 默认选择第一个 -->
												<!-- <option value="">-请选择-</option> -->
												<option value="1">普惠</option>
											</select>
										</span>
									</div>
								</td>	
								<td>
									<!-- 出厂编号起始 -->
									<div class="form-group form-inline">
										<label for="product-no-start" class="col-sm-4 control-label">出厂编号起始</label>
										<span class="input-group-sm col-sm-8">
											<input type="number" class="form-control" id="product-no-start" name="productNo" data-item-id="" style="width: 150px;"
					        					value="1" title="请输入出厂编号起始" placeholder="出厂编号起始" />
										</span>
									</div>
								</td>												
							</tr>
							<tr>
								<td>
									<!-- IOT运营商 -->
									<div class="form-group form-inline">
										<label for="iot-operator-ct" class="col-sm-4 control-label">IOT运营商</label>
										<span class="input-group-sm col-sm-8 form-inline">
											<label class="radio-inline"><input type="radio" class="" id="iot-operator-ct" name="iot-operator" value="1" checked="checked">&nbsp;电信</label>
											&nbsp;
											<label class="radio-inline"><input type="radio" class="" id="iot-operator-cm" name="iot-operator" value="2">&nbsp;移动</label>
											&nbsp;
											<label class="radio-inline"><input type="radio" class="" id="iot-operator-cu" name="iot-operator" value="3">&nbsp;联通</label>
										</span>
									</div>
								</td>	
								<td>
									<!-- 自动生成出厂编号 -->
									<div class="form-group form-inline">
										<label for="checkbox-auto-generator-number" class="col-sm-4 control-label">自动生成出厂编号</label>
										<span class="input-group-sm col-sm-8">
											<!-- <label><input type="checkbox" class="" id="checkbox-auto-generator-number" checked="checked">&nbsp;</label> -->
											<input id="checkbox-auto-generator-number" type="checkbox" /><!-- 默认是选中状态，初始初始化时设置 -->
										</span>
									</div>
								</td>											
							</tr>
					      <!-- <tr>
					        <td style="width: 10%;">生产厂商</td>
					        <td style="width: 40%;">
					        	<select class="form-control" id="factory-code" name="factoryCode">
									默认选择第一个
									<option value="">-请选择-</option>
									<option value="1">普惠</option>
								</select>
					        </td>
					        <td style="width: 10%;">出厂编号起始</td>
					        <td style="width: 40%;">
					        	<input type="number" class="form-control" id="product-no-start" name="productNo" data-item-id=""
					        		value="1" title="请输入初始编号起始" placeholder="初始编号起始" />
					        </td>
					      </tr>
					      <tr>
					        <td style="width: 10%;">IOT运营商</td>
					        <td style="width: 40%;">
					        	<div class="input-group-prepend">
									<div class="input-group-text">
										<label class="radio-inline"><input type="radio" class="" id="iot-operator-ct" name="iot-operator" value="1" checked="checked">&nbsp;电信</label>
										&nbsp;
										<label class="radio-inline"><input type="radio" class="" id="iot-operator-cm" name="iot-operator" value="2">&nbsp;移动</label>
										&nbsp;
										<label class="radio-inline"><input type="radio" class="" id="iot-operator-cu" name="iot-operator" value="3">&nbsp;联通</label>
									</div>
								</div>
				        	</td>
					        <td style="width: 10%;">自动生成出厂编号</td>
					        <td style="width: 40%;">
					        	<div class="input-group-prepend btn-default">
									<div class="input-group-text">
										<label><input type="checkbox" class="" id="checkbox-auto-generator-number" checked="checked">&nbsp;</label>
									</div>
								</div>
					        </td>
					      </tr> -->
					      <tr>
					      	<td colspan="2">
					      		<hr/>
					      	</td>
					      </tr>
					      <tr>
								<td>
									<!-- 模组号 -->
									<div class="form-group form-inline">
										<label for="curr-edit-module-no" class="col-sm-4 control-label">模组号</label>
										<span class="input-group-sm col-sm-8 form-inline">
											<b id="curr-edit-module-no" style="font-size: 16px;font-weight: bold;">863434045074033</b>
										</span>
									</div>
								</td>	
								<td>
									<!-- 出厂编号 -->
									<div class="form-group form-inline">
										<label for="checkbox-auto-generator-number" class="col-sm-4 control-label">出厂编号</label>
										<span class="input-group-sm col-sm-8">
											<input type="number" class="form-control" id="curr-edit-product-no" name="productNo" style="font-size: 16px;font-weight: bold; width: 150px;"
					        					value="" maxlength=12 title="请输入12个数字" placeholder="出厂编号" />
										</span>
									</div>
								</td>											
							</tr>
					      <!-- <tr>
					        <td style="width: 10%;">模组号</td>
					        <td id="curr-edit-module-no" style="width: 40%;">863434045074033</td>
					        <td style="width: 10%;">出厂编号</td>
					        <td style="width: 40%;">
					        	<input type="number" class="form-control" id="curr-edit-product-no" name="productNo" 
					        		value="" maxlength=12 title="请输入12个数字" placeholder="出厂编号" />
					        </td>
					      </tr> -->
					      <tr>
					      	<td colspan="2">
					      		<hr/>
					      	</td>
					      </tr>
					      <tr>
								<td>
									&nbsp;
								</td>	
								<td>
									<!-- 操作 -->
									<div class="form-group form-inline">
										<label for="checkbox-auto-generator-number" class="col-sm-4 control-label">&nbsp;</label>
										<span class="input-group-sm col-sm-8 form-inline">
									        	<!-- <input class="weui-switch" type="checkbox" style="float: right;"> -->
												<!-- <div class="input-group-prepend btn-default" style="float: right;">
													<div class="input-group-text">
														<label><input type="checkbox" class="" id="">&nbsp;自动保存</label>
													</div>
												</div> -->
												<input id="checkbox-auto-save" type="checkbox" style="float: right; heigth: 30px;" />
												&nbsp;
												<button type="button" class="btn btn-primary" id="btn-confirm-save" style="float: right; height: 29px;">确认保存</button>
								        	</span>
										</span>
									</div>
								</td>											
							</tr>
					      <!-- <tr>
					      	<td style="width: 10%;"></td>
					        <td style="width: 40%;"></td>
					        <td style="width: 10%;"></td>
					        <td style="width: 40%;">
					        	<div class="input-group-prepend btn-default">
									<div class="input-group-text">
										<label><input type="checkbox" class="" id="checkbox-auto-save">&nbsp;自动保存</label>
									</div>
								</div>
								<input type="checkbox" class="checkbox" id="checkbox-auto-save" value=""/>
					        	<button type="button" class="btn btn-primary" id="btn-confirm-save">确认保存</button>
					        </td>
					      </tr> -->
					    </tbody>
					</table>
				</div>
				<div class="col-md-2 column"></div>
			</div>
			
		</div>
		
		<!-- <div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column"></div>
				<div class="col-md-8 column">
					<table class="table-layout table">
					    <tbody>
					    	<tr>
								<td>
									模组号
									<div class="form-group form-inline">
										<label for="curr-edit-module-no" class="col-sm-4 control-label">模组号</label>
										<span class="input-group-sm col-sm-8 form-inline">
											<b id="curr-edit-module-no">863434045074033</b>
										</span>
									</div>
								</td>	
								<td>
									出厂编号
									<div class="form-group form-inline">
										<label for="checkbox-auto-generator-number" class="col-sm-4 control-label">出厂编号</label>
										<span class="input-group-sm col-sm-8">
											<input type="number" class="form-control" id="curr-edit-product-no" name="productNo" 
					        					value="" maxlength=12 title="请输入12个数字" placeholder="出厂编号" />
										</span>
									</div>
								</td>											
							</tr>
					      <tr>
					        <td style="width: 10%;">模组号</td>
					        <td id="curr-edit-module-no" style="width: 40%;">863434045074033</td>
					        <td style="width: 10%;">出厂编号</td>
					        <td style="width: 40%;">
					        	<input type="number" class="form-control" id="curr-edit-product-no" name="productNo" 
					        		value="" maxlength=12 title="请输入12个数字" placeholder="出厂编号" />
					        </td>
					      </tr> --
					    </tbody>
					</table>
				</div>
				<div class="col-md-2 column"></div>
			</div>
		</div> -->
		<!-- <div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column"></div>
				<div class="col-md-8 column">
					<table class="table-layout table">
					    <tbody>
					    	<tr>
								<td style="width:50%; float: left;">
									模组号
									<div class="form-group form-inline">
										<label for="" class="col-sm-4 control-label">模组号</label>
										<span class="input-group-sm col-sm-8 form-inline">
											&nbsp;
										</span>
									</div>
								</td>	
								<td style="width:50%; float: right;">
									出厂编号
									<div class="form-group form-inline">
										<label for="checkbox-auto-generator-number" class="col-sm-4 control-label">&nbsp;</label>
										<span class="input-group-sm col-sm-8 form-inline">
											<div class="input-group-prepend btn-default">
												<div class="input-group-text">
													<label><input type="checkbox" class="" id="checkbox-auto-save">&nbsp;自动保存</label>
												</div>
											</div>
											<input type="checkbox" class="checkbox" id="checkbox-auto-save" value=""/>
								        	<button type="button" class="btn btn-primary" id="btn-confirm-save">确认保存</button>
										</span>
									</div>
								</td>											
							</tr>
					      <tr>
					      	<td style="width: 10%;"></td>
					        <td style="width: 40%;"></td>
					        <td style="width: 10%;"></td>
					        <td style="width: 40%;">
					        	<div class="input-group-prepend btn-default">
									<div class="input-group-text">
										<label><input type="checkbox" class="" id="checkbox-auto-save">&nbsp;自动保存</label>
									</div>
								</div>
								<input type="checkbox" class="checkbox" id="checkbox-auto-save" value=""/>
					        	<button type="button" class="btn btn-primary" id="btn-confirm-save">确认保存</button>
					        </td>
					      </tr>
					    </tbody>
					</table>
				</div>
				<div class="col-md-2 column"></div>
			</div>
		</div> -->
	</div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
	<script type="text/javascript">
		var g_auto_refresh_product_register_timer = null;
		/**
		 * 	定时自动刷新产品注册，2秒刷新一次
		 */
		function autoRefreshProductRegister(){
			//查询当前编辑的出厂编号（出厂编号为空的记录，只返回一条记录）
			searchCurrEditMeterNumber();
			g_auto_refresh_product_register_timer = setTimeout(autoRefreshProductRegister, 2000);//2秒刷新一次
			console.log("----------启动自动刷新产品注册："+g_auto_refresh_product_register_timer);
		}
		/**
		 * 	取消定时自动刷新产品注册
		 */
		function clearAutoRefreshProductRegister(){
			console.log("----------取消自动刷新产品注册："+g_auto_refresh_product_register_timer);
			clearTimeout(g_auto_refresh_product_register_timer);//取消2秒刷新一次
			g_auto_refresh_product_register_timer = null;
		}
		$(function(){
			autoRefreshProductRegister();//定时自动刷新产品注册，2秒刷新一次
		})
	</script>
	<script type="text/javascript">
	
		var g_serial_number_countor = 1;//水表编号中流水号计数器
		
		/**
		 * 	获取是否自动生成出厂编号
		 * 		return true:自动生成出厂编号；false:不自动生成出厂编号
		 */
		function getIsAutoGenNumber(){
			//var isAutoGenNumber = $("#checkbox-auto-generator-number").is(":checked");
			var isAutoGenNumber = $("#checkbox-auto-generator-number").bootstrapSwitch('state');
			return isAutoGenNumber;
		}
		
		/**
		 * 	获取是否自动保存
		 * 		return true:自动保存；false:不自动保存
		 */
		function getIsAutoSave(){
			//var isAutoSave = $("#checkbox-auto-save").is(":checked");
			var isAutoSave = $("#checkbox-auto-save").bootstrapSwitch('state');
			return isAutoSave;
		}
		
		/**
		 * 	获取自动生成的出厂编号
		 * 	编号长度为12 位数字。第一位为电路板生产厂家代码，第二位 为运营商代码（电信为1，移动为2，联通为3） ，第三至十二位为 生 产 日 期 流 水 编 号 （ 示 例 2019 年 2 月 6 日 生 产 编 号 为 1902060001）。
		 */
		function getAutoGenMeterNumber(){
			
			var countor = Number(g_serial_number_countor);//计数器
			
			var factoryCode = $("#factory-code").val();//生产厂商
			console.log("----------自动生成出厂编号中的1位生产厂商："+factoryCode);
			var iotOperator = $("input[name='iot-operator']:checked").val();//IOT运营商：1=电信；2=移动；3=联通
			console.log("----------自动生成出厂编号中的1位IOT运营商："+iotOperator);
			var yymmdd = moment().format("YYMMDD");//获取日期yymmdd
			console.log("----------自动生成出厂编号中的6位日期："+yymmdd);
			var serialNumber = 1;//流水号
			if(countor<10){
				serialNumber = "000"+countor;
			}else if(countor<100){
				serialNumber = "00"+countor;
			}else if(countor<1000){
				serialNumber = "0"+countor;
			}else{
				serialNumber = ""+countor;
			}
			console.log("----------自动生成出厂编号中的4位流水号："+serialNumber);
			//出厂编号，共12位=1位生产厂商+1位IOT运营商+6位日期+4位流水号
			var meterNumber = factoryCode+""+iotOperator+""+yymmdd+""+serialNumber;
			console.log("----------自动生成12位出厂编号："+meterNumber);
			
			countor = countor+1;
			g_serial_number_countor = countor;//计数器
			
			return meterNumber;
		}
		
		/**
		 * 	查询当前编辑的出厂编号（出厂编号为空的记录，只返回一条记录）
		 */
		function searchCurrEditMeterNumber(){
			var url = BASE_CONTEXT_PATH + "/module-product-register/search-meter-number-isnull";
			$.post(url, null, function(res){
				//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
				if (res != null && res != "") {
					//var obj = $.parseJSON(res);						
					if (res.result_code == "success") {
						
						var mpNo = res.mpNo;//出厂表号为空的记录
						if(mpNo!=null){
							
							clearAutoRefreshProductRegister();//取消定时自动刷新产品注册
							$("#btn-confirm-save").attr("disabled", false);//设置保存按钮为可编辑状态
							
							var isAutoGenNumber = getIsAutoGenNumber();//获取是否自动生成出厂编号，return true:自动生成出厂编号；false:不自动生成出厂编号
							if(isAutoGenNumber){
								
								//获取自动生成的出厂编号
								//编号长度为12 位数字。第一位为电路板生产厂家代码，第二位 为运营商代码（电信为1，移动为2，联通为3） ，第三至十二位为 生 产 日 期 流 水 编 号 （ 示 例 2019 年 2 月 6 日 生 产 编 号 为 1902060001）。
								var meterNumber = getAutoGenMeterNumber();
								$("#curr-edit-product-no").val(meterNumber);//设置当前编辑的出厂编号
								
								//dialog type: success warning info error,默认为info
								//util.message("已自动生成出厂编号，请确认！",null,"warning");
								
								var isAutoSave = getIsAutoSave();//获取是否自动保存，return true:自动保存；false:不自动保存
								if(isAutoSave){
									$("#btn-confirm-save").attr("disabled", true);//设置保存按钮为禁用状态
									setTimeout(function(){
										//$(".modal").modal("hide");//关闭所有对话框
										saveCurrEditMeterNumber();//保存当前编辑的出厂编号
									}, 2000);//2秒后关闭所有对话框，并保存
								}
								
							}
							
							$("#curr-edit-module-no").text(mpNo.moduleNo);//设置当前编辑的模组号
							$("#curr-edit-product-no").attr("data-item-id", mpNo.id);//主键ID
							
						}else{
							$("#curr-edit-product-no").val("");//设置当前编辑的出厂编号
							$("#curr-edit-module-no").text("");//设置当前编辑的模组号
							$("#curr-edit-product-no").attr("data-item-id", "");//主键ID
							$("#btn-confirm-save").attr("disabled", true);//设置保存按钮为禁用状态
						}
						
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		
		/**
		 * 	保存当前编辑的出厂编号
		 */
		function saveCurrEditMeterNumber(){
			
			var id = $("#curr-edit-product-no").attr("data-item-id");//主键ID
			var productNo = $("#curr-edit-product-no").val();//当前编辑的出厂编号
			console.log("----------主键ID："+id);
			console.log("----------出厂编号："+productNo);
			if(id==null || id=="" || productNo==null || productNo==""){
				console.log("请确认出厂编号！主键ID或出厂编号可能为空！");
				//dialog type: success warning info error,默认为info
				//util.message("请确认出厂编号！",null,"warning");
				//return false;
			}
			
			var urlStr = BASE_CONTEXT_PATH + "/module-product-register/update";
			var parms = new Object();
			parms.id = id;
			parms.productNo = productNo;
			UseLoading.show();//显示正在加载提示
			$.post(urlStr, parms, function(res){
				UseLoading.hide();//隐藏正在加载提示
				//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
				if (res != null && res != "") {
					//var obj = $.parseJSON(res);						
					if (res.result_code == "success") {
						//searchCurrEditMeterNumber();//查询当前编辑的出厂编号（出厂编号为空的记录，只返回一条记录）
		 				autoRefreshProductRegister();//定时自动刷新产品注册
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		
		//--------------初始化Bootstrap Switch大小和开关------------------------------------------
		/**
		 * 	初始化自动生成出厂编号开关和自动保存开关的开关状态和大小
		 */
		function initSwitchSizeAndOnOff(){
			$("#checkbox-auto-generator-number").bootstrapSwitch("state", true);//设置自动生成出厂编号开关状态为开
			$("#checkbox-auto-generator-number").bootstrapSwitch("size","small");//设置自动生成出厂编号开关大小为small
			$("#checkbox-auto-save").bootstrapSwitch("size","small");//设置自动保存开关大小为small
		}
		
		$(function(){
			
			/**
			 * 	绑定初始编号起始值的input事件
			 */
			$("#product-no-start").on("input", function(){
				var serialNumberStart = $("#product-no-start").val();//初始编号起始
				if(serialNumberStart==null || serialNumberStart==""){
					console.log("----------用户设置的初始编号起始值=null，设置默认值为1并赋值到计数器："+serialNumberStart);
					$("#product-no-start").val("1");//初始编号起始
					serialNumberStart = 1;
				}else{
					if(serialNumberStart<=0){
						console.log("----------用户设置的初始编号起始值<=0，设置默认值为1并赋值到计数器："+serialNumberStart);
						$("#product-no-start").val("1");//初始编号起始
						serialNumberStart = 1;
					}
					if(serialNumberStart.length>4){
						serialNumberStart = serialNumberStart.substr(0, 4);
						console.log("----------用户设置的初始编号起始值长度>4，截取初始编号起始值的前4位并赋值到计数器："+serialNumberStart);
						$("#product-no-start").val(serialNumberStart);//初始编号起始
					}
				}
				console.log("----------把用户设置的初始编号起始值赋值到计数器："+serialNumberStart);
				g_serial_number_countor = serialNumberStart;//初始编号起始值设置为计数器初始值
				var isAutoGenNumber = getIsAutoGenNumber();//获取是否自动生成出厂编号，return true:自动生成出厂编号；false:不自动生成出厂编号
				if(isAutoGenNumber){
					//获取自动生成的出厂编号
					//编号长度为12 位数字。第一位为电路板生产厂家代码，第二位 为运营商代码（电信为1，移动为2，联通为3） ，第三至十二位为 生 产 日 期 流 水 编 号 （ 示 例 2019 年 2 月 6 日 生 产 编 号 为 1902060001）。
					var meterNumber = getAutoGenMeterNumber();
					$("#curr-edit-product-no").val(meterNumber);//设置当前编辑的出厂编号
				}
			});
			
			/**
			 * 	绑定当前编辑的出厂编号的input事件，验证出厂编号长度
			 */
			$("#curr-edit-product-no").on("input", function(){
				var productNo = $(this).val();
				if(productNo!=null && productNo.length>12){
					console.log("----------出厂编号不为空，且出厂编号长度>12，截取出厂编号的前12个字符，并设置到输入框");
					console.log("----------出厂编号："+productNo);
					productNo = productNo.substr(0, 12);
					console.log("----------截取后正确的出厂编号："+productNo);
					$(this).val(productNo);
				}
			});
			
			/**
			 * 	自动生成出厂编号
			 */
			/* $("#checkbox-auto-generator-number").on("click", function(){
				var autoGenFlag = $(this).is(":checked");
				console.log("----------自动生成出厂编号："+autoGenFlag);
			}); */
			/**
			 * 	自动生成出厂编号
			 */
			$("#checkbox-auto-generator-number").bootstrapSwitch({
				onText:"开",//左侧开关显示文本
		        offText:"关",//右侧开关显示文本
		        onColor:"success",//左侧开关颜色  
		        offColor:"default",//右侧开关颜色
		        handleWidth: "70",//开关左右2侧的宽度
		        labelWidth: "80",//开关中间的宽度
		        size: "mini",//开关大小，取值范围：null|mini|small|normal|large
	        	onSwitchChange:function(event,state){  
		            if(state==true){  
		               console.log("----------自动生成出厂编号已打开");  
		            }else{  
		               console.log("----------自动生成出厂编号已关闭");  
		            }  
		        },
		        /* onInit: function(event,state){
		        	console.log("----------自动生成出厂编号默认值："+state);
		        	//$("#checkbox-auto-generator-number").bootstrapSwitch('state', true);
		        } */
			});
			
			/**
			 * 	自动保存
			 */
			/* $("#checkbox-auto-save").on("click", function(){
				/* var autoSaveFlag = $(this).is(":checked");
				console.log("----------自动保存："+autoSaveFlag);
				if(autoSaveFlag){
					
					$("#btn-confirm-save").attr("disabled", true);//设置保存按钮为禁用状态
					$("#checkbox-auto-generator-number").prop("checked", true);//设置自动保存时必须开启自动生成出厂编号
					
					var id = $("#curr-edit-product-no").attr("data-item-id");//主键ID
					var productNo = $("#curr-edit-product-no").val();//当前编辑的出厂编号
					console.log("----------主键ID："+id);
					console.log("----------出厂编号："+productNo);
					if(id==null || id=="" || productNo==null || productNo==""){
						//dialog type: success warning info error,默认为info
						util.message("请确认出厂编号！",null,"warning");
						return false;
					}
					
					saveCurrEditMeterNumber();//保存当前编辑的出厂编号
				}else{
					$("#btn-confirm-save").attr("disabled", false);//设置保存按钮为可编辑状态
				} *
				
			}); */
			/**
			 * 	自动保存
			 */
			$("#checkbox-auto-save").bootstrapSwitch({
				onText:"开",//左侧开关显示文本
		        offText:"关",//右侧开关显示文本
		        labelText: "自动保存",//开关中间显示文本
		        onColor:"success",//左侧开关颜色  
		        offColor:"default",//右侧开关颜色
		        handleWidth: "70",//开关左右2侧的宽度
		        labelWidth: "80",//开关中间的宽度
		        size: "mini",//开关大小，取值范围：null|mini|small|normal|large
	        	onSwitchChange:function(event,state){  
	        		if (state == true) {
						console.log("----------自动保存已打开");
						$("#btn-confirm-save").attr("disabled", true);//设置保存按钮为禁用状态
						//$("#checkbox-auto-generator-number").prop("checked", true);//设置自动保存时必须开启自动生成出厂编号
						$("#checkbox-auto-generator-number").bootstrapSwitch('state', true);//设置自动保存时必须开启自动生成出厂编号

						var id = $("#curr-edit-product-no").attr("data-item-id");//主键ID
						var productNo = $("#curr-edit-product-no").val();//当前编辑的出厂编号
						console.log("----------主键ID：" + id);
						console.log("----------出厂编号：" + productNo);
						if (id == null || id == "" || productNo == null || productNo == "") {
							//dialog type: success warning info error,默认为info
							util.message("请确认出厂编号！", null, "warning");
							return false;
						}

						saveCurrEditMeterNumber();//保存当前编辑的出厂编号
					} else {
						console.log("----------自动保存已关闭");
						$("#btn-confirm-save").attr("disabled", false);//设置保存按钮为可编辑状态
					}
		        },
		        /* onInit: function(event,state){
		        	console.log("----------自动生成出厂编号默认值："+state);
		        	//$("#checkbox-auto-generator-number").bootstrapSwitch('state', true);
		        } */
			});

			/**
			 * 	确认保存
			 */
			$("#btn-confirm-save").on("click", function() {
				var id = $("#curr-edit-product-no")
						.attr("data-item-id");//主键ID
				var productNo = $("#curr-edit-product-no").val();//当前编辑的出厂编号
				console.log("----------主键ID：" + id);
				console.log("----------出厂编号：" + productNo);
				if (id == null || id == "" || productNo == null
						|| productNo == "") {
					//dialog type: success warning info error,默认为info
					util.message("请确认出厂编号！", null, "warning");
					return false;
				}

				saveCurrEditMeterNumber();//保存当前编辑的出厂编号
			});
			
			initSwitchSizeAndOnOff();//初始化自动生成出厂编号开关和自动保存开关的开关状态和大小
			
		});
	</script>

</body>
</html>