<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="common/common_head::headx('模组号-出厂编号对照登记')" th:remove="tag"></div>

</head>
<body>
	<!-- 用户管理主页 -->
	<!-- <div class="container-fluid"> -->
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<!-- 业务页面 -->
				<div id="container">
					<!-- content -->
				</div>
			</div>
		</div>
	</div>

	<!-- 页面正在加载loading-->
	<script src="/pivas/js/common/UseLoading.js"></script>

	<script>
		$(function() {
			/* 
				加载用户框架页
			*/
			function loadMainPage(parms, callback) {
				var url = "/module-product-register/main";
				var callbackFunc = callback;
				var containerId = "#container";
				//UseLoading.show();//显示正在加载提示
				loadPage(containerId, url, parms, function(){
					// UseLoading.hide();//隐藏正在加载提示
				});
			}
			
			/* 
				加载框架页面 
			*/
			loadMainPage(null, null);
		})
	</script>

</body>
</html>