<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>

/* 输入布局 */
.table{
	width: 100%;
}
.table-layout td{
	border-top: 0px;
}

</style>

<!-- color picker 颜色选择器 -->
<!-- <link 	href="/color-picker/dist/css/bootstrap-colorpicker.css"	rel="stylesheet" />
<script  src="/color-picker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script> -->
<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-record-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>抄表记录</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-record-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="record-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table-sm">
										<tbody>
											<tr>
												<td>
													<!-- 表计 -->
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">表计</label>
														<!-- <select class="form-control col-sm-6 " id="record-meter-id" name="meterId" th:value="${currItem==null ? '' : currItem.meterId}">
															默认选择第一个
															<option value="" >-请选择-</option>
															<span th:each="item,iterStat: ${meterMapList}" th:remove="tag">
																<option th:value="${item.METER_ID}"  th:attr="data-customer-id=${item.CUSTOMER_ID},data-customer-propname=${item.PROP_NAME},selected=${currItem!=null && item.METER_ID==currItem.meterId ? 'true':'false'}"
																		th:text="${item.PLACE}">数据字典的值</option>
															</span>
															
														</select> -->
														<input type="hidden" id="record-meter-id" name="meterId" th:value="${currItem==null ? '0' : currItem.meterId}" placeholder="表计ID" />
														<input type="text" onclick="showSelectZTreeFn(); return false;" id="record-meter-place" class="form-control col-sm-6 select-ztree-btn" readonly 
															th:value="${currItem==null ? '请选择表计' : currItem.meterId}" placeholder="请选择表计" title="请选择表计" />
														<!-- &nbsp;<a id="select-ztree-btn" href="#" onclick="showSelectZTreeFn(); return false;">选择</a> -->
													</div>
												</td>												
										
												<td>
													<!-- 客户 -->
													<div class="form-group form-inline">
														<label for="record-description" class="col-sm-6 control-label">客户</label>
														<input type="hidden" id="record-customer-id" name="customerId" th:value="${currItem==null ? '' : currItem.customerId}" />
														<input type="text" class="form-control col-sm-6 "
																th:value="${customer==null ? '' : customer.propName}"
																id="record-customer-propname" name="propName" disabled="disabled"
																maxlength=20 title="请输入1-20位字符" placeholder="客户"/>
													</div>
												</td>
											</tr>			
											
											<!-- <tr>
												<td>
													抄表期间
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">抄表期间</label>
														<input type="text"
																th:value="${currItem==null ? '' : currItem.period}" 
																class="form-control col-sm-6 " 
																id="record-period" name="period" 
																maxlength=20 title="请输入1-20位字符" placeholder="抄表期间"/>
													</div>
												</td>												
											
												<td>
													本期抄表日期
													<div class="form-group form-inline">
														<label for="record-description" class="col-sm-6 control-label">本期抄表日期</label>
														<input type="text" class="form-control col-sm-6 input-sm Wdate"
																id="record-curr-date" name="currDate"		
																th:value="${currItem==null ? '' : currItem.currDateStr}"				
																onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
																placeholder="本期抄表日期" style="width: 120px; background-color: white;" title="本期抄表日期">
													</div>
												</td>
											</tr> -->
											
											<!-- <tr>
												<td>
													本期抄表底数
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">本期抄表底数</label>
														<input type="text"
																th:value="${currItem==null ? '' : currItem.currRead}" 
																class="form-control col-sm-6 " 
																id="record-curr-read" name="currRead" 
																maxlength=10 title="请输入1-10位字符" placeholder="本期抄表底数"/>
													</div>
												</td>												
											
												<td>
													上期抄表日期
													<div class="form-group form-inline">
														<label for="record-description" class="col-sm-6 control-label">上期抄表日期</label>
														<input type="text" class="form-control col-sm-6 input-sm Wdate"
																id="record-pre-date" name="preDate"		
																th:value="${currItem==null ? '' : currItem.preDateStr}"				
																onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
																placeholder="上期抄表日期" style="width: 120px; background-color: white;" title="上期抄表日期">
													</div>
												</td>
											</tr> -->
											<!-- <tr>
												<td>
													上期抄表底数
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">上期抄表底数</label>
														<input type="text"
																th:value="${currItem==null ? '' : currItem.preRead}" 
																class="form-control col-sm-6 " 
																id="record-pre-read" name="preRead" 
																maxlength=10 title="请输入1-10位字符" placeholder="上期抄表底数"/>
													</div>
												</td>
												<td>
													本期水量
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">本期水量</label>
														<input type="text"
																th:value="${currItem==null ? '' : currItem.currAmount}" 
																class="form-control col-sm-6 " 
																id="record-curr-amount" name="currAmount" 
																maxlength=10 title="请输入1-10位字符" placeholder="本期水量"/>
													</div>
												</td>
											</tr> -->
											<tr>
												<td>
													<!-- 抄表期间 -->
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">抄表期间</label>
														<input type="text" class="form-control col-sm-6 input-sm Wdate"
																id="record-period" name="period" 
																th:value="${currItem==null ? '' : currItem.period}" 	
																onClick="WdatePicker({dateFmt:'yyyy-MM',onpicked: setBackGround});"
																placeholder="抄表期间" style="width: 120px; background-color: white;" title="抄表期间">
													</div>
												</td>	
												<td>
													<!-- 本期抄表日期 -->
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">抄表日期</label>
														<input type="text" class="form-control col-sm-6 input-sm Wdate"
																id="record-curr-date" name="currDate"		
																th:value="${currItem==null ? '' : currItem.currDateStr}"
																onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
																placeholder="抄表日期" style="width: 120px; background-color: white;" title="抄表日期">
													</div>
												</td>												
											</tr>
											<tr>
												<td>
													<!-- 本期抄表底数 -->
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">本期抄表底数</label>
														<input type="text"
																th:value="${currItem==null ? '' : currItem.currRead}" 
																class="form-control col-sm-6 " 
																id="record-curr-read" name="currRead" 
																maxlength=10 title="请输入1-10位字符" placeholder="本期抄表底数"/>
													</div>
												</td>
												<td>
													<!-- 抄表方式-->
													<div class="form-group form-inline">
														<label for="customers-description" class="col-sm-6 control-label">抄表方式</label>
														<select class="form-control col-sm-6 " id="record-read-mode" name="readMode" th:value="${currItem==null ? '' : currItem.readMode}">
															<!-- 默认选择第一个 -->
															<!-- <option value="" >-请选择-</option> -->
															<span th:each="item,iterStat: ${readModeList}" th:remove="tag">
																<span th:if="${item.key=='MANUAL'}">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.readMode ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
															</span>
															
														</select>
													</div>
												</td>
												
											</tr>
											
											<tr>
												<td>
													<!-- 抄表类型-->
													<div class="form-group form-inline">
														<label for="user-sex" class="col-sm-6 control-label">抄表类型</label>
														<select class="form-control col-sm-6 " id="meter-read-type" name="readType" th:value="${currItem==null ? 0 : currItem.readType}">
															<!-- 默认选择第一个 -->
															<option value="0" th:attr="selected=( ${currItem!=null && currItem.readType==0} )? 'selcted' ">正常抄表</option>
															<option value="1" th:attr="selected=( ${currItem!=null && currItem.readType==1} )? 'selcted' ">估抄</option>
															<option value="2" th:attr="selected=( ${currItem!=null && currItem.readType==2} )? 'selcted' ">预抄</option>												
														</select>
													</div>
												</td>
												<td>
													<!--备注-->
													<div class="form-group form-inline">
														<label for="record-name" class="col-sm-6 control-label">备注</label>
														<input type="text"
																th:value="${currItem==null ? '' : currItem.remark}" 
																class="form-control col-sm-6 " 
																id="record-remark" name="remark" 
																maxlength=30 title="请输入1-30位字符" placeholder="备注"/>
													</div>
												</td>
												<td>
												</td>
											</tr>
										</tbody>
										
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"	id="btn-record-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>
	<!-- 选择表计页面 -->
	<div th:include="meter_record/meter_select" th:remove="tag"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var g_curr_item=[[${currItem}]];
			console.log("g_curr_item:"+g_curr_item);
		/*]]>*/
	</script>

	<script>
	
		//------------------通用方法----------------------
		/*
			设置日期选择input背景色
		*/
		function setBackGround() {
			$("#customers-settle_time").css("background-color", "white");
		}
		
		/**
		 * 	获取当前系统月份（表示为抄表记录中的期间）
		 */
		function getCurrSysMonth(){
			var date = new Date();
			var year = date.getFullYear();    //获取完整的年份(4位,1970-????)
			var month = date.getMonth()+1;       //获取当前月份(0-11,0代表1月)
			if(month<10){
				month = "0"+month
			}
			return year+"-"+month;
		}
		/**
		 * 	获取当前系统日期（表示为抄表记录中的本期抄表日期）
		 */
		function getCurrSysDay(){
			var date = new Date();
			var year = date.getFullYear();//获取完整的年份(4位,1970-????)
			var month = date.getMonth()+1;//获取当前月份(0-11,0代表1月)
			var day = date.getDate();//获取当前日(1-31)
			var h = date.getHours();//获取当前小时数(0-23)
			var m = date.getMinutes();//获取当前分钟数(0-59)
			var s = date.getSeconds();//获取当前秒数(0-59)
			if(month<10){
				month = "0"+month;
			}
			if(day<10){
				day = "0"+day;
			}
			return year+"-"+month+"-"+day+" "+h+":"+m+":"+s;
		}
		
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiRecordItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/meter-record/insert";
			
			var recordId= $("#record-id").val();
			if(recordId!=null && recordId!=""){
				urlStr = BASE_CONTEXT_PATH + "/meter-record/update";
			}
			var form=new FormData($("#dialog-modi-record-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				/* contentType : "application/json", */ // 如果采用json格式传送所有参数时必须有,如果采普通js对象传送时,则不可以加此参数
				//dataType : "html", // 表示返回值类型，不必须,如果返回的是面页，则必须
				/* data : JSON.stringify(parms), */
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
					if (res != null && res != "") {
						//var obj = $.parseJSON(res);						
						if (res.result_code == "success") {
							loadMeterRecordPage();  //	重新刷新当前页面
							if (closeDialogFlag){
								closeRecordDialog();
							}
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
	
		//--------------------page loaded ready-----------------------
		
		/**
		 * 	设置抄表记录的抄表日期为当前系统日期
		 */
		function setRecordDefaultValue(){
			if(g_curr_item==null){
				$("#record-period").val(getCurrSysMonth());
				$("#record-curr-date").val(getCurrSysDay());
			}
		}
		
		$(function() {

			//---------------	init	---------------
			setRecordDefaultValue();//设置抄表记录的抄表日期为当前系统日期
			
			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-record-modify-and-back').on('click',function() {
				
				var meterId = $("#record-meter-id").val();//表计ID
				var customerId = $("#record-customer-id").val();//客户的ID
				if(meterId==null || meterId=="" || customerId==null || customerId==""){
					//dialog type: success warning info error,默认为info
					util.message("请选择表计！",null,"warning");
					return;
				}
				
				modiRecordItem(true);				
			});
			
			/*
				加载表计下拉框同时赋给客户输入框值
			*/
			/* $('#record-meter-id').on('change',function() {
					var customerId = $(this).find("option:selected").attr("data-customer-id");
					var propName = $(this).find("option:selected").attr("data-customer-propname");
					console.log(customerId+","+propName);
					
					$("#record-customer-id").val(customerId);
					$("#record-customer-propname").val(propName);
			}); */
		});
	</script>
	
	</th:block>
	
</body>
</html>