<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>发送水量阀值指令对话框</title>

<!-- 发送开关阀指令:对话框 -->

</head>
<body>

	<th:block th:fragment="dialog">
	
		<div class="row clearfix">
			<div class="col-md-12 column">
				
				<!-- 模态对话框 -->
				<div class="modal fade" id="modal-container-command-water-amount" role="dialog"	aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">

							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span id="modal-title-span">水量阀值指令</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>

							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<table class="table-layout table">
									<tbody>
										<tr>
											<td>
												<!-- 水量阀值 -->
												<div class="form-group form-inline">
													<label for="set-water-amount-value" class="col-sm-4 control-label">水量阀值</label>
													<span class="input-group-sm col-sm-8">
														<input type="number" class="form-control" id="set-water-amount-value" name="" value="" placeholder="水量阀值"/>
													</span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary btn-sm" id="btn-send-cmd-water-amount">发送指令</button>
							</div>
						</div>

					</div>

				</div>
				<!-- end of dialog -->

			</div>
		</div>
	
	<script type="text/javascript">
	
		$(function(){
			/**
			 * 	绑定对话框中发送指令按钮的click事件
			 */
			 $("#modal-container-command-water-amount #btn-send-cmd-water-amount").on("click", function(){
				
				var waterAmountValue = $("#modal-container-command-water-amount #set-water-amount-value").val();
				if(waterAmountValue==null || waterAmountValue=="" || waterAmountValue<=0){
					//dialog type: success warning info error,默认为info
					util.message("水量阀值不允许为空，且必须大于零！",null,"warning");
					return false;
				}
				
				var url = BASE_CONTEXT_PATH + "/meter-device/cmd-water-amount-generator";
				
				setSendCmdParmsUrl(url);//设置发送指令参数-ajax请求url
				setSendCmdParmsCmdAction(waterAmountValue);//设置发送指令参数-指令动作 水量阀值（数字）
				
				util.confirm("确认发送设置水量阀值指令吗？", "xxx", "sendCommandAjaxRequest", "cancelSendCommandAjaxRequest");
				
			});
		});
	
	</script>
	
	</th:block>

</body>
</html>