<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="common/common_head::headx('开票控制')" th:remove="tag"></div>
<title>开票控制</title>
</head>
<body>	
	<div class="container-fluid">
	<h5>开票控制</h5>
	<div class="row-fluid">
		<div class="col-12">					
		</div>
		<button type="button" class="btn btn-sm btn-primary" id="btn-issue-control">开票控制</button> 
	</div>
	<div class="row-fluid">
		<div class="col-12">
			<!-- 查询结果容器 -->
			<div id="issue-control-result-container">
				
			</div>
		</div>
	</div>
</div>
</body>

<!-- 加载:正在等待组件 -->
<script type="text/javascript" th:src="@{/pivas/js/common/UseLoading.js}"></script>

<!-- 嵌入式脚本,用于thymeleaf数据传递(json格式) -->
<script th:inline="javascript">
	/*<![CDATA[*/
		//后台向前端直接传递数据
		//var returnObj = [[${returnObj}]]; 
	/*]]>*/
</script>

<script type="text/javascript">

	/*
		开票控制
		前端操作对象
	 */
	function IssueControl(){
		
	}
	
	/*
		功能:
			发送查询请求
		参数:
			无
	*/
	IssueControl.prototype.sendRequest=function(){
		const url=BASE_CONTEXT_PATH+"/tax/issuecontrol/control";  //请求地址
		const result_container="#issue-control-result-container";  //存放查询结果容器	
		
		//UseLoading.show();  //显示等待状态
		$(result_container).load(url,null,closeWaittingDialog);  //采用load动态加载查询结果	
		
		/*
			关闭等待对话框
		*/
		function closeWaittingDialog(){
			//UseLoading.hide();
		}
		
		
	}
	
	/*
		功能:
			初始化监听器
		参数:无
	*/
	IssueControl.prototype.initListener=function(){
		var self=this; //reference instance Object of QueryInventory ;
		
		const BTN_QUERY="#btn-issue-control";
		$(BTN_QUERY).on('click',startQuery);
		
		/*
			click event's listener
		*/
		function startQuery(){
			console.log("btn clicked!");						
			self.sendRequest();	
		}  //end of startQuery  
		
	}	
	
	//create instance of front operation object 	
	var issueControl= new IssueControl();
	
	/* 
		page loaded ready 
	*/
	$(function(){	
		//page init 
		issueControl.initListener();
		
	});

</script>


</html>