<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>清欠表</title>
<div th:include="common/common_head::headx('清欠表')" th:remove="tag"></div>
</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						2018年清欠表
					</h3>
					<!-- <p>
						<span style="float: left;"></span>
						<span style="float: right;">2018年11月1日</span>
					</p> -->
					<div class="page-header">
						<h4>
							<small style="float: right">2018年11月1日</small>
						</h4>
					</div>
					<table class="table table-bordered table-sm">
						<thead>
							<tr>
								<th>
									序号
								</th>
								<th>
									性质
								</th>
								<th>
									单位
								</th>
								<th>
									欠费时间
								</th>
								<th>
									欠费金额（元）
								</th>
								<th>
									本月清欠（元）
								</th>
								<th>
									欠费金额（元）
								</th>
								<th>
									备注
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									事洒
								</td>
								<td>
									xxx单位
								</td>
								<td>
									9月
								</td>
								<td>
									0
								</td>
								<td>
									100
								</td>
								<td>
									100
								</td>
								<td>
									测试清欠表
								</td>
							</tr>
							<tr>
								<td>
									2
								</td>
								<td>
									学
								</td>
								<td>
									xxx单位
								</td>
								<td>
									10月
								</td>
								<td>
									0
								</td>
								<td>
									100
								</td>
								<td>
									100
								</td>
								<td>
									测试清欠表
								</td>
							</tr>
							<tr>
								<td>
									3
								</td>
								<td>
									企
								</td>
								<td>
									xxx单位
								</td>
								<td>
									9-10月
								</td>
								<td>
									100
								</td>
								<td>
									100
								</td>
								<td>
									200
								</td>
								<td>
									测试清欠表
								</td>
							</tr>
						</tbody>
					</table>
					<p>
						<span style="float: left;">主管领导：</span>
						<span style="float: right;">负责人：</span>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>