<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>拖欠水费用户登记表（往年欠户）</title>
<div th:include="common/common_head::headx('拖欠水费用户登记表（往年欠户）')" th:remove="tag"></div>
</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						拖欠水费用户登记表（往年欠户）
					</h3>
					<!-- <p>
						<span style="float: left;"></span>
						<span style="float: right;">2018年11月1日</span>
					</p> -->
					<div class="page-header">
						<h4>
							<small style="float: right">2018年11月1日</small>
						</h4>
					</div>
					<table class="table table-bordered table-sm">
						<thead>
							<tr>
								<th>
									单位
								</th>
								<th>
									欠费月份
								</th>
								<th>
									总计（元）
								</th>
								<th>
									备注
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									xxx单位
								</td>
								<td>
									9月
								</td>
								<td>
									100
								</td>
								<td>
									测试往年欠户
								</td>
							</tr>
							<tr>
								<td>
									xxx单位
								</td>
								<td>
									10月
								</td>
								<td>
									100
								</td>
								<td>
									测试往年欠户
								</td>
							</tr>
							<tr>
								<td>
									2018年合计：
								</td>
								<td colspan="3">
									200
								</td>
							</tr>
							<tr>
								<td>
									xxx单位
								</td>
								<td>
									9月
								</td>
								<td>
									100
								</td>
								<td>
									测试往年欠户
								</td>
							</tr>
							<tr>
								<td>
									xxx单位
								</td>
								<td>
									10月
								</td>
								<td>
									100
								</td>
								<td>
									测试往年欠户
								</td>
							</tr>
							<tr>
								<td>
									2018年合计：
								</td>
								<td colspan="3">
									200
								</td>
							</tr>
							<tr>
								<td>
									xxx单位
								</td>
								<td>
									9月
								</td>
								<td>
									100
								</td>
								<td>
									测试往年欠户
								</td>
							</tr>
							<tr>
								<td>
									xxx单位
								</td>
								<td>
									10月
								</td>
								<td>
									100
								</td>
								<td>
									测试往年欠户
								</td>
							</tr>
							<tr>
								<td>
									2018年合计：
								</td>
								<td colspan="3">
									200
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>