<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>2018年（10）月份供水管网末梢排放水量报表</title>
<div th:include="common/common_head::headx('2018年（10）月份供水管网末梢排放水量报表')" th:remove="tag"></div>
</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						2018年（10）月份供水管网末梢排放水量报表
					</h3>
					<!-- <p>
						<span style="float: left;"></span>
						<span style="float: right;">2018年11月1日</span>
					</p> -->
					<div class="page-header">
						<h4>
							<small style="float: left;">填报单位：营业处</small>
							<small style="float: right;">2018年11月1日</small>
						</h4>
					</div>
					<table class="table table-bordered table-sm">
						<thead>
							<tr>
								<th>
									序号
								</th>
								<th>
									日期
								</th>
								<th>
									排放点名称
								</th>
								<th>
									管道口径（mm）
								</th>
								<th>
									排放管口径（mm）
								</th>
								<th>
									排放水量（吨）
								</th>
								<th>
									备注
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									2018-09-26
								</td>
								<td>
									xxx
								</td>
								<td>
									DN500
								</td>
								<td>
									50
								</td>
								<td>
									261
								</td>
								<td>
									
								</td>
							</tr>
							<tr>
								<td>
									2
								</td>
								<td>
									2018-09-26
								</td>
								<td>
									xxx
								</td>
								<td>
									DN300
								</td>
								<td>
									40
								</td>
								<td>
									57
								</td>
								<td>
									
								</td>
							</tr>
						</tbody>
					</table>
					<p>
						<span style="float: left;">主管经理：</span>
						<span style="float: right;">部门负责人：</span>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>