<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>
 <link rel="stylesheet"	href="/css/commform.css" />
<link rel="stylesheet"	href="/css/searchpanel.css" />
</head>
<body>
	
	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix medic-label role-main">
		<div class="col-md-12 column">

			<div class="" style="display: inline-block" id="general-search-form">
				<ul class="extra-l" style="list-style: none;">
					<!-- 面板:增加/删除 -->
					<!-- <li value="0">
						<button type="button" class="btn btn-primary btn-sm"
							id="btn-add">
							<i class="fa fa-plus" aria-hidden="true"> 
								<span>增加</span>
							</i>
						</button>
					</li> -->
				
					<li class="input-group-sm">
						<div th:include="component/districtsearcher/district_searcher::searcher('location-searcher')" th:remove="tag"></div>
					</li>
					<li class="input-group-sm">
						<input type="text" class="form-control search-cond" id="search-cond" placeholder="请输入客户名称、手机号、编号" title="输入客户姓名、手机号、编号等查询"/>
					</li>
					<!-- 查询按钮 -->
					<li>
						<button type="button" class="btn btn-success btn-sm btn-search-bill" id="btn-search-bill">
							<i class="fa fa-search" aria-hidden="true"> <span>查询</span>	</i>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-warning btn-sm btn-search-bill-reset" id="btn-search-bill-reset">
							<i class="fa fa-undo" aria-hidden="true"> <span>清除</span></i>
						</button>
					</li>
					<li class="input-group-sm">
						<button type="button" class="btn btn-success btn-sm" id="btn-show-hide-advanced-search">
							<i class="fa fa-search" aria-hidden="true"></i><span>高级查询</span></i>
						</button>
					</li>
					<!-- <li>
						<div class="dropdown">
							<button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">
								操作
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item btn-sm btn-add" id="btn-add">
									<i class="fa fa-plus" aria-hidden="true">
										<span>增加</span>
									</i>
								</a>
								<div class="dropdown-divider" style="border-top: 0.8px solid blue;"></div>
								<a class="dropdown-item btn-sm btn-export-bill-excel">
									<i class="fa fa-download" aria-hidden="true">
										<span>导出EXCEL</span>
									</i>
								</a>
							</div>
						</div>
					</li> -->
					<!-- <li>
						<button type="button" class="btn btn-info btn-sm" id="btn-batch-settlement-bill">
							<i class="fa fa-undo" aria-hidden="true"> <span>批量结算</span></i>
						</button>
					</li> -->
				</ul>
				<!-- CMBC导出/导入数据 -->
				<!-- <ul class="extra-l" style="list-style: none;">
					操作按钮
					<li>
						<button type="button" class="btn btn-info btn-sm" id="btn-export-cmbc-excel">
							<i class="fa fa-cloud-download" aria-hidden="true"><span>导出CMBC自动扣费Excel</span></i>
						</button>
					</li>
					<li class="input-group-sm">
						<input type="file" class="form-control-file" style="height:31px;" 
							onchange="javascript:validateTxtFileSizeFn(this);"
							id="cmbc-txt-file" name="cmbcTxtFile" />
					</li>
					<li>
						<button type="button" class="btn btn-info btn-sm" id="btn-import-cmbc-txt" disabled="disabled">
							<i class="fa fa-cloud-upload" aria-hidden="true"><span>导入CMBC扣费回执文本文件</span></i>
						</button>
					</li>
				</ul> -->
			</div>




		</div>
	</div>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

	<script>
	
				
		//-------------------PAGE LOADED READY--------------------

		$(function() {
					
		});
	</script>



</body>
</html>