<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>
<!-- 引入通用对话框工具 -->
<script type="text/javascript"	th:src="@{/js/component/dialogutil/DialogUtil.js}"></script>
 <link rel="stylesheet"	href="/css/meterbody.css" />
 <link rel="stylesheet"	href="/css/commform.css" />
<link rel="stylesheet"	href="/css/searchpanel.css" />
</head>
<body>
	
	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix medic-label">
		<div class="col-md-12 column">

			<!-- 操作面板 -->
			<div class="" style="display: inline-block">
				<ul class="extra-l" style="list-style: none;" id="search-up-data-from">
				
					<!-- 面板:增加 -->
					<!-- <li>
						<button type="button" class="btn btn-primary btn-sm"
							id="btn-add">
							<i class="fa fa-plus" aria-hidden="true"> 
								<span style="color:black">增加</span>
								<span>增加</span>
							</i>
						</button>
					</li> -->

					<!-- 面板:查询 -->
					<li class="input-group-sm"><input type="text" class="form-control" id="search-cond" placeholder="请输入水表编号">
					</li>
					<!-- 查询按钮 -->
					<li>
						<button type="button" class="btn btn-success btn-sm"	id="btn-search">
							<i class="fa fa-search" aria-hidden="true"> <span>查询</span>	</i>
						</button>
						
						<button type="button" class="btn btn-warning btn-sm"	id="btn-search-reset">
							<i class="fa fa-undo" aria-hidden="true"> <span>清除</span></i>
						</button>
					
					</li>
				</ul>
			</div>

			<div class="">
				<!-- 容器:字典列表 -->
				<div class="container-device-up-data-table table-container"></div>
			</div>

		</div>
	</div>


	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

	<script>
	
		//--------------------公共查询函数--------------------------
		/*	
			公共查询函数
			
			查询核对类型列表
		*/
		function searchWmMeter(parms) {
			//加载字典列表页面
			var url = BASE_CONTEXT_PATH + "/meter/search-meters"
			$(".container-device-up-data-table").load(url, parms, windowResizeFuncxx);
		}
		
		function windowResizeFuncxx(){
			console.log("call back........");
			var myEvent = new Event('resize');
	        window.dispatchEvent(myEvent);
		}
		
		function getSearchWmMeterParams(){
			//初始化请求参数
			var parms = new Object();
			var searchCond = $("#search-up-data-from #search-cond").val();
			parms.searchCond=searchCond;
			return parms;
		}

		//---------------------------------------------
		
		/*
			默认查询
			Retrieve(default)查询(加载默认列表)
		*/
		function defaultSearchWmMeter() {
			var pageNum = 0;
			var pageSize = 0;
			
			//获取参数
			var parms = null;
			parms = getSearchWmMeterParams();//获取普通查询参数（不包括分页信息）
			
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			searchWmMeter(parms);
		}
		
		/*
			查询按钮点击时调用
			采用用户所输入的查询条件进行查询.
		*/
		function btnSearchWmMeterClick() {
			var pageNum = 0;
			var pageSize = 0;
			
			var parms = getSearchWmMeterParams();//获取查询参数（不包括分页信息）
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			searchWmMeter(parms);
		}

		/*
			分页查询(采用所保存的状态)
		*/
		function clickPagerReloadWmMeterTable(searchCond, pageNum, pageSize) {
			var parms = getSearchParams();//获取查询参数（不包括分页信息）
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			searchWmMeter(parms);
		}

		//-------------------PAGE LOADED READY--------------------

		$(function() {
			//------------init-------------
			//主页:默认查询(加载默认列表)
			defaultSearchWmMeter();

			//---------事件绑定--------------
			
			/*
				查询按钮CLICK
			*/
			$('#search-up-data-from #btn-search').on('click', function() {
				btnSearchWmMeterClick();
			});
			
			/*
				查询条件复位按钮CLICK
			*/
			$('#search-up-data-from #btn-search-reset').on('click', function() {
				$("#search-up-data-from #search-cond").val("");
				$("#search-up-data-from #search-cond").focus();  //	获得焦点
			});
			
			/*
				查询条件输入框 KEYUP
			*/
			$('#search-up-data-from #search-cond').on('keyup', function(event) {
				if(event.keyCode == 13){
					$('#search-up-data-from #btn-search').trigger("click");	                
	            }	
			});
			
		});
	</script>



</body>
</html>