<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<!-- color picker 颜色选择器 -->
<!-- <link 	href="/color-picker/dist/css/bootstrap-colorpicker.css"	rel="stylesheet" />
<script  src="/color-picker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script> -->
<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				
					
					<div class="modal-content">

						<!-- 主体(用于展示表单) -->
						<div class="modal-body">
							<form class="form-horizontal " role="form" id="dialog-modi-record-form">
								
								<!-- 当前所编辑的条目ID -->
								<input type="hidden" id="record-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
								
								
								<!-- 表单内容 -->
								<!-- form-inline -->
																	
								<!-- 采用表格进行布局 -->
								<!-- 配置费规则部分 -->
								<table class="table-layout table">
									<tbody>
										<!-- <tr>
											<td>
												地理位置
												<div class="form-group form-inline">
													<label for="record-name" class="col-sm-4 control-label">地理位置</label>
													<span class="input-group-sm col-sm-8">
														<input type="hidden" id="location-pid" name="locationId" value="0" placeholder="地理位置ID" />
														<input type="text" onclick="SelectLocation.showSelectZTreeFn(); return false;" id="location-parent-name" class="form-control select-ztree-btn" readonly 
															th:value="${currItem==null ? '请选择地理位置' : currItem.meterId}" placeholder="请选择地理位置" title="请选择地理位置" />
														&nbsp;<a id="select-ztree-btn" href="#" onclick="showSelectZTreeFn(); return false;">选择</a>
													</span>
												</div>
											</td>												
									
											<td>
												
											</td>
										</tr> -->
										<!-- 第二次优化时打开 -->
										<tr>
											<td>
												<!-- 表计 -->
												<div class="form-group form-inline">
													<label for="record-name" class="col-sm-4 control-label">水表&nbsp<i style="color: red">*</i> </label>
													<span class="input-group-sm col-sm-8">
														<input type="hidden" id="record-meter-id" name="meterId" th:value="${currItem==null ? '0' : currItem.meterId}" placeholder="表计ID" />
														<input type="text" id="record-meter-place" class="form-control" name="meterPlace" readonly="readonly"  onclick="getMeterList()"
															th:value="${currItem==null ? '表计' : currItem.place}" placeholder="表计" title="请选择表计" required/>
													</span>
												</div>
											</td>												
									
											<td>
												<!-- 客户 -->
												<div class="form-group form-inline">
													<label for="record-description" class="col-sm-4 control-label">客户&nbsp<i style="color: red">*</i> </label>
													<span class="input-group-sm col-sm-8">
														<input type="hidden" id="record-customer-id" name="customerId" th:value="${currItem==null ? '' : currItem.customerId}" />
														<input type="text" class="form-control"
																th:value="${currItem==null ? '' : currItem.propName}"
																id="record-customer-propname" name="propName" readonly="readonly" onclick="getCustomerList()"
																maxlength=20 title="请先选择表计" placeholder="请选择客户" required/>
													</span>
												</div>
											</td>
										</tr> 		
										
										<tr>
											<td>
												<!-- 抄表期间 -->
												<div class="form-group form-inline">
													<label for="record-name" class="col-sm-4 control-label">抄表期间&nbsp<i style="color: red">*</i> </label>
													<span class="input-group-sm col-sm-8">
														<input type="text" class="form-control input-sm Wdate"
																id="record-period" name="period" 
																th:value="${currItem==null ? '' : currItem.period}" 	
																onClick="WdatePicker({dateFmt:'yyyy-MM'});"
																placeholder="抄表期间" style="background-color: white;" title="请选择抄表期间" required>
													</span>
												</div>
											</td>	
											<td>
												<!-- 本期抄表日期 -->
												<div class="form-group form-inline">
													<label for="record-name" class="col-sm-4 control-label">抄表日期&nbsp<i style="color: red">*</i> </label>
													<span class="input-group-sm col-sm-8">
														<input type="text" class="form-control input-sm Wdate"
																id="record-curr-date" name="currDate"		
																th:value="${currItem==null ? '' : currItem.currDateStr}"
																onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});"
																placeholder="抄表日期" style="background-color: white;" title="请选择抄表日期" required>
													</span>
												</div>
											</td>												
										</tr>
										<tr>
											<td>
												<!-- 本期抄表底数 -->
												<div class="form-group form-inline">
													<label for="record-name" class="col-sm-4 control-label">本期抄表底数&nbsp<i style="color: red">*</i> </label>
													<span class="input-group-sm col-sm-8">
														<input type="text"
																th:value="${currItem==null ? '' : currItem.currRead}" 
																class="form-control" 
																id="record-curr-read" name="currRead" 
																maxlength=12 title="请输入1-12位字符" placeholder="请选择本期抄表底数" required/>
													</span>
												</div>
											</td>
											<td>
												<!-- 抄表方式-->
												<div class="form-group form-inline">
													<label for="customers-description" class="col-sm-4 control-label">抄表方式&nbsp<i style="color: red">*</i> </label>
													<span class="input-group-sm col-sm-8">
														<select class="form-control" id="record-read-mode" name="readMode" th:value="${currItem==null ? '' : currItem.readMode}" required>
															<!-- 默认选择第一个 -->
															<!-- <option value="" >-请选择-</option> -->
															<span th:each="item,iterStat: ${readModeList}" th:remove="tag">
																<span th:if="${item.key=='MANUAL'}">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.readMode ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
															</span>
															
														</select>
													</span>
												</div>
											</td>
											
										</tr>
										
										<tr>
											<td>
												<!-- 抄表类型-->
												<div class="form-group form-inline">
													<label for="user-sex" class="col-sm-4 control-label">抄表类型&nbsp<i style="color: red">*</i> </label>
													<span class="input-group-sm col-sm-8">
														<select class="form-control" id="meter-read-type" name="readType" th:value="${currItem==null ? 0 : currItem.readType}" required>
															<!-- 默认选择第一个 -->
															<option value="0" th:attr="selected=( ${currItem!=null && currItem.readType==0} )? 'selcted' ">正常抄表</option>
															<option value="1" th:attr="selected=( ${currItem!=null && currItem.readType==1} )? 'selcted' ">估抄</option>
															<option value="2" th:attr="selected=( ${currItem!=null && currItem.readType==2} )? 'selcted' ">预抄</option>												
														</select>
													</span>
												</div>
											</td>
											<td>
												<!--备注-->
												<div class="form-group form-inline">
													<label for="record-name" class="col-sm-4 control-label">备注</label>
													<span class="input-group-sm col-sm-8">
														<input type="text"
																th:value="${currItem==null ? '' : currItem.remark}" 
																class="form-control" 
																id="record-remark" name="remark" 
																maxlength=30 title="请输入1-30位字符" placeholder="备注"/>
													</span>
												</div>
											</td>
											<td>
											</td>
										</tr>
									</tbody>
									
								</table>
																										
							</form>
						</div>

						<!-- 尾部 -->
						<div class="modal-footer">
							<button type="button" class="btn btn-primary btn-sm"	id="btn-record-modify-and-back">保存&返回</button>
						</div>
						
					</div>



			</div>
		</div>
	<!-- 选择表计页面 -->
	<!-- <div th:include="meter_record/meter_select" th:remove="tag"></div> -->
	<!-- 选择地理位置页面 -->
	<div th:include="location/location_select" th:remove="tag"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var g_curr_item=[[${currItem}]];
		/*]]>*/
	</script>

	<script>
	
		//-------------------加载所有水表列表
		/*
			点击水表输入框click事件
		*/
		function getMeterList(){
			//需要提交的url	
			var url = BASE_CONTEXT_PATH+'/meter-record/meter-item-main';
			var parms = null;
			$("#modal-container-meter-select-item #meter-select-item-dialog-body").load(url, parms,function(){
				//加载完毕后显示
				openDialogFn("modal-container-meter-select-item");//打开对话框
			}); 
		}
		
		/*
			点击水表输入框click事件
		*/
		function getCustomerList(){
			//需要提交的url	
			var url = BASE_CONTEXT_PATH+'/meter-record/meter-item-main';
			var parms = null;
			$("#modal-container-meter-select-item #meter-select-item-dialog-body").load(url, parms,function(){
				//加载完毕后显示
				openDialogFn("modal-container-meter-select-item");//打开对话框
			}); 
		}
		
		
		
		
		//-------------------	通用打开/关闭对话框功能	--------------------
		/*
		 * 	打开(Open)对话框
		 */
		function openDialogFn(dialogId) {
			//可拖拽
			$("#"+dialogId).draggable({
				cursor : "move",
				handle : '.modal-header'
			});
			//点击对话框外部,不关闭对话框 
			$("#"+dialogId).modal({
				backdrop : 'static',
				keyboard : false
			});
		}

		/* 
		 *	关闭(CLOSE)对话框
		 */
		function closeDialogFn(dialogId) {
			$("#"+dialogId).modal("hide");
		}
	
		//------------------通用方法----------------------
		/*
			设置日期选择input背景色
		*/
		function setBackGround() {
			$("#customers-settle_time").css("background-color", "white");
		}
		
		/**
		 * 	获取当前系统月份（表示为抄表记录中的期间）
		 */
		function getCurrSysMonth(){
			var date = new Date();
			var year = date.getFullYear();    //获取完整的年份(4位,1970-????)
			var month = date.getMonth()+1;       //获取当前月份(0-11,0代表1月)
			if(month<10){
				month = "0"+month
			}
			return year+"-"+month;
		}
		/**
		 * 	获取当前系统日期（表示为抄表记录中的本期抄表日期）
		 */
		function getCurrSysDay(){
			var date = new Date();
			var year = date.getFullYear();//获取完整的年份(4位,1970-????)
			var month = date.getMonth()+1;//获取当前月份(0-11,0代表1月)
			var day = date.getDate();//获取当前日(1-31)
			var h = date.getHours();//获取当前小时数(0-23)
			var m = date.getMinutes();//获取当前分钟数(0-59)
			var s = date.getSeconds();//获取当前秒数(0-59)
			if(month<10){
				month = "0"+month;
			}
			if(day<10){
				day = "0"+day;
			}
			return year+"-"+month+"-"+day+" "+h+":"+m+":"+s;
		}
		
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiRecordItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/meter-record/insert";
			
			var recordId= $("#record-id").val();
			if(recordId!=null && recordId!=""){
				urlStr = BASE_CONTEXT_PATH + "/meter-record/update";
			}
			var customerId = $("#dialog-modi-record-form #record-customer-id").val();//客户的ID
			console.log(customerId);
			var form=new FormData($("#dialog-modi-record-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
					if (res != null && res != "") {
						if (res.result_code == "success") {
							showMeterRecordItem();//显示抄表记录列表
							loadPageClickPageNum();  //	重新刷新当前页面
							//var redirectUrl = BASE_CONTEXT_PATH+"/meter-record/starter";
							
							//util.message(res.result_msg,redirectUrl,"success");
							/* //清空form表单
							$("#dialog-modi-record-form")[0].reset();
							//设置抄表记录的抄表日期为当前系统日期
							defaultSearchMeterRecord();
							setRecordDefaultValue(); */
						} else {
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
	
		//--------------------page loaded ready-----------------------
		
		/**
		 * 	设置抄表记录的抄表日期为当前系统日期
		 */
		function setRecordDefaultValue(){
			if(g_curr_item==null){
				$("#record-period").val(getCurrSysMonth());
				$("#record-curr-date").val(getCurrSysDay());
			}
		}
		
		$.validator.setDefaults({//验证成功后，保存数据
		    submitHandler: function() {
		    	modiRecordItem(true);	
		     	//alert("提交事件!");
		    }
		});
		
		$(function() {
			
			
			//---------------	init	---------------
			setRecordDefaultValue();//设置抄表记录的抄表日期为当前系统日期
			$("#dialog-modi-record-form").validate({//设置正则验证
			    rules: {
			    	meterPlace: {
			          required: true,
			        },
			      },
			      messages: {
			    	  meterPlace: "请选择一个水表",
			       }
			      });
			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-record-modify-and-back').on('click',function() {
				$("#dialog-modi-record-form").submit();
				
							
			});
			
		});
	</script>
	
	</th:block>
	
</body>
</html>