<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>客户-协议对话框</title>

</head>
<body>

	<th:block th:fragment="dialog">
		<div class="modal fade" id="modal-container-photo-upload" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							编辑：抄表记录-照片
						</h5> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- 照片上传 -->
						<form role="form" id="photo-upload-form">
							<div class="form-group">
								<label for="photo-file">照片</label>
								 <!-- multiple="multiple" -->
								<input type="file" class="form-control-file" id="photo-file" name="photoFile" 
										onchange="javascript:validateImgFileSizeFun(this);"
										accept="image/*" />
							</div>
							<div class="form-group">
								<label for="">缩略图</label>
								<input type="hidden" class="form-control" id="image-path" name="imagePath" placeholder="缩略图" />
								<div id="thumbnail-portrait"></div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm" id="upload-save-submit-btn">保存</button> 
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
					</div>
				</div>
				
			</div>
			
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*]]>*/
	</script>
	<script>
	
	/*
	 * 	验证图片文件大小
	 */
	function validateImgFileSizeFun(file){
		if(isAllowUploadFile(file, 5120, '上传抄表照片不能大于5M！')){
			showPreview(file, 'thumbnail-portrait');
			$("#upload-save-submit-btn").attr("disabled", false);
		}else{
			$("#upload-save-submit-btn").attr("disabled", true);
		}
	}
	
	/**
	 * 	获取上传抄表照片参数
	 */
	function getPhotoParams(){
		
		var customerId = getCustomerIdFn();//获取当前操作的客户ID
		var period = getPeriodFn();//获取当前操作的期间
		var recordIds = getRecordIdsFn();//获取当前操作的抄表记录ID
		var meterIds = getMeterIdsFn();//获取当前操作的表计ID
		
		var parms = new Object(); //参数
		parms.customerId = customerId;
		parms.period = period;
		parms.recordIds = recordIds;
		parms.meterIds = meterIds;
		
		parms.fileType = "img";
		parms.inputName = "photoFile";
		
		return parms;
	}
	
	$(function(){
		/**
		 * 	上传照片保存按钮的click事件
		 */
		$("#upload-save-submit-btn").on("click", function() {
			var url = BASE_CONTEXT_PATH + "/meter-record/photo-upload";
			var params = getPhotoParams();//获取上传抄表照片参数
			$.ajaxFileUpload({
				url: url, //用于文件上传的服务器端请求地址
			    secureuri: false, //一般设置为false
			    fileElementId: "photo-file", //文件上传空间的id属性  <input type="file" id="file" name="file" />
			    dataType: "json", //返回值类型 一般设置为json
			    data: params,
			    success: function (res){  //服务器成功响应处理函数
			    	//console.log("success:"+res);
			    	if(res!=null){
						if(res.result_code=="success"){
							
							//reloadMeterRecordPhoto();//重新加载抄表记录照片
							closePhotoUploadDialog();//关闭照片上传对话框
							$('#modal-container-photo-upload').on('hidden.bs.modal', function () {
								//重新加载协议列表
								reloadMeterRecordPhoto();//加载客户-协议列表
						   });
							//searchMeterRecordPhoto(params);
							//重新加载协议列表
						}else{
							util.message(res.result_msg);
						}
					}
			    },
			    error: function (data, status, e){//服务器响应失败处理函数
			    	console.log("error:"+data);
			    }
			});
		});
		
	});
	
	
	
	</script>	
	
	</th:block>
	
</body>
</html>