<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>账单列表</title>
</head>
<body>
	
	<!-- 当前所编辑的客户ID -->
	<input type="hidden" id="overdue-customer-id" name="" value="" />
	<!-- 当前所编辑的账单ID -->
	<input type="hidden" id="overdue-account-item-id" name="" value="" />
	<!-- 账单列表 -->
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>地理位置</th> 
				<th>客户名称</th>
				<th>期间</th>
				<th>科目</th>
				<th>账单金额</th>
				<th>违约金总金额</th>
				<th>已充值金额</th>
				<th>欠费金额</th>
				<th>记账日期</th>
				<th>结算状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${accountItemList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.ID},data-bind=${item.ID}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.ID}"></label>
					</div> 
				</td>
				<!-- 地理位置 -->
				<td th:text="${item.place}">地理位置</td>
				<!-- 客户名称 -->
				<td th:text="${item.CUSTOMER_NAME}">客户名称</td>
				<!-- 期间-->
				<td th:text="${item.PERIOD}">期间</td>
				<!-- 科目 -->
				<td th:text="${item.creditSubject}">科目</td>
				<!-- 账单金额 -->
				<td th:text="${item.CREDIT_AMOUNT}">账单金额</td>
				<!-- 违约金总金额 -->
				<td th:text="${item.overdueValue}">违约金总金额</td>
				<!-- 已充值金额 -->
				<td th:text="${item.DEBIT_AMOUNT}">已充值金额</td>
				<!-- 欠费金额 -->
				<td th:text="${item.totalOweAmount}">欠费金额</td>
				<!--记账日期-->
				<td th:text="${item.ACCOUNT_DATE_STR}">记账日期</td>
				<!--结算状态-->
				<td th:attr="title=${item.SETTLEMENT_STATUS==2 ? item.SETTLEMENT_ERR_MSG : ''}">
					<!-- 结算状态 0=未结算（默认值）；1=结算成功；2=结算失败;3=部分结算 -->
					<span th:if="${item.SETTLEMENT_STATUS==0}">
						<span class="badge badge-secondary">未结算</span>
					</span>
					<span th:if="${item.SETTLEMENT_STATUS==1}">
						<!-- <span class="badge badge-success">交易成功</span> -->
						<span class="badge badge-success">全部结算</span>
					</span>
					<span th:if="${item.SETTLEMENT_STATUS==2}">
						<!-- <span class="badge badge-danger">交易失败</span> -->
						<span class="badge badge-danger">结算失败</span>
					</span>
					<span th:if="${item.SETTLEMENT_STATUS==3}">
						<span class="badge badge-warning">部分结算</span>
					</span>
				</td>
				<!-- 操作列 -->
				<td>
					<div class="dropdown">
						<button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">操作</button>
						<div class="dropdown-menu">
							<!-- 详情 -->
							<a class="dropdown-item btn-sm account-detail-single" th:attr="bind-id=${item.ID}">
								<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i><span>详情</span>
							</a> 
							<!-- 计算违约金 -->
							<a class="dropdown-item btn-sm generate-overdue-single" th:attr="bind-id=${item.ID}, data-settlement-status=${item.SETTLEMENT_STATUS}">
								<i class="fa fa-credit-card-alt" aria-hidden="true"></i> <span>计算违约金</span>
							</a> 
							<!-- 减免违约金 -->
							<a class="dropdown-item btn-sm overdue-reduce-single" th:attr="bind-id=${item.ID}, data-customer-id=${item.CUSTOMER_ID}, data-period=${item.PERIOD}, data-settlement-status=${item.SETTLEMENT_STATUS}">
								<i class="fa fa-fast-backward " aria-hidden="true"></i> <span>违约金减免</span>
							</a> 
						</div>
					</div>
				</td>

			</tr>
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">

	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager1')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
		//-----------------结算状态常量------------------------------------------------------------------------------------
		//结算状态 0=未结算（默认值）；1=结算成功；2=结算失败;3=部分结算
		var G_SETTLEMENT_STATUS_NORMAL = 0;//结算状态 0=未结算（默认值）；
		var G_SETTLEMENT_STATUS_SUCCESS = 1;//结算状态 1=结算成功；
		var G_SETTLEMENT_STATUS_PART = 3;//结算状态 3=部分结算
	
		//-----------------打开详情对话框------------------
	
		/* 
			加载客户账单详细信息 
		*/
		$('.account-detail-single').on('click',function() {
			
			var id = $(this).attr("bind-id"); //条目ID
			
			setCurrEditAccountItemId(id);//设置当前编辑账单的ID
			
			var parms = new Object(); //参数
			parms.id = id;
			loadAccountItemDetailList(parms, loadItemDetailCallback);
		});
		//跳转详情信息选项卡
		function loadItemDetailCallback(){
			showAccountItemDetailTab();
		}
		
		
		//-----------------打开违约金减免对话框------------------
		/* 
			计算违约金按钮
		*/
		$('.generate-overdue-single').on('click',function() {
			var accountItemId = $(this).attr("bind-id");
			var settlementStatus = $(this).attr("data-settlement-status");//结算状态 0=未结算（默认值）；1=结算成功；2=结算失败;3=部分结算
			if(settlementStatus==G_SETTLEMENT_STATUS_SUCCESS){
				//dialog type: success warning info error,默认为info
				util.message("账单已全部结算，不需要产生违约金！", null, "warning");
				return false;
			}
			util.delConfirm("确认生成违约金账单?", accountItemId, "generateOverdueFn");
		});
		
		/**
		 * 	生成账单
		 */
		function generateOverdueFn(accountItemId){
			var url = BASE_CONTEXT_PATH+'/overdue-fine-reduce-bill/generate-overdue-fine';
			var parms = new Object(); //参数
			parms.accountItemId = accountItemId;
			console.log(parms)
			
			$.post(url, parms, function(res){
				//console.log(res);
				if (res != null && res != "") {
					if (res.result_code == "success") {
						loadAccountItemPage();//重新加载账单列表
						util.message(res.result_msg,null,"warning");
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		
		//-----------------打开违约金减免对话框------------------
	
	
		/* 
			加载违约金减免对话框 
		*/
		$('.overdue-reduce-single').on('click',function() {
			var customerId = $(this).attr("data-customer-id");
			var period = $(this).attr("data-period");
			var accountItemId = $(this).attr("bind-id");
			
			var settlementStatus = $(this).attr("data-settlement-status");//结算状态 0=未结算（默认值）；1=结算成功；2=结算失败;3=部分结算
			if(settlementStatus==G_SETTLEMENT_STATUS_SUCCESS){
				//dialog type: success warning info error,默认为info
				util.message("账单已全部结算，不需要违约金减免！", null, "warning");
				return false;
			}
			$("#overdue-customer-id").val(customerId);
			$("#overdue-account-item-id").val(accountItemId);
			
			var url = BASE_CONTEXT_PATH+'/overdue-fine-reduce-bill/loadoverduereducedialog';
			var parms = new Object(); //参数
			parms.customerId = customerId;
			parms.period = period;
			parms.accountItemId = accountItemId;
			
			$("#overdue-reduce-dialog").load(url, parms,openOverdueReduceDialog); //加载完毕后显示 
		});
		
		/**
		  	打开修改参话框
		  	@returns
		 */
		function openOverdueReduceDialog() {
			//	可拖拽
			$("#modal-container-overdue-dialog").draggable({
				cursor : "move",
				handle : '.modal-header'
			}); 
		
			$('#modal-container-overdue-dialog').modal({
				backdrop : 'static',
				keyboard : false
			});
		}
	
		/* 
			close dialog:修改对话框 
		*/
		function closeOverdueReduceDialog() {
			$("#modal-container-overdue-dialog").modal("hide");
		}
		
		
		/**
			返回所选条目的 id(每行对应一个唯一的ID)
			@returns   
		 */
		function getSelectedIds(){
			var idArr = new Array();
		
			// 扫描用户所选择条目ID
			$(".item-selector").each(function(index, elem) {
				if (this.checked) { // 对于己选条目
					var id = $(this).attr("data-bind"); //
					idArr.push(id);
				}
			}); // end of item-selector
			return idArr;
		}
		
		//-----------------page loaded ready------------------
		$(function() {
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});


		});
		//创建分页组件实例
		var pager=new Pager("pager1");
		$(function(){			
			pager.init(loadPageClickPageNum,curr_searchCond);			
		});
	</script>
</body>
</html>