<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="common/common_head::headx('水表检测提醒')" th:remove="tag"></div>
<!-- 页面正在加载js -->
<script th:src="@{/pivas/js/common/ajaxSetup.js}"></script>
</head>
<body>
	<!-- 参数配置主页 -->
	<!-- <div class="container-fluid"> -->
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<!-- <div>
					<h4 class="panel-title">水表检测提醒</h4>
					<hr style="height:1px;border:none;border-top:1px solid blue;">
				</div> -->
				<!-- 业务页面 -->
				<div id="container">
					<!-- content -->
				</div>
			</div>
		</div>
	</div>


	<script th:inline="javascript">
		/*<![CDATA[*/
			var G_FUNCTION_MODULE = [[${FUNCTION_MODULE}]];//模块功能标识，用于页面显示不同功能，或发送请求时当参数使用
		/*]]>*/
	</script>

	<script>
	
		/**
		 * 	获取功能模块标识
		 */
		function getFunctionModuleFn(){
			return G_FUNCTION_MODULE;
		}
		
		$(function() {
			/* 
				加载用户框架页
			*/
			function loadTabsList(parms, callback) {
				var url = "/check-remind/tabs";
				var callbackFunc = callback;
				var containerId = "#container";
				loadPage(containerId, url, parms, callbackFunc);
			}
			
			/* 
				加载框架页面 
			*/
			var params = {"functionModule": getFunctionModuleFn()};//参数：功能模块标识
			loadTabsList(params, null);
		})
	</script>

</body>
</html>