<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>
<!-- JS Scripts-->
<!-- <script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script> -->

</head>
<body>

	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix medic-label meter-read-config-main">
		<div class="col-md-12 column">
			<!-- 估抄配置 --> 
			<div th:include="meter_read_config/estimate_table" th:remove="tag"></div>
		</div>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

	<script>
	
		//--------------------公共查询函数--------------------------

		//-------------------PAGE LOADED READY--------------------

		$(function() {
			//------------init-------------

			//---------事件绑定--------------
			
		});
	</script>



</body>
</html>