<!DOCTYPE html>
<!-- 柱状图-echart -->
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:include="common/common_head::headx('树状图统计')" th:remove="tag"></div>

<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/metroStyle/metroStyle.css}">
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/custom.css}">

</head>
<body>
	<div>
		<!-- <div id="chart-container" style="width: 800px; height: 500px; margin:0 auto;"></div> -->
	</div>
	<div class="batch-table table-container">
		<ul id="location-ztree" class="ztree" style="margin-top: 1px">
			<li id="ztree-loading">正在加载中，请稍等...</li>
		</ul>
	</div>
</body>

<!-- 引入echart -->
<script type="text/javascript" src="/echart/4.2.1/dist/echarts.js"></script>

<!-- 引入显示图表js -->
<script type="text/javascript" src="/statistic/customer/js/StatBarChart.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
		var statData = [[${statData}]];  		//统计数据
		var period=[[${period}]];   		    //期间
		console.log("所接收到的统计数据为:"+JSON.stringify(statData));
		
		var zNodes=[[${zNodes}]];  		//统计数据
		
		console.log("Tree node is:"+JSON.stringify(zNodes));
	/*]]>*/
</script>

<!-- JS Scripts-->
	<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
	<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script>
	<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.exedit.js}"></script>


<script type="text/javascript">

	

	/* 树结构图配置 */
	var setting= {
		data: {
			key: {
				name: "name",
			},
			simpleData: {
				enable:true,
				idKey: "id",
				pIdKey: "pid",
				rootPId: 0
			}
		},
        check: {
            enable: true,
            chkStyle: "radio",
            radioType: "all"
        },
        view: {
            showLine: true
        },
        callback: {
            //onClick: onClick,
            //onCheck: onCheck,
        }
    };

	//var G_LOCATION_ZTREE_OBJ = null;//用于保存地理位置ztree初始后的对象

	/*
		page loaded ready
	*/
	$(function(){
		//G_LOCATION_ZTREE_OBJ = $.fn.zTree.init($("#location-ztree"), setting);
		
		$.fn.zTree.init($("#location-ztree"), setting, zNodes);
		
		//var title="新增客户月统计:"+period;
		/* var chartContainer="chart-container";
		var statBarChart=new StatBarChart(statData,chartContainer);
		statBarChart.setTitle('漏失率月统计'+period);
		statBarChart.setLegendName('漏失率');
		statBarChart.displayChart(); */
	});	
	
</script>
</html>