<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="table">
		<table class="table table-sm" id="meter-record-table">
		<thead>
			<tr>
				<th>名称</th>
				<th>电话</th>
				<th>手机</th>
				<th>地址</th>
				<th>抄表期间</th>
				<th>本期抄表日期</th>								
				<th>本期水量</th>
				<!-- <th>用水性质</th> -->
			</tr>
		</thead>
		<tbody>
		                                     
			<span th:each="item,iterStat: ${dataList}" th:remove="tag">
				<tr>
				<!-- 名称 -->
				<td th:text="${item.CUSTOMER_NAME}"></td>
				<!-- 电话 -->
				<td th:text="${item.CUSTOMER_TEL}"></td>
				<!-- 手机 -->
				<td th:text="${item.CUSTOMER_MOBILE}"></td>
				<!-- 地址-->
				<td>
					<!-- 客户类型，1=个人/2=单位 -->
					<span th:if="${item.CUSTOMER_TYPE==1}" th:text="${item.ADDRESS}+' '+${item.ROOM}">个人地址</span>
					<span th:if="${item.CUSTOMER_TYPE==2}" th:text="${item.ADDRESS}">单位地址</span>
				</td>
				<!-- 抄表期间-->
				<td th:text="${item.PERIOD}">抄表期间</td>				
				<!-- 本期抄表日期 -->
				<td th:text="${#dates.format(item.END_TIME, 'yyyy-MM-dd HH:mm:ss')}">本期抄表日期</td>				
				<!-- 本期水量-->
				<td th:text="${item.WATER_AMOUNT}">本期水量</td>
				<!-- 抄表类型 -->
				<!-- <td th:text="${item.WATER_USE}">用水性质</td> -->
				<!-- <td>
					<font th:if="${record.readType==0}" th:text="${record.readTypeStr}"></font>
					<b><font color="green" th:if="${record.readType==1}" th:text="${record.readTypeStr}"></font></b>
					<b><font color="red" th:if="${record.readType==2}" th:text="${record.readTypeStr}"></font></b>
				</td> -->
				
				</tr>
			</span>
			<tr>
				<td colspan="6">
					<b>统计</b>
				</td>
				<!-- 水量统计-->
				<td>
					<b th:text="${totalWaterAmount==null ? '0' : totalWaterAmount}">0</b>
				</td>
				<td></td>				
			</tr>
		</tbody>
	</table>
	</th:block>
</body>
</html>