<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>
<!-- ZTree CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/metroStyle/metroStyle.css}">
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/custom.css}">
<!-- ZTree JS Scripts-->
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script>

<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>

<link rel="stylesheet"	href="/css/billtablebody.css" />
<link rel="stylesheet"	href="/css/commform.css" />
<link rel="stylesheet"	href="/css/searchpanel.css" />
</style>

</head>
<body>
	<!-- 生成批量代扣文件对话框 -->
	<div id="generate-file-dialog"></div>
	
	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix  ccb-account-main">
		<div class="col-md-12 column">
			<br>
			<div class="tabbable" id="tabs-ccb-customer-account-item">
				<ul class="nav nav-tabs">
					<li class="nav-item" id="tab-customer-account-item-li">
						<a class="nav-link active" href="#tab-customer-account-item" data-toggle="tab">用户账单</a>
					</li>
					<li class="nav-item" id="tab-with-holding-file-li">
						<a class="nav-link" href="#tab-with-holding-file" data-toggle="tab">代扣文件</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-customer-account-item">
						<!-- 操作面板 -->
						<div class="" style="display: inline-block" id="customer-account-item-form">
							<ul class="extra-l" style="list-style: none;">
								<!-- 期间 -->
								<li class="input-group-sm">
									<input type="text" class="form-control Wdate account-item-period" readonly="readonly" style="width: 100px;"
											id="account-item-period" name="period"
											onClick="WdatePicker({dateFmt:'yyyy-MM',onpicked: setBackGround});"
											placeholder="期间" title="期间" />
								</li>
								
								<!-- 地理位置查询条件 -->
								<li class="input-group-sm">
									<div th:include="component/districtsearcher/district_searcher::searcher('location-searcher-account')" th:remove="tag"></div>
								</li>
								<li class="input-group-sm">
									<select class="form-control deduct-mode" id="deduct-mode" name="deductMode">
											<option value="3">民生银行代扣</option>
									</select>
								</li>
								<!-- 面板:查询 -->
								<li class="input-group-sm">
									<input type="text" class="form-control search-cond" id="search-cond" placeholder="请输入客户名称/手机号">
								</li>
								<!-- 查询按钮 -->
								<li>
									<button type="button" class="btn btn-success btn-sm btn-general-search" id="btn-general-search">
										<i class="fa fa-search" aria-hidden="true"> <span>查询</span>	</i>
									</button>
									
									<button type="button" class="btn btn-warning btn-sm btn-general-search-reset" id="btn-general-search-reset">
										<i class="fa fa-undo" aria-hidden="true"> <span>清除</span></i>
									</button>
								
								</li>
								<li class="input-group-sm">
									<button type="button" class="btn btn-success btn-sm" id="btn-show-hide-advanced-search">
										<i class="fa fa-search" aria-hidden="true"></i><span>高级查询</span></i>
									</button>
								</li>
								<!-- 生成批量代扣Excel按钮 -->
								<li>
									<button type="button" class="btn btn-success btn-sm btn-generate-with-holding-file" id="btn-generate-with-holding-file">
										<i class="fa fa-file-text-o" aria-hidden="true"> <span>生成批量代扣Excel</span>	</i>
									</button>
								</li>
							</ul>
						</div>
			
						<!--客户账单 -->
						<div class="row clearfix" id="account-item-item">
							<div class="col-md-3 column" style="padding-right:1px;">					
								<div class="card">
									<div class="card-body" id="location-body" style="padding-top:10px;padding-bottom:10px">
										<!-- 地理位置列表 -->
										<!-- 加载方式 -->
										<div th:include="component/locationtree/location_tree::tree('location-tree')" th:remove="tag"></div>
									</div>
								</div>
							</div>
							<div class="col-md-9 column" style="padding-left:1px;">
								<div class="card">
									<div class="card-body account-item-table" id="bill-table-body" style="padding-left:10px;padding-right:10px;">
										<!-- 客户账单列表 -->
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="tab-pane" id="tab-with-holding-file">

						<div id="with-holding-file">
							<!-- 批量代扣文件列表 -->
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	
	
	<hr>
	<!-- 高级查询页面 -->
	<div th:include="cmbc/account_item/advanced_search_page" th:remove="tag"></div>
	<!-- 地理位置treeJS -->
	<script type="text/javascript"	th:src="@{/js/component/locationtree/LocationTree1.js}"></script>
	<!-- 地理位置下拉框查询JS -->
	<script type="text/javascript"	th:src="@{/js/component/districtsearcher/DistrictSearcher.js}"></script>
	<!-- 地理位置树自适应JS -->
	<script type="text/javascript"	th:src="@{/js/location_tree_adaptive/location_tree_adaptive.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

	<script>
		//用户选择的客户ID
		var CUSTOMER_ID_ARR = new Array();
		//记录查询方式，0是普通查询；1是高级查询；2是点击地理位置树查询
		var G_GENERAL_SEARCH = "0";
		/*
			设置日期选择input背景色
		*/
		function setBackGround() {
			$("#account-item-period").css("background-color", "white");
		}
		
		/**
		 * 	获取当前系统月份（表示为抄表记录中的期间）
		 */
		function getCurrSysMonth(){
			var date = new Date();
			var year = date.getFullYear();    //获取完整的年份(4位,1970-????)
			var month = date.getMonth();       //获取当前月份(0-11,0代表1月)
			if(month<10){
				month = "0"+month
			}
			return year+"-"+month;
		}
		/**
		 * 	设置账单期间默认值为系统月份
		 */
		function setCustomerAccountPeriodDefault(){
			//期间=系统日期减一个月
			var period = moment().subtract(1, "months").format("YYYY-MM");
			$("#account-item-period").val(period);
		}

	
		/**
		 * 	显示批量代扣文件选项卡
		 */
		function showWithHoldingFileItem(){
			$("#tab-with-holding-file-li").show();
			$("#tabs-ccb-customer-account-item ul a[href='#tab-with-holding-file']").tab("show");//跳转到批量代扣文件选项卡
		}
		
	
		//--------------------公共查询函数--------------------------
		
		/*	
			公共查询函数
			
			查询核对类型列表
		*/
		function searchCustomerAccountItem(parms) {

			//加载字典列表页面
			var url = BASE_CONTEXT_PATH + "/cmbc-cus-account/table"
			$(".account-item-table").load(url, parms, triggerResize);
		}
		
		function triggerResize(){
			//console.log("call back........");
			var myEvent = new Event('resize');
	        window.dispatchEvent(myEvent);
		}
		
		//------------------------------	获取查询参数	------------------------------
		/**
		 * 	获取查询参数（不包括分页信息）
		 */
		function getSearchParams(){
			//地理位置痕迹ID（ID-ID-ID-ID）
			var traceIds = null;
			var locaBlockTraceIds = locationAccountSearcher.getBlockId();//地理位置-小区traceIds
			var locaBuildingTraceIds = locationAccountSearcher.getBuildingId();//地理位置-楼号traceIds
			var locaUnitTraceIds = locationAccountSearcher.getUnitId();//地理位置-单元traceIds
			if(locaUnitTraceIds!=null && locaUnitTraceIds!=""){
				traceIds = locaUnitTraceIds;
			}else if(locaBuildingTraceIds!=null && locaBuildingTraceIds!=""){
				traceIds = locaBuildingTraceIds;
			}else if(locaBlockTraceIds!=null && locaBlockTraceIds!=""){
				traceIds = locaBlockTraceIds;
			}
			var searchCond=$("#customer-account-item-form .search-cond").val();
			var deductMode = $("#customer-account-item-form .deduct-mode").val();
			var period = $("#customer-account-item-form .account-item-period").val();//期间
			
			//初始化请求参数
			var parms = new Object();
			parms.searchCond=searchCond;
			parms.traceIds=traceIds;
			parms.deductMode=deductMode;
			parms.period=period;
			return parms;
		}
		
		//----------------------------------地理位置tree实例---------------------------------------------------------------------
		var locationTree = new LocationTree('location-tree');
		//地理位置下拉框件实例
		var locationAccountSearcher = new DistrictSearcher("location-searcher-account", locationSelectSearchAccountCallback); //此处searcher的ID和回调函数
		
		/*
			ztree树click某节点后的回调函数
		*/
		function clickZTreeNodeCallback(treeNode) {
			
			if(treeNode==null){
				return false;
			}
			var traceIds = treeNode.traceIds;//获取点击节点的traceIds
			var pyCode = treeNode.pycode;//获取用户点击节点的pycode
			
			//清除查询条件
			$('#customer-account-item-form .btn-general-search-reset').click();
			advancedSearchParams.reset();//重新高级查询条件
			//地理位置痕迹ID（ID-ID-ID-ID）
			var searchCond=$("#customer-account-item-form .search-cond").val();
			var deductMode = $("#customer-account-item-form .deduct-mode").val();
			var period = $("#customer-account-item-form .account-item-period").val();//期间
			console.log(pyCode);
			//初始化请求参数
			var parms = new Object();
			parms.searchCond=searchCond;
			parms.traceIds=traceIds;
			parms.deductMode=deductMode;
			parms.period=period;
			G_GENERAL_SEARCH = "2";//记录是普通查询还是高级查询
			searchCustomerAccountItem(parms);
		}
		
		function getZTreeSearchParam(){//获取点击地理位置树的traceIds
			var traceIds = null;
			if(locationTree.getSelectedTreeNode() != null){
				traceIds = locationTree.getSelectedTreeNode().traceIds;
			}
			
			var parms = new Object();
			parms.traceIds = traceIds;
			return parms;
		}
		/**
		 * 	地理位置下拉查询组件回调函数
		 */
		function locationSelectSearchAccountCallback(){
			
			locationTree.cancelAllSelectedNode();//取消ztree的选中状态
			G_GENERAL_SEARCH = "0";
			defaultSearchCustomerAccountItem();//查询客户
		}
		/*
			默认查询
			Retrieve(default)查询(加载默认列表)
		*/
		function defaultSearchCustomerAccountItem() {
			var pageNum = 0;
			var pageSize = 0;
			
			//获取参数
			var parms = null;//获取查询参数（不包含分页信息）
			if(G_GENERAL_SEARCH == "0"){
				parms = getSearchParams();//获取普通查询参数（不包括分页信息）
			}else if (G_GENERAL_SEARCH == "1"){
				parms = advancedSearchParams.getParams();//获取高级查询参数
			}else {
				parms = getZTreeSearchParam();//获取ztree查询参数
			}
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;
			
			searchCustomerAccountItem(parms);
		}
		
		/*
			查询按钮点击时调用
			采用用户所输入的查询条件进行查询.
		*/
		function btnSearchCustomerAccountItemClick() {
			
			var pageNum = 0;
			var pageSize = 0;
			
			var parms = getSearchParams();//获取查询参数（不包括分页信息）
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;
			
			searchCustomerAccountItem(parms);
		}
	
		/*
			分页查询(采用所保存的状态)
		*/
		function loadCustomerAccountItemPage(searchCond,pageNum,pageSize) {
	
			//获取参数
			var parms = null;
			if(G_GENERAL_SEARCH == "0"){
				parms = getSearchParams();//获取普通查询参数（不包括分页信息）
			}else if (G_GENERAL_SEARCH == "1"){
				parms = advancedSearchParams.getParams();//获取高级查询参数
			}else {
				parms = getZTreeSearchParam();//获取ztree查询参数
			}
			
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;
			
			searchCustomerAccountItem(parms);
		}


		
		//------------------------------	加载地理位置列表	------------------------------
		/* 
		 *	加载通用地理位置页面
		 * 		domId:需要加入此页面的dom节点ID
		 * 		callback:页面加载完成后的回调
		 */
		function loadGlobalLocationAccountPage(domId, callback) {
			var url = "/location/load-global-location-page";
			var callbackFunc = callback;
			var containerId = "#"+domId;
			loadPage(containerId, url, null, callbackFunc);
		}
		/**
		 * 	加载地理位置后的回调
		 */
		function loadLocationListAccountCallback(){
			//主页:默认查询(加载默认列表)
			defaultSearchCustomerAccountItem();//查询客户账单
		}
		
		
		//----------生成批量代扣文件对话框------------------------
		
		/**
		*点击生成批量代扣文件，click事件
		*/
		$('#customer-account-item-form #btn-generate-with-holding-file').on('click',function() {
			
			var customerIds = CUSTOMER_ID_ARR;//列表复选框参数
			console.log(customerIds.length)
			var searchParams = getSearchParams();//查询参数
			if(customerIds.length<=0){
				if(searchParams.traceIds == null || searchParams.traceIds == ""){
					util.message("请选择地理位置！",null,"warning");
					return false;
				}
				util.confirm("确认所选择的记录生成代扣文件? ","xxxxxxx", "loadGenerateFileDialog", "cancel_callback_name")	
				
			} else {
				util.confirm("确认所选择的记录生成代扣文件? ","xxxxxxx", "loadGenerateFileDialog", "cancel_callback_name")	
			}
		});
		/*
			批量生成代扣文件:取消(回调)  桩函数
		*/
		function cancel_callback_name(){
			console.log('cancel!');
		}
		
		/*		
			加载(Load): 增加/编辑对话框
			将对话框内容加载到指定的容器中
		 */
		function loadGenerateFileDialog() {
			var url = BASE_CONTEXT_PATH + '/cmbc-cus-account/load-generate-file-dialog';
			$("#generate-file-dialog").load(url, null, openGenerateFileDialog); //加载完毕后显示
		}
		
		//-------------------	对话框操作	--------------------
		/**
		  	打开生成批量代扣文件对话框
		  	@returns
		 */
		function openGenerateFileDialog() {
			//	可拖拽
			$("#modal-container-generate-file-dialog").draggable({
				cursor : "move",
				handle : '.modal-header'
			}); 
		
			$('#modal-container-generate-file-dialog').modal({
				backdrop : 'static',
				keyboard : false
			});
		}

		/* 
			close dialog:关闭生成批量代扣文件对话框
		*/
		function closeGenerateFileDialog() {
			$("#modal-container-generate-file-dialog").modal("hide");
		}
		
		
		 $("#tab-with-holding-file-li").on("click", function(){
			 loadWithHoldingFileTabs();
		}); 
		/* 
			加载代扣文件列表选项卡
		*/
		 function loadWithHoldingFileTabs() {
			var url = BASE_CONTEXT_PATH+'/cmbc-cus-account/load-holding-file-main';
			$("#with-holding-file").load(url, null,showWithHoldingFileItem); //加载完毕后显示 
			
		}

		//-------------------PAGE LOADED READY--------------------

		$(function() {
			
			//设置查询的默认期间
			setCustomerAccountPeriodDefault()
			//------------------初始化ztree--------------------------------------------------
			locationTree.initTree();  //初始化树.		
			locationTree.setClickOuterFunction(clickZTreeNodeCallback);  //设置外部业务函数
			//地理位置下拉组件初始化
			locationAccountSearcher.init();
			
			//主页:默认查询(加载默认列表)
			defaultSearchCustomerAccountItem();
			/*
				绑定高级查询按钮的click事件
			*/
			$('#btn-show-hide-advanced-search').on('click', function() {
				
				showHideAdvancedSearch.toggle();//显示/隐藏高级查询
	
			});
			
			
			/*
				查询按钮CLICK
			*/
			$('#customer-account-item-form .btn-general-search').on('click', function() {
				locationTree.cancelAllSelectedNode();//取消ztree的选中状态
				advancedSearchParams.reset();//重新高级查询条件
				G_GENERAL_SEARCH = "0";//记录是普通查询还是高级查询
				defaultSearchCustomerAccountItem();//查询客户账单
			});
			/*
				查询条件复位按钮CLICK
			 */
			$('#customer-account-item-form .btn-general-search-reset').on('click', function() {
				$("#customer-account-item-form .search-cond").val("");
				$("#customer-account-item-form .search-cond").focus();//获得焦点
	
				$("#customer-account-item-form .location-block").val("");//设置地理位置-小区值为空
				$("#customer-account-item-form .location-building").val("");//设置地理位置-楼号值为空
				$("#customer-account-item-form .location-building").attr("disabled", true);//设置地理位置-楼号不可编辑
				$("#customer-account-item-form .location-unit").val("");//设置地理位置-单元值为空
				$("#customer-account-item-form .location-unit").attr("disabled", true);//设置地理位置-单元不可编辑
				
	
			});
			/*
				查询条件输入框 KEYUP
			 */
			$('#customer-account-item-form .search-cond').on('keyup', function(event) {
				if (event.keyCode == 13) {
					$('#customer-account-item-form .btn-general-search').trigger("click");
				}
			});
			
			/*
				自动调整树的高度.
			*/
			var tableContainerId = "bill-table-body";
			LocationTreeAdaptive.adaptive(tableContainerId);

		});
	</script>



</body>
</html>