<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>Insert title here</title>
</head>
<body>
	<!-- 批次列表 -->
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>客户名称</th>
				<th>客户手机</th>
				<th>身份证号</th>
				<th>地址</th>
				<th>用水状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${customersList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td>
				
				<!-- 客户名称 -->
				<td th:text="${item.customerName}">客户名称</td>
				<!-- 客户电话 -->
				<td th:text="${item.customerMobile}">客户手机</td>
				<!-- 用水性质 -->
				<td th:text="${item.idNo}">身份证号 </td>
				<!-- 地址 -->
				<td th:text="${item.address}">地址</td>
				<!-- 用水状态 -->
				<td th:attr="id='water-status-'+${item.id}" th:text="${item.waterStatusStr}">用水状态 </td>
				
				<!-- 操作列 -->
				<td>
					<!-- 协议信息 -->
					<button type="button" class="info-detail-single btn btn-secondary btn-sm" th:id="'btn-info-detail-'+${item.id}"
						th:attr="bind-id=${item.id}">
						<i class="fa fa-file-o" aria-hidden="true"></i><span>三方协议信息</span>
					</button>
					
				</td>

			</tr>
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">

	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager1')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
			
			/* 
			加载客户账单详细信息 
		*/
		$('.info-detail-single').on('click',function() {
			
			var id = $(this).attr("bind-id"); //条目ID			
			var parms = new Object(); //参数
			parms.customerId = id;
			loadOpenAccountRecordlList(parms, loadOpenAccountRecordCallback);
		});
				
		//跳转详情信息选项卡
		function loadOpenAccountRecordCallback(){
			showOpenAccountRecordTab();
		}
		//-----------------page loaded ready------------------
		$(function() {
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});

		});
		
		//创建分页组件实例
		var pager=new Pager("pager1");
		$(function(){			
			pager.init(loadCustomerPage,curr_searchCond);			
		});
	</script>
</body>
</html>