<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>
</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">
								
	<!-- 表单内容 -->
	<!-- form-inline -->
										
	<!-- 采用表格进行布局 -->
	<!-- 配置费规则部分 -->
	<table class="table-layout table ">
		<tbody>
			<!-- <tr>
				<td>
					客户编号
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">客户编号&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control"
								th:value="${currItem==null ? '' : currItem.customerCode}"
								id="customers-customer_mode" name="customerCode" 
								maxlength=20 title="请输入1-20个字符" placeholder="客户编号" required />
						</span>
					</div>
				</td>
				<td>
					立户时间
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">立户时间</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control  input-sm Wdate"
								id="customers-settle_time" name="settleTime"		
								th:value="${currItem==null ? '' : currItem.settleTimeStr}"				
								onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
								placeholder="立户时间" style="background-color: white;" title="请选择立户时间" />
						</span>
					</div>
				</td>
			</tr> -->
			<tr>
				<td>
					<!-- 立户时间 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">立户时间</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control  input-sm Wdate"
								id="customers-settle_time" name="settleTime"		
								th:value="${currItem==null ? '' : currItem.settleTimeStr}"				
								onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
								placeholder="立户时间" style="background-color: white;" title="请选择立户时间" />
						</span>
					</div>
				</td>
				<td>
					<!-- 客户名称 -->
					<div class="form-group form-inline">
						<label for="customers-name" class="col-sm-4 control-label">客户名称&nbsp<i style="color: red">*</i></label> 
						<span class="input-group-sm col-sm-8"> 
							<input type="text"
								class="form-control  "
								th:value="${currItem==null ? '' : currItem.customerName}"
								id="customers-customer-name" name="customerName"
								maxlength=30 title="请输入1-30个字符" placeholder="客户名称" required />
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<!-- 客户手机 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">客户手机&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control"
								th:value="${currItem==null ? '' : currItem.customerMobile}" 
								id="customers-customer_mobile" name="customerMobile" 
								maxlength=15 title="请输入1-15个字符" placeholder="客户手机" required/>
						</span>
					</div>
				</td>
				<td>
					<!-- 客户电话 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">客户电话</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control"
								th:value="${currItem==null ? '' : currItem.customerTel}" 
								id="customers-customer_tel" name="customerTel" 
								maxlength=15 title="请输入1-15个字符" placeholder="客户电话"/>
						</span>
					</div>
				</td>
				<!-- <td>
					客户邮箱
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">客户邮箱</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control "
								th:value="${currItem==null ? '' : currItem.customerEmail}" 
								id="customers-customer_email" name="customerEmail" 
								maxlength=25 title="请输入1-25个字符" placeholder="客户邮箱"/>
						</span>
					</div>
				</td> -->
			</tr>
			<tr>
				<td>
					<!-- 证件类型-->
					<div class="form-group form-inline">
						<label for="user-sex" class="col-sm-4 control-label">证件类型</label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control " id="customers-id_type" name="idType" th:value="${currItem==null ? 1 : currItem.idType}" >
								<!-- 默认选择第一个 -->
								<option value="1" th:attr="selected=( ${currItem!=null && currItem.idType==1} )? 'selcted' ">身份证</option>
								<option value="2" th:attr="selected=( ${currItem!=null && currItem.idType==2} )? 'selcted' ">驾驶证</option>												
							</select>
						</span>
					</div>
				</td>
				<td>
					<!-- 证件号码 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">证件号码</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control"
								th:value="${currItem==null ? '' : currItem.idNo}" 
								id="customers-id-no" name="idNo" 
								maxlength=20 title="请输入1-20个字符" placeholder="证件号码" />
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<!-- 地址 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">片区分组&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control" id="customers-address" name="address" th:value="${currItem==null ? '' : currItem.address}" required>
								<!-- 默认选择第一个 -->
								<option value="">-请选择-</option>
								<span th:each="item,iterStat: ${locationBlockList}" th:remove="tag">
									<option th:value="${item.name}" th:attr="selected=${currItem!=null && item.name==currItem.address ? 'true':'false'}, location-code=${item.code}" th:text="${item.name}">地理位置-小区</option>
								</span>
								
							</select>
						</span>
					</div>
				</td>
				<td>
					<!-- 门牌号 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">门牌号</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control"
								th:value="${currItem==null ? '' : currItem.room}" 
								id="customers-room" name="room" 
								maxlength=30 title="请输入1-30个字符" placeholder="门牌号"/>
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<!-- 水价分类 -->
					<div class="form-group form-inline">
						<label for="" class="col-sm-4 control-label">水价分类&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control" id="customers-water-use" name="waterUse" th:value="${currItem==null ? '' : currItem.waterUse}" required>
								<!-- 默认选择第一个 -->
								<option value="" data-price-type-code="">-请选择-</option>
								<span th:each="item,iterStat: ${priceTypeMapList}" th:remove="tag">
									<option th:value="${item.PRICE_TYPE_CODE}"  th:attr="selected=${currItem!=null && item.PRICE_TYPE_CODE==currItem.waterUse ? 'true':'false'}, data-price-type-code=${item.PRICE_TYPE_CODE}"
											th:text="${item.PRICE_TYPE_NAME}">数据字典的值</option>
								</span>
							</select>
						</span>
					</div>
				</td>
				<td>
					<!-- 水价 -->
					<div class="form-group form-inline">
						<label for="" class="col-sm-4 control-label">水价&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control" id="customers-price-code" name="priceCode" th:value="${currItem==null ? '' : currItem.priceCode}">
								<!-- 默认选择第一个 -->
								<option value="" >-请选择-</option>
								<span th:each="item,iterStat: ${waterPriceList}" th:remove="tag">
									<option th:value="${item.priceCode}"  th:attr="selected=${currItem!=null && item.priceCode==currItem.priceCode ? 'true':'false'}"
											th:text="${item.ladderName}+${item.totalPrice}">数据字典的值</option>
								</span>
							</select>
						</span>
					</div>
				</td>
			</tr>
			<!-- <tr>
				<td>
					价格分类
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">价格分类&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control" id="customers-water_use" name="waterUse" th:value="${currItem==null ? '' : currItem.waterUse}" required>
								默认选择第一个
								<option value="" >-请选择-</option>
								<span th:each="item,iterStat: ${priceTypeMapList}" th:remove="tag">
									<option th:value="${item.PRICE_TYPE_CODE}"  th:attr="selected=${currItem!=null && item.PRICE_TYPE_CODE==currItem.waterUse ? 'true':'false'}"
											th:text="${item.PRICE_TYPE_NAME}">数据字典的值</option>
								</span>
								
							</select>
						</span>
					</div>
				</td>
				<td>
					价格
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">价格&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control" id="customers-water_use" name="waterUse" th:value="${currItem==null ? '' : currItem.waterUse}" required>
								默认选择第一个
								<option value="" >-请选择-</option>
								<span th:each="item,iterStat: ${priceTypeMapList}" th:remove="tag">
									<option th:value="${item.PRICE_TYPE_CODE}"  th:attr="selected=${currItem!=null && item.PRICE_TYPE_CODE==currItem.waterUse ? 'true':'false'}"
											th:text="${item.PRICE_TYPE_NAME}">数据字典的值</option>
								</span>
								
							</select>
						</span>
					</div>
				</td>
			</tr> -->
			<tr>
				<td>
					<!-- 政策减免-->
					<div class="form-group form-inline">
						<label for="user-sex" class="col-sm-4 control-label">政策减免</label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control " id="customers-discount-type" name="discountType" th:value="${currItem==null ? '' : currItem.discountType}">
								<!-- 默认选择第一个 -->
								<option value="">-请选择-</option>
								<span th:each="item,iterStat: ${discountList}" th:remove="tag">
									<option th:value="${item.id}"  th:attr="selected=${currItem!=null && item.id==currItem.discountType ? 'true':'false'}"
											th:text="${item.name}">数据字典的值</option>
								</span>
								
							</select>
						</span>
					</div>
				</td>
				<td>
					<!-- 用水状态-->
					<div class="form-group form-inline">
						<label for="user-sex" class="col-sm-4 control-label">用水状态</label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control  " id="customers-water-status" name="waterStatus" th:value="${currItem==null ? 1 : currItem.waterStatus}" >
								<!-- 默认选择第一个 -->
								<option value="0" th:attr="selected=( ${currItem!=null && currItem.waterStatus==0} )? 'selcted' ">正常</option>
								<option value="1" th:attr="selected=( ${currItem!=null && currItem.waterStatus==1} )? 'selcted' ">停水</option>												
							</select>
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<!-- 批量代扣方式-->
					<div class="form-group form-inline">
						<label for="user-sex" class="col-sm-4 control-label">代扣方式&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control "  id="customers-deduct-type" name="deductType" th:value="${currItem==null ? 1 : currItem.deductType}" required>
								<!-- 默认选择第一个 -->
								<option value="1" th:attr="selected=( ${currItem!=null && currItem.deductType==1} )? 'selcted' ">其他</option>
								<option value="2" th:attr="selected=( ${currItem!=null && currItem.deductType==2} )? 'selcted' ">建行自动扣费</option>
								<option value="3" th:attr="selected=( ${currItem!=null && currItem.deductType==3} )? 'selcted' ">民行自动扣费</option>
								<option value="4" th:attr="selected=( ${currItem!=null && currItem.deductType==4} )? 'selcted' ">无卡用户扣预存水费</option>												
							</select>
						</span>
					</div>
				</td>
				<td>
					<!-- 通知方式，0:全闭;1:微信打开,短信关闭2:短信打开,微信关闭3:全开 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">通知方式</label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control  " id="customers-notify-mode" name="notifyMode" th:value="${currItem==null ? 1 : currItem.notifyMode}" >
								<!-- 默认选择第一个 -->
								<option value="3" th:attr="selected=( ${currItem!=null && currItem.notifyMode==3} )? 'selcted' ">全开</option>
								<option value="1" th:attr="selected=( ${currItem!=null && currItem.notifyMode==1} )? 'selcted' ">微信</option>
								<option value="2" th:attr="selected=( ${currItem!=null && currItem.notifyMode==2} )? 'selcted' ">短信</option>
								<option value="0" th:attr="selected=( ${currItem!=null && currItem.notifyMode==0} )? 'selcted' ">全闭</option>
								<!-- <option value="3" th:attr="selected=( ${currItem!=null && currItem.notifyMode==3} )? 'selcted' ">电子邮件</option> -->												
							</select>
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<!-- 是否为预存客户 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">是否预存&nbsp<i style="color: red">*</i></label>
						<span class="input-group-sm col-sm-8">
							<select class="form-control  " id="customers-prepayment-customer" name="prepaymentCustomer" th:value="${currItem==null ? 0 : currItem.prepaymentCustomer}" required>
								<!-- 默认选择第一个 -->
								<option value="0" th:attr="selected=( ${currItem!=null && currItem.prepaymentCustomer==0} )? 'selcted' ">否</option>
								<option value="1" th:attr="selected=( ${currItem!=null && currItem.prepaymentCustomer==1} )? 'selcted' ">是</option>
							</select>
						</span>
					</div>
				</td>
				<td>
					<!-- 用水人数 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">用水人数</label>
						<span class="input-group-sm col-sm-8">
							<input type="number" class="form-control  "
								th:value="${currItem==null ? '3' : currItem.useNum}" 
								id="customers-use-num" name="useNum" 
								maxlength=2 title="请输入1-10个人数" placeholder="用水人数" />
						</span>
					</div>
				</td>
				
			</tr>
			
			<tr>
				<td>
					<!-- 银行信息 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">银行名称</label>
						<span class="input-group-sm col-sm-8">
							<input type="hidden" id="customer-bank-id" name="bankId" th:value="${bank==null ? '' : bank.id}" />
							<select class="form-control " id="customer-bank-name" name="bankName" th:value="${bank==null ? '' : bank.bankName}" >
								<!-- 默认选择第一个 -->
								<option value="" >-请选择-</option>
								<span th:each="item,iterStat: ${bankList}" th:remove="tag">
									<option th:value="${item.value}"  th:attr="selected=${bank!=null && item.value==bank.bankName ? 'true':'false'}, data-bank-code=${item.key}"
											th:text="${item.value}">数据字典的值</option>
								</span>
							</select>
						</span>
					</div>
				</td>
				
				<td>
					<!-- 银行卡号 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">银行卡号</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control "
								th:value="${bank==null ? '' : bank.cardNo}" 
								id="customer-bank-card-no" name="cardNo" 
								maxlength=20 title="请输入1-20位字符" placeholder="银行卡号"/>
						</span>
					</div>
				</td>										
			</tr>
			<tr>
				<td>
					<!-- 备注 -->
					<div class="form-group form-inline">
						<label for="customers-description" class="col-sm-4 control-label">备注</label>
						<span class="input-group-sm col-sm-8">
							<input type="text" class="form-control  "
								th:value="${currItem==null ? '' : currItem.remark}" 
								id="customers-remark" name="remark" 
								maxlength=50 title="请输入备注信息" placeholder="备注" />
						</span>
					</div>
				</td>
				<td></td>
				
			</tr>
			
		</tbody>
	</table>
																				
	<!-- 选择地理位置页面 -->
	<!-- <div th:include="customers/location_select" th:remove="tag"></div> -->
	
	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
		/*]]>*/
	</script>

	<script>
		/* $.validator.setDefaults({//验证成功后，保存数据
		    submitHandler: function() {
		    	modiItem(true);
		     	//alert("提交事件!");
		    }
		}); */
		//------------------业务操作----------------------
		//--------------------page loaded ready-----------------------
		$(function() {

			//initScroll();//初始化滚动条
			//windowResize();
			//$("html").getNiceScroll().resize();
	        //$("html").getNiceScroll().onResize();
			
			//初始化表单验证
			$("#edit-customer-tab-form").validate({//设置正则验证
			    rules: {
			        propEmail: {
			          required: true,
			          email: true
			        },
			      },
			      messages: {
			        propEmail: "请输入一个正确的邮箱",
			      }
			});
			
			
			var G_JMSHYS = "JMSHYS";//用水性质是居民生活用水时,属于阶梯水价
			
			//如果用户选择的是居民用水性质,则不需要选择水价,执行的是阶梯水价
			var waterUse = $("#customers-water-use").find("option:selected").val();
			if(waterUse == G_JMSHYS){
				$("#customers-price-code").attr("disable", true);
			}
			
			/**
			 * 	绑定用水性质的change事件，用于切换对就的价格
			 */
			$("#customers-water-use").on('change',function() {//用水性质下拉框改变事件
				var url = BASE_CONTEXT_PATH + "/water-price/get-water-price";
				var waterPriceList = null;
				var waterUse = $("#customers-water-use").find("option:selected").val();
				if(waterUse ==null || waterUse==""){
					$("#customers-price-code").empty();
					var html = "<option value='' data-price-type-code=''>-请选择-</option>";
					$("#customers-price-code").append(html);
					$("#customers-price-code").attr("disabled", true);
				} else if(waterUse == G_JMSHYS){
					$("#customers-price-code").attr("disabled", true);
				} else {
					$("#customers-price-code").attr("disabled", false);
				}
				var parms = new Object();
				parms.waterUse = waterUse;
				$.post(url, parms, function(res){
				 	if(res != null && res != "") {
				 		waterPriceList = res;
				 		
				 		$("#customers-price-code").empty();
				 		var html = "";
				 		if(waterUse == G_JMSHYS){
				 			html += "<option value='' data-price-type-code=''>-阶梯水价-</option>";
				 		}
				 		$.each(waterPriceList, function(){
				 			html += "<option value='"+this.priceCode+"'>"+this.ladderName+'('+this.totalPrice+')'+"</option>";
				 		});
				 		$("#customers-price-code").append(html);
					} 
				});
			});
			
		});
	</script>
	
	
	</th:block>
	
</body>
</html>