<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<form class="form-horizontal " role="form" id="dialog-modi-form">
			<div style="width:100%;max-width:400px;padding:30px 60px;">
				<!-- 当前所编辑的条目ID -->
				<input type="hidden" id="user-id" name="id" th:value="${user==null ? '' : user.id}" />
			
				<div style="margin-bottom:20px">
					<label for="old-password" class="label-top">&nbsp;&nbsp;&nbsp;旧密码：</label>
					<input type="password" class="" value="" id="old-password" name="oldPassword" maxlength=20 title="请输入1-20位字符" placeholder="旧密码" style="height: 30px;" />
				</div>
				<div style="margin-bottom:20px">
					<label for="new-password" class="label-top">&nbsp;&nbsp;&nbsp;新密码：</label>
					<input type="password" class="" value="" id="new-password" name="newPassword" maxlength=20 title="请输入1-20位字符" placeholder="新密码" style="height: 30px;" />
				</div>
				<div style="margin-bottom:20px">
					<label for="confirm-password" class="label-top">确认密码：</label>
					<input type="password" class="" value="" id="confirm-password" name="confirmPassword" maxlength=100 title="请输入1-100位字符" placeholder="确认新密码" style="height: 30px;" />
				</div>
			</div>									
		</form>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var user=[[${user}]];
			var currItem=[[${curr_item}]];
		/*]]>*/
	</script>

	<script>
	
		$("#old-password").on("change",function() {//原密码输入框改变事件
			var url = "/main-index/check-password";
			var oldPassword = $("#old-password").val();
			var userId= $("#user-id").val();
			var parms = new Object();
			parms.oldPassword = oldPassword;
			parms.userId = userId;
			$.post(url, parms, function(res){
			 	if(res == false) {
			 		$.messager.alert("提示信息","旧密码输入错误，请重试！", "warning");
					$("#old-password").val("");//清空输入框
			 	}
			});
			
		});
		$("#confirm-password").on("change",function() {//原密码输入框改变事件
			var newPassword = $("#new-password").val();
			var confirmPassword = $("#confirm-password").val();
			if(newPassword != confirmPassword){
				$.messager.alert("提示信息","新密码与确认密码不一致，请重新输入！", "warning");
				var confirmPassword = $("#confirm-password").val("");//清空确认密码
			}
			
		});
		
		
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = "/main-index/edit-password";
			var userId= $("#user-id").val();
			var oldPassword = $("#old-password").val();
			var newPassword = $("#new-password").val();
			var confirmPassword = $("#confirm-password").val();
			if(oldPassword == null || oldPassword == ""){
				$.messager.alert("提示信息","旧密码为空，请输入！", "warning");
				return false;
			}
			if(newPassword == null || newPassword == ""){
				$.messager.alert("提示信息","新密码为空，请输入！");
				return false;
			}
			if(confirmPassword == null || confirmPassword == ""){
				$.messager.alert("提示信息","确认密码为空，请输入！", "warning");
				return false;
			}
			var parms = new Object();
			parms.newPassword = newPassword;
			parms.userId = userId;
			$.post(urlStr, parms, function(res){
				if (res != null && res != "") {
					if (res.result_code == "success") {
						$.messager.alert("提示信息","修改密码成功！");
						location.href = "/logout";
					} else {
						//util.message(res.result_msg,null,"warning");
						$.messager.alert("提示信息",res.result_msg, "warning");
					}
				} 
			});
		 }
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			/* $("#btn-modify-and-back").on("click",function() {
				modiItem(true);				
			}); */

		});
	</script>
	

	
	</th:block>
	
</body>
</html>