<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-edit-password-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-md">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span th:text="${user.realname}">修改密码</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="user-id" name="id" th:value="${user==null ? '' : user.id}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td>
													<!-- 旧密码 -->
													<div class="form-group form-inline">
														<label for="role-name" class="col-sm-4 control-label">旧密码</label>
														<span class="input-group-sm col-sm-8">
															<input type="hidden" id="user-password" name="userPassword" th:value="${user==null ? '' : user.password}" />
															<input type="text" class="form-control  "
																	th:value="${currItem==null ? '' : currItem.oldPassword}" 
																	id="old-password" name="oldPassword" 
																	maxlength=20 title="请输入1-20位字符" placeholder="旧密码"/>
														</span>
													</div>
												</td>												
											</tr>
											
											<tr>
												<td>
													<!-- 新密码-->
													<div class="form-group form-inline">
														<label for="role-description" class="col-sm-4 control-label">新密码</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control  "
																	th:value="${currItem==null ? '' : currItem.newPassword}" 
																	id="new-password" name="newPassword" 
																	maxlength=20 title="请输入1-20位字符" placeholder="新密码"/>
														</span>
													</div>
												</td>
											</tr>			
										
											<tr>
												<td>
													<!-- 确认新密码 -->
													<div class="form-group form-inline">
														<label for="role-description" class="col-sm-4 control-label">确认新密码</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control  "
																	th:value="${currItem==null ? '' : currItem.confirmPassword}" 
																	id="confirm-password" name="confirmPassword" 
																	maxlength=100 title="请输入1-100位字符" placeholder="确认新密码"/>
														</span>
													</div>
												</td>
											</tr>
										</tbody>
										
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"	id="btn-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var user=[[${user}]];
			var currItem=[[${curr_item}]];
		/*]]>*/
	</script>

	<script>
	
		$('#old-password').on('change',function() {//原密码输入框改变事件
			var url = BASE_CONTEXT_PATH + "/main-index/check-password";
			var oldPassword = $("#old-password").val();
			var userId= $("#user-id").val();
			var parms = new Object();
			parms.oldPassword = oldPassword;
			parms.userId = userId;
			$.post(url, parms, function(res){
			 	if(res == false) {
			 		util.message("旧密码输入错误，请重试");
					$("#old-password").val("");//清空输入框
			 	}
			});
			
		});
		$('#confirm-password').on('change',function() {//原密码输入框改变事件
			var newPassword = $("#new-password").val();
			var confirmPassword = $("#confirm-password").val();
			if(newPassword != confirmPassword){
				util.message("新密码与确认密码不一致，请重新输入");
				var confirmPassword = $("#confirm-password").val("");//清空确认密码
			}
			
		});
		
		
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/main-index/edit-password";
			var userId= $("#user-id").val();
			var oldPassword = $("#old-password").val();
			var newPassword = $("#new-password").val();
			var confirmPassword = $("#confirm-password").val();
			if(oldPassword == null || oldPassword == ""){
				util.message("旧密码为空，请输入");
				return false;
			}
			if(newPassword == null || newPassword == ""){
				util.message("新密码为空，请输入");
				return false;
			}
			if(confirmPassword == null || confirmPassword == ""){
				util.message("确认密码为空，请输入");
				return false;
			}
			var parms = new Object();
			parms.newPassword = newPassword;
			parms.userId = userId;
			$.post(urlStr, parms, function(res){
				if (res != null && res != "") {
					if (res.result_code == "success") {
						util.message("修改密码成功");
						openLogout();//退出，重新登录
					} else {
						util.message(res.result_msg,null,"warning");
					}
				} 
			});
		 }
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back').on('click',function() {
				modiItem(true);				
			});

		});
	</script>
	

	
	</th:block>
	
</body>
</html>