<!--
 * @Author: your name
 * @Date: 2020-03-04 02:16:10
 * @LastEditTime: 2020-03-04 06:06:23
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \undefined d:\work\code\water-project\water\src\main\resources\templates\easyuitest\easyui_starter.html
 -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>智慧水务平台首页</title>

	<!-- 引用js -->
	<!-- 引用jquery -->
	<script type="text/javascript" src="/jquery/3.3.1/jquery-3.3.1.js"></script>
	<!-- 引用jquery cookie -->
	
	
	<!-- 引用easyui -->
	<script src="/jquery-easyui-1.9.4/jquery.easyui.min.js"></script>
	<!-- 引入cookie管理，用于保存用户所选择的主题 -->
	<script src="/jquery-cookie/1.4.1/jquery.cookie.js"></script>

	<!-- 引入jeasyui 的CSS -->
	<!-- easy ui默认主题样式 -->
	<!-- 注意：此link有ID -->
	<link rel="stylesheet" id="easyuiTheme" type="text/css" href="/jquery-easyui-1.9.4/themes/default/easyui.css">
	
	<!-- easy ui 图标 、颜色-->
	<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.9.4/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.9.4/themes/color.css">

	<!-- bootstrap -->	
	<!-- <link href="/bootstrap/4.0.0/css/bootstrap.min.css"	rel="stylesheet" /> -->	
	<!-- Bootstrap Js -->
	<!-- <script src="/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
	
	<!-- 字体图标CSS -->
	<link rel="stylesheet"	href="/font-awesome/4.7.0/css/font-awesome.css" />
	
	<!-- JavaScript 日期处理类库 moment.js -->
	<script type="text/javascript" src="/assets/common/moment.min.js"></script>

	<!-- 一级菜单切换 index.js -->
	<script type="text/javascript" src="/js/index/index.js"></script>
	
	<!-- 主页面css -->
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	
	<!-- 显示/隐藏正在加载阴影 -->
	<script type="text/javascript" src="/pivas/js/common/Loading.js"></script>

</head>

<body class="easyui-layout">

	<!-- 修改密码对话框 -->
	<!-- <div id="edit-password-dialog" ></div> -->
	<div id="edit-password-dialog"></div>
	
	<!-- banner 北向部分 -->
	<div region="north" style="height: 62px;">
		<div class="top">
			<div class="logoboxs">
			    <a href="/main-index/starter">
			    	<!-- <img class="logo" src="/images/index/logo.png" alt="LOGO"> -->
			    	<img class="logo" src="/images/index/logo.jpg" alt="LOGO">
			    </a>
		    </div>
		    <div class="navbox first-menu">
			    <ul>
			        <!-- <li onclick="MenuChange('10')">
			            <img src="/images/index/top8.png" alt="">
			            <p>营收系统</p>
			        </li>   
			        <li onclick="MenuChange('108')">
			            <img src="/images/index/top9.png" alt="">
			            <p>系统管理</p>
			        </li>  -->
			        <!-- type 类型，0:菜单目录 1:菜单 2:功能 -->
		            <span th:each="item,iterStat : ${privilegeList}" th:remove="tag">
		            	<span th:if="${item.rightLevel==0}" th:remove="tag">
							<li th:attr="class=${iterStat.index==0 ? 'active' : ''}, data-first-menu-id=${item.id}" th:onclick="'Layout.headerNavSelect(this,'+${item.id}+');'">
							<!-- <li> -->
								<img th:src="${item.rightIcon}"> 
								<p th:text="${item.rightName}">日常维护</p>
							</li>
						</span>
		            </span>  
			    </ul>
		    </div>
		    <div class="btns-boxs">
			    <div class="user"> 
			    	<!-- <a id="userSet" style="cursor: pointer;">
			    		<img src="/images/index/user.png" alt="">
			    		<i class="fa fa-user-circle-o fa-2x" aria-hidden="true" style="color: white;margin-top: 12px;"></i>
			    	</a> -->
			    	<a href="javascript:void(0)" id="mb" class="easyui-menubutton"
					    data-options="menu:'#mm',StaticEnableDefaultPopOutImage:false">
					   	<i class="fa fa-user-circle-o fa-2x" aria-hidden="true" style="color: white;margin-top: 12px;"></i>
					</a>
					<div id="mm" style="width:150px;">
						<div id="btn-update-password">修改密码</div>
					    <div class="menu-sep"></div>
					    <div id="btn-logout-system">退出</div>
					</div>
			    </div>
			    <div class="welcome" style=" margin-top:5px; line-height:20px;">
			    	<div class="showdata">
			        	<div id="showalltime" class="data">2020年3月9日11时9分</div>
			            <span>欢迎您 <b class="user-name" th:text="${userName}">系统管理员</b></span>  
			            <!-- <span><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></span> -->         
			        </div>
			    </div>
			</div>
			<div class="download">
				<a href="/main-index/starter" id="links">
					<!-- <img src="/images/index/down.png" alt="">使用手册下载 -->
					<i class="fa fa-download fa-lg" aria-hidden="true" style="color: white;">&nbsp;使用手册下载</i>
				</a>
			</div>
		</div>
	</div>

	<!-- 左侧工具栏 -->
	<div id="leftmenu" region="west" style="width: 200px" title="导航菜单" split="true">
	
		
		<div th:each="firstMenu,iterStat : ${privilegeList}" th:remove="tag">
			<div class="easyui-accordion second-menu-nav" data-options="fit:true,border:false" th:id="'second-menu-nav-'+${firstMenu.id}" style="display: none;">
				<div th:each="secondMenu,iterStat : ${privilegeList}" th:remove="tag">
					<div th:if="${secondMenu.rightLevel==1 && firstMenu.id==secondMenu.pid}" th:remove="tag">
						<div th:title="${secondMenu.rightName}" data-options="selected:true" style="padding: 5px;" th:id="'second-menu-'+${firstMenu.id}" th:attr="class='second-menu '+'second-menu-'+${firstMenu.id}">
							<div th:each="privilege,iterStatus : ${privilegeList}" th:remove="tag">
	   							<div th:if="${privilege.rightLevel==2 && secondMenu.id==privilege.pid}" th:remove="tag">
	   								<a href="#" class="easyui-linkbutton" data-options="plain:true" style="width: 180px" th:id="'submenu-'+${privilege.id}" 
										th:attr="data-url=${privilege.rightLink}, data-title=${privilege.rightName}" th:text="${privilege.rightName}">
										三级菜单
									</a>
	   							</div>
	   						</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
			
	
		<!-- <div class="easyui-accordion second-menu" id="second-menu-20">
			<div title="管理" data-options="iconCls:'icon-bkgl'" style="padding: 10px;">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-writeblog'"
					style="width: 150px;">
					写博客
				</a>
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-bkgl'"
					style="width: 150px;">
					信息管理
				</a>
			</div>
			<div title="类别管理" data-options="iconCls:'icon-bklb'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-bklb'"
					style="width: 150px;">
					类别信息管理
				</a>
			</div>
			<div title="个人信息管理" data-options="iconCls:'icon-personal'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-personal'"
					style="width: 150px;">
					修改个人信息
				</a>
				            
			</div>
		</div> -->
		<!-- <div class="easyui-accordion d-none second-menu" id="second-menu-1" data-options="fit:true,border:false">
			<div title="管理" data-options="iconCls:'icon-bkgl'" style="padding: 10px;">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-writeblog'"
					style="width: 150px;">
					写博客
				</a>
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-bkgl'"
					style="width: 150px;">
					信息管理
				</a>
			</div>
			<div title="类别管理" data-options="iconCls:'icon-bklb'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-bklb'"
					style="width: 150px;">
					类别信息管理
				</a>
			</div>
			<div title="个人信息管理" data-options="iconCls:'icon-personal'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-personal'"
					style="width: 150px;">
					修改个人信息
				</a>
				            
			</div>
		</div> -->
		<!-- <div class="easyui-accordion d-none" data-options="fit:true,border:false">
			<div title="常用操作" data-options="selected:true,iconCls:'icon-edit'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" id="submenu-baidu" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					百&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;度
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-register" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					产品登记
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-default" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题Default
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-bootstrap" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题BootStrap
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-black" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题Black
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-gray" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题Gray
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-material" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题Material
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-material-blue" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题Material-blue
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-material-teal" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题Material-teal
				</a>
				<a href="#" class="easyui-linkbutton" id="submenu-theme-metro" data-options="plain:true,iconCls:'icon-add'"
					style="width: 150px">
					切主题Metro
				</a>
				            
			</div>
			<div title="管理" data-options="iconCls:'icon-bkgl'" style="padding: 10px;">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-writeblog'"
					style="width: 150px;">
					写博客
				</a>
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-bkgl'"
					style="width: 150px;">
					信息管理
				</a>
			</div>
			<div title="类别管理" data-options="iconCls:'icon-bklb'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-bklb'"
					style="width: 150px;">
					类别信息管理
				</a>
			</div>
			<div title="评论管理" data-options="iconCls:'icon-plgl'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-review'"
					style="width: 150px">
					评论审核
				</a>
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-plgl'"
					style="width: 150px;">
					评论信息管理
				</a>
			</div>
			<div title="个人信息管理" data-options="iconCls:'icon-personal'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-personal'"
					style="width: 150px;">
					修改个人信息
				</a>
				            
			</div>
			<div title="系统管理" data-options="iconCls:'icon-system'" style="padding: 10px">
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-link'"
					style="width: 150px">
					友情链接管理
				</a>
				                
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-modifyPassword'"
					style="width: 150px;">
					修改密码
				</a>
				                
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-refresh'"
					style="width: 150px;">
					刷新系统缓存
				</a>
				                
				<a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-exit'"
					style="width: 150px;">
					安全退出
				</a>
			</div>
		</div> -->
	</div>

	<div data-options="region:'center'" style="background: #eee;">
		<div class="easyui-tabs" fit="true" border="false" id="tabs">
			<div title="欢迎页" data-options="iconCls:'icon-filter'" id="welcome-page">
				<!-- <div align="center" style="padding-top: 100px">
					<font color="red" size="10">欢迎使用</font>
				</div> -->
			</div>
		</div>

	</div>

	<div region="south" style="height: 28px; margin:0px;" align="center">
		<div region="south" style="height: 25px; margin-top:1px;" align="center">
			Copyright
			<strong>河北美夏电子科技</strong>
			版权所有
		</div>
	</div>

</body>

<!-- 初始化时间部分 -->
	<script type="text/javascript">
		
	</script>

<script>

	/**
	 * 
	 *  使用 iframe 动态地添加显示在一个页面上的 Tabs。
	 * 
		   按title参数进行查询标签，
		   	如果不存在则一个新的 tab 将被添加。
			如果 tab 已经存在，它将被激活。
	 * @param {String} title 标签title
	 * @param {String} url 标签页所加载的页面地址
	 * @return: void
	 */
 
	function addTab(title, url) {
		const TABS_CONTAINER = "#tabs";
		if ($(TABS_CONTAINER).tabs('exists', title)) {
			$(TABS_CONTAINER).tabs('select', title);
		} else {
			var content = '<iframe scrolling="auto" frameborder="0"  src="'
					+ url + '" style="width:100%;height:98%;"></iframe>';
			$(TABS_CONTAINER).tabs('add', {
				title : title,
				content : content,
				closable : true
			});
		}
	}
	 
	 /**
	   * 更换EasyUI主题的方法,可选的主题名称有：
	   		default,black,gray,bootstrap,
	   		metro,material,material-blue,material-teal.	   		
	   	主题也可以自行定义，而后置于theme的相应目录中即可。
	   		
	   * @param ｛String} themeName 主题名称
	   * @return 
	   */
	  changeTheme = function(themeName) {
	    var $easyuiTheme = $('#easyuiTheme');
	    var url = $easyuiTheme.attr('href');
	    var href = url.substring(0, url.indexOf('themes')) + 'themes/' + themeName + '/easyui.css';
	    $easyuiTheme.attr('href', href);
	    var $iframe = $('iframe');
	    if ($iframe.length > 0) {
	      for ( var i = 0; i < $iframe.length; i++) {
	        var ifr = $iframe[i];
	        $(ifr).contents().find('#easyuiTheme').attr('href', href);
	      }
	    }
	    //将主题保存至cookie中
	    $.cookie('easyuiThemeName', themeName, {
	      expires : 7
	    });
	  };
	  
	  /**
	  	自cookie中读取用户选定的theme，如有则采用此主题
	  */
	  function getThemeFromCookie(){
		if ($.cookie('easyuiThemeName')) {
			 changeTheme($.cookie('easyuiThemeName'));
		}
	  }

	  function loadWelcomePage(){
		  var url = "/welcome";
		  $("#welcome-page").load(url, null, function(){
			  console.log("加载欢迎页完成。。。");
		  });
	  }
	  
	  /*
		 * 	打开(Open) 修改密码对话框
		 */
		function openEditPasswordDialog() {
			//可拖拽
			$("#modal-container-edit-password-dialog").draggable({
				cursor : "move",
				handle : '.modal-header'
			});
			//点击对话框外部,不关闭对话框 
			$('#modal-container-edit-password-dialog').modal({
				backdrop : 'static',
				keyboard : false
			});
		}
	
		/* 
			关闭(CLOSE) 修改密码对话框
		 */
		function closeEditPasswordDialog() {
			$("#modal-container-edit-password-dialog").modal("hide");
		}
	// page loaded ready
	$(function() {
		
		//-----------------------------------
		getThemeFromCookie();  //自cookie中读取，并采用用户选定的主题。
		loadWelcomePage();//加载欢迎页
		
		/**
		 * 	登出
		 */
		$("#btn-logout-system").on("click", function(){
			//location.href=BASE_CONTEXT_PATH + "/user-logout";
			location.href = "/logout";
		});
		
		/**
		 * 	修改密码
		 */
		$("#btn-update-password").on("click", function(){
			var url = '/main-index/edit-password-dialog';
			//$("#edit-password-dialog").load(url, null, openEditPasswordDialog); //加载
			
			$('#edit-password-dialog').dialog({
			    title: '修改密码',
			    width: 400,
			    height: 300,
			    closed: false,
			    cache: false,
			    href: url,
			    modal: true,
			    buttons:[{
					text:'保存',
					handler:function(){
						modiItem(true);
					}
				},{
					text:'关闭',
					handler:function(){
						$('#edit-password-dialog').dialog('close'); // close a dialog
					}
				}]
			});
			
		});
		
		/**
		 * 点击时加入新标签,采用外部链接地址：百度
		 */
		$("#leftmenu .easyui-linkbutton").on('click', function() {
			
			$("#leftmenu .easyui-linkbutton").linkbutton("unselect");
			$(this).linkbutton("select");
			
			var url = $(this).attr("data-url");
			var title = $(this).attr("data-title");
			addTab(title, url);
		});
		//-----------------------------------

	});
</script>

</html>