<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>
 <link rel="stylesheet"	href="/css/meterbody.css" />
 <link rel="stylesheet"	href="/css/commform.css" />
<link rel="stylesheet"	href="/css/searchpanel.css" />

</head>
<body>
	<!-- 编辑对话框 -->
	<div id="dict-dialog-edit" th:include="data_dict/dict_dialog_edit::dialog"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-2">
						<!-- 数据字典类型列表 -->
						<div th:include="data_dict/dict_type_table" th:remove="tag"></div>
					</div>
					
					<div class="col-md-10 " style="display: inline-block">
						<div class="card">
							<h5 class="card-header">
								字典列表
							</h5>
							<div class="card-body">
								<ul class="extra-l" style="list-style: none;">
									<!-- 操作面板 -->
									<li value="0">
										<button type="button" class="btn btn-primary btn-sm"
											id="btn-add">
											<i class="fa fa-plus" aria-hidden="true"> 
												<span>增加</span>
											</i>
										</button>
									</li>
									
									<!-- 面板:查询 --> 
									<li class="input-group-sm"><input type="text" class="form-control input-sm search-cond" id="search-cond" placeholder="请输入编码/名称">
									</li>
									<!-- 查询按钮 -->
									<li>
										<button type="button" class="btn btn-success  btn-sm"	id="btn-search">
											<i class="fa fa-search" aria-hidden="true"> <span>查询</span>	</i>
										</button>
										<button type="button" class="btn btn-warning  btn-sm"	id="btn-search-reset">
											<i class="fa fa-undo" aria-hidden="true"> <span>清除</span></i>
										</button>
									</li>
								</ul>
								<div class="table-container" id="meters-body">
									<!-- 数据字典列表 -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<hr style="height: 1px; border: none; border-top: 1px solid blue;">
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

	<script>
	
		//--------------------公共查询函数--------------------------
		/*	
			公共查询函数
			
			查询核对类型列表
		*/
		function search(parms) {

			//加载字典列表页面
			var url = BASE_CONTEXT_PATH + "/data-dict/table"
			$(".table-container").load(url, parms, customerResizeFuncx);
		}
		
		function customerResizeFuncx(){
			console.log("call back........");
			var myEvent = new Event('resize');
	        window.dispatchEvent(myEvent);
		}
		
		function getSearchParams(){
			//初始化请求参数
			var parms = new Object();
			var dictTypeCode = null;
			var searchCond=$("#search-cond").val();
			var typeCode = $("#data-dict-type-card .card-body ul").find(".curr_active").attr("data-dict-type-code");
			if(typeCode!=null && typeCode!="" && typeof(typeCode)!="undefined"){
				dictTypeCode = typeCode;
			}
			parms.searchCond=searchCond;
			parms.dictTypeCode=dictTypeCode;
			return parms;
		}

		//---------------------------------------------
		
		/*
			默认查询
			Retrieve(default)查询(加载默认列表)
		*/
		function defaultSearch() {
			var pageNum = 0;
			var pageSize = 0;
			
			//获取参数
			var parms = null;
			parms = getSearchParams();//获取普通查询参数（不包括分页信息）
			
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			search(parms);
		}
		
		/*
			查询按钮点击时调用
			采用用户所输入的查询条件进行查询.
		*/
		function btnSearchClick() {
			
			clearActiveDictTypeCss();//清除选中的字典类型样式
			var pageNum = 0;
			var pageSize = 0;
			
			var parms = getSearchParams();//获取查询参数（不包括分页信息）
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			search(parms);
		}

		/**
		 * 清空查询条件
		 */
		function clearSearchCondFun(){
			$("#search-cond").val("");
		}
		
		/*
			分页查询(采用所保存的状态)
		*/
		function loadPage(searchCond, pageNum, pageSize) {
			
			var parms = getSearchParams();//获取查询参数（不包括分页信息）
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;
			search(parms);
		}

		
		//----------Add Dialog 操作 加载,打开,关闭------------------------
		
		/*		
			加载(Load): 增加/编辑对话框
			将对话框内容加载到指定的容器中
		 */
		function loadAddDialogFn() {
			var url = BASE_CONTEXT_PATH + '/data-dict/loadadddialog';
			$("#dict-dialog-edit").load(url, null, function(){
				
				$("#data-dict-type-card .card-body ul li").each(function(){
					var flag = $(this).hasClass("curr_active");//判断用户是否已经选择字典类型，已选择时打开对话框后类型字段默认显示用户选择的，未选择时打开对话框类型字段显示默认值
					if(flag){
						var currTypeCode = $(this).attr("data-dict-type-code");//获取当前选中的字典类型编码
						var currTypeName = $(this).attr("data-dict-type-name");//获取当前选中的字典类型名称
						$("#data-dict-type").val(currTypeCode).trigger("change");//设置当前的类型编码
						setDictTypeVal(currTypeCode, currTypeName);//设置当前的字典类型的编码和名称，用于保存
						return false;
					}
					
				});
				
				openAddDialogFn();//加载完毕后显示
			});
		}
			
		/*
		 * 	打开(Open) 增加对话框
		 */
		function openAddDialogFn() {
			//可拖拽
			$("#modal-container-dict-dialog").draggable({
				cursor : "move",
				handle : '.modal-header'
			});
			//点击对话框外部,不关闭对话框 
			$('#modal-container-dict-dialog').modal({
				backdrop : 'static',
				keyboard : false
			});
		}

		/* 
			关闭(CLOSE) 增加对话框
		 */
		function closeAddDialogFn() {
			$("#modal-container-dict-dialog").modal("hide");
		}

		//-------------------PAGE LOADED READY--------------------

		$(function() {
			//------------init-------------
			//主页:默认查询(加载默认列表)
			defaultSearch();

			//---------事件绑定--------------
			
			/*
				增加核对类型按钮CLICK
			*/
			$('#btn-add').on('click', function() {
				loadAddDialogFn();  //先加载后显示对话框
			}); 
			
			
			/*
				查询按钮CLICK
			*/
			$('#btn-search').on('click', function() {
				btnSearchClick();
			});
			
			/*
				查询条件复位按钮CLICK
			*/
			$('#btn-search-reset').on('click', function() {
				$("#search-cond").val("");
				$("#search-cond").focus();  //	获得焦点
			});
			
			/*
				查询条件输入框 KEYUP
			*/
			$('#search-cond').on('keyup', function(event) {
				if(event.keyCode == 13){
					$('#btn-search').trigger("click");	                
	            }	
			});
			
			/*
				btn-del
				批量删除按钮
			*/
			/* $('#btn-del').on('click', function() {				
				deleteConfirmFn();  //显示删除确认对话框
			}); */

		});
	</script>



</body>
</html>