<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">


</script>


<!-- color picker 颜色选择器 -->
<!-- <link 	href="/color-picker/dist/css/bootstrap-colorpicker.css"	rel="stylesheet" />
<script  src="/color-picker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script> -->
<!-- 日期组件 -->
<!-- <script src="/calendar/WdatePicker.js" type="text/javascript"></script> -->


</head>
<!-- 客户-账户对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-customer-account" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>编辑:客户-账户</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="modal-customer-account-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="customer-account-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									<!-- 客户ID -->
									<input type="hidden" id="customer-id" name="customerId" th:value="${currItem==null ? '' : currItem.customerId}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td>
													<!-- 账户名称 -->
													<div class="form-group form-inline">
														<label for="customer-account-name" class="col-sm-4 control-label">账户名称</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.accountName}" 
																	id="customer-account-name" name="accountName" 
																	maxlength=30 title="请输入1-30个字符" placeholder="账户名称"/>
														</span>
													</div>
												</td>
														
			
												<td>
													<!--身份证-->
													<div class="form-group form-inline">
														<label for="customer-account-id-card-no" class="col-sm-4 control-label">身份证</label>
														<span class="input-group-sm col-sm-8">
															<input type="text"
																	th:value="${currItem==null ? '' : currItem.idNo}" 
																	class="form-control" 
																	id="customer-account-id-no" name="idNo" 
																	maxlength=32 title="请输入1-30" placeholder="身份证"/>
														</span>
													</div>
												</td>												
											</tr>
											<tr>
												<td>
													<!-- 电话 -->
													<div class="form-group form-inline">
														<label for="customers-description" class="col-sm-4 control-label">电话</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.tel}" 
																	id="customer-account-tel" name="tel" 
																	maxlength=20 title="请输入1-20个字符" placeholder="电话"/>
														</span>
													</div>
												</td>
											
												<td>
													<!-- 业主手机 -->
													<div class="form-group form-inline">
														<label for="customer-account-mobile" class="col-sm-4 control-label">手机</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.mobile}" 
																	id="customer-account-mobile" name="mobile" 
																	maxlength=20 title="请输入1-20位字符" placeholder="手机"/>
														</span>
													</div>
												</td>
											</tr>
											
											<tr>
												<td>
													<!-- 业主邮件 -->
													<div class="form-group form-inline">
														<label for="customer-account-remark" class="col-sm-4 control-label">备注</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.remark}" 
																	id="customer-account-remark" name="remark" 
																	maxlength=100 title="请输入1-100个字符" placeholder="备注"/>
														</span>
													</div>          
 												</td>
												<td></td>
											</tr>
											
										</tbody>
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"	id="btn-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
		/*]]>*/
	</script>

	<script>
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/customer-account/insert";
			
			var customerId = $("#modal-customer-account-form #customer-id").val();
			
			var id= $("#customer-account-id").val();
			if(id!=null && id!=""){
				urlStr = BASE_CONTEXT_PATH + "/customer-account/update";
			}
			var form=new FormData($("#modal-customer-account-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				/* contentType : "application/json", */ // 如果采用json格式传送所有参数时必须有,如果采普通js对象传送时,则不可以加此参数
				//dataType : "html", // 表示返回值类型，不必须,如果返回的是面页，则必须
				/* data : JSON.stringify(parms), */
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
					if (res != null && res != "") {
						//var obj = $.parseJSON(res);						
						if (res.result_code == "success") {
							closeDialogFn("modal-container-customer-account");//关闭对话框
							$("#modal-container-customer-account").on("hidden.bs.modal", function () {
								//当模态框完全对用户隐藏时触发。
								//initLoad();//重新加载客户列表页面
								//loadAccountTab(customerId);//加载客户-账户选项卡，加载成功后显示客户档案详细信息选项卡，并打开客户-账户信息选项卡
								reloadCustomersAndDetailFn(customerId, showCustomerAccountTab);//重新加载客户列表，并根据客户ID加载客户详细信息，用户立户保存时专用
							});
							
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }

		/**
		 * 	加载客户-账户选项卡
		 */
		function loadAccountTab(customerId){
			var parms = {"customerId": customerId};
			loadCustomerAccountList(parms, showCustomerAccountTab);
		}
		
		/**
		 * 	显示客户档案详细信息选项卡，并打开客户-账户信息选项卡
		 */
		function showCustomerAccountTab(){
			$(G_CUSTOMER_DETAIL_TAB_ID).show();//显示客户档案详细信息选项卡
			$("#tabs-customers-nav a[href='#customer-detail-tab']").tab("show");//跳转到详细信息选项卡
			$("#tabs-customers-detail-nav a[href='#account-tab']").tab("show");//跳转到账户信息选项卡
		}
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back').on('click',function() {
				modiItem(true);				
			});

		});
	</script>
	
	</th:block>
	
</body>
</html>