<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="dialog(dialogId)">
	<div class="modal fade" th:id="${dialogId}" role="dialog"	aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!-- 对话框头 -->
				<div class="modal-header" style="background-color:darkcyan;height:30px;padding-top:0px;padding-bottom:0px;">
					<!-- <h5 class="modal-title">Modal title</h5> -->
					<span style="height:30px; line-height:30px;padding:0px;margin:0px;color:white;">
						<span class="dialog-title">Modal title</span>
					</span>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<!-- 对话框主体 -->
				<div class="modal-body">
					<ul style="list-style-type:none;padding-left:0px;margin-left:30px;margin-right:30px;font-size:1.2em;">
						<li style="margin-bottom:20px;">
							<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<span class="dialog-message" style="font-size:1em;line-height: 1.5;">对话框消息</span>
						</li>
						<li style="margin-left:100px;margin-bottom:10px;">
							<span class="invoice-type-label">发票类型:</span>
							<strong><span class="invoice-type" style="color:#DF01D7; font-size:1.0em;">发票类型</span></strong>
						</li>
						<li style="margin-left:100px;margin-bottom:10px;">
							<span class="invoice-dm-label">发票代码:</span>
							<strong><span class="invoice-dm" style="color:#DF01D7;font-size:1.0em;">发票代码</span></strong>
						</li>
						<li style="margin-left:100px;">
							<span class="invoice-hm-label">发票号码:</span>
							<strong><span class="invoice-hm" style="color:#DF01D7;font-size:1.0em;">发票号码</span></strong>
						</li>
					</ul>
					
					
				</div>
				<!-- 对话框底部按钮 -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary  button-ok" >确认</button>
					<button type="button" class="btn btn-primary  button-cancel"	data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of dialog -->
	</th:block>
</body>
</html>