<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="table">
		<table class="table table-sm" id="meter-record-table">
		
		<!-- 
		
			基础数据表格样式.
			C.CUSTOMER_NAME,   //用户名称
			C.ADDRESS,		   //用户地址
			C.ROOM,			   //用户房号
			AND C.CUSTOMER_TYPE//客户类型
			P.START_TIME,      //抄表起始时间
			P.END_TIME,		   //抄表结束时间
			P.PERIOD,			//期间
			P.BASE_PRICE,	   //水价-基础水价
			P.TREATMENT_FEE,   //水价-污水处理费
			P.WATER_PRICE,     //水价-综合水价=基础水价+污水处理费
			P.WATER_AMOUNT,	   //水量	
			P.WATER_AMOUNT * P.BASE_PRICE BASE_AMOUNT,  //基础水价-水费
			P.WATER_AMOUNT * P.TREATMENT_FEE TREATMENT_AMOUNT,//污水处理费-水费
			A.CREDIT_AMOUNT   //自帐务中获取的应收水费	
		 -->
		
		<thead>
			<tr>
				<th>名称</th>
				<th>地址</th>
				<th>期间</th>				
				<th>数额</th>
				<th>类型</th>
			</tr>
		</thead>
		<tbody>
		                                     
			<span th:each="item,iterStat: ${dataList}" th:remove="tag">
			
			 
			
			<!-- 
		
			基础数据表格样式.
			C.CUSTOMER_NAME,
			C.ADDRESS,
			C.ROOM,	
			AND C.CUSTOMER_TYPE
			A.PERIOD,
			P.WATER_AMOUNT*T.BASE_PRICE AMOUNT,
			CASE		
				WHEN 1=1 THEN 'BASE_AMOUNT'  
				ELSE '' 
			END AMOUNT_TYPE 	
		 -->
			
			
			
				<tr>
				<!-- 业主姓名 -->
				<td th:text="${item.CUSTOMER_NAME}"></td>
				 <!-- 地址 -->
				<td>
					<span th:if="${item.CUSTOMER_TYPE==1}" th:text="${item.ADDRESS}+' '+${item.ROOM}" th:remove="tag"></span>
					<span th:if="${item.CUSTOMER_TYPE==2}" th:text="${item.ADDRESS}" th:remove="tag"></span>
				</td>
				<!-- 期间 -->
				<td  th:text="${item.PERIOD}"></td>
				
				<td th:text="${item.AMOUNT}">数额</td> 
				<td th:text="${item.AMOUNT_TYPE}">类型</td>
								
				<!-- <td>
					<font th:if="${record.readType==0}" th:text="${record.readTypeStr}"></font>
					<b><font color="green" th:if="${record.readType==1}" th:text="${record.readTypeStr}"></font></b>
					<b><font color="red" th:if="${record.readType==2}" th:text="${record.readTypeStr}"></font></b>
				</td> -->
				
				</tr>
			</span>
		</tbody>
	</table>
	</th:block>
</body>
</html>