<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>

<!-- 引入通用对话框工具 -->
<script type="text/javascript"	th:src="@{/js/component/dialogutil/DialogUtil.js}"></script>

</head>
<body>
	<!-- 出库检验单对话框 -->
	<div id="meter-out-stock-doc-dialog"></div>
	<!-- 打印退库单对话框 -->
	<div id="print-return-dialog"></div>
	<!-- 打印报废单对话框 -->
	<div id="print-scarp-dialog"></div>
	<!-- tabs容器-->
	<div class="row clearfix">
		<div class="col-md-12">
			<div class="tabbable" id="tabs-meters-item-div">
				<ul class="nav nav-tabs" id="tabs-meters-item-nav">
					<li class="nav-item" id="meters-item-tab" style="">
						<a class="nav-link active show" href="#meters-tab" data-toggle="tab">表计列表</a></li>
					<li class="nav-item" id="meters-detail-item-tab" style="display:none;">
						<a class="nav-link" href="#meters-detail-tab" data-toggle="tab">表计档案</a>
					</li>
					<li class="nav-item" id="meters-check-result-item-tab" style="display:none;">
						<a class="nav-link" href="#meters-check-result-tab" data-toggle="tab">检测结果</a>
					</li>
					<li class="nav-item" id="meters-check-result-erecord-item-tab" style="display:none;">
						<a class="nav-link" href="#meters-check-result-erecord-tab" data-toggle="tab">检测结果电子档</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="meters-tab">
						<!-- 表计档案信息 -->
					</div>
					<div class="tab-pane" id="meters-check-result-tab">
						<!-- 水表检测结果 -->
					</div>
					<div class="tab-pane" id="meters-check-result-erecord-tab">
						<!-- 水表检测结果电子档 -->
					</div>
					<div class="tab-pane" id="meters-detail-tab">
						<br>
						<div class="tabbable" id="tabs-meters-detail-div">
							<ul class="nav nav-tabs" id="tabs-meters-detail-nav">
								<li class="nav-item" id="meter-base-detail-item-tab" style="">
									<a class="nav-link active show" href="#meter-base-detail-tab" data-toggle="tab">表计基本信息</a></li>
								<li class="nav-item" id="electronic-record-item-tab" style="">
									<a class="nav-link" href="#electronic-record-tab" data-toggle="tab">电子档案</a>
								</li>
								<li class="nav-item" id="meter-out-stock-item-tab" style="">
									<a class="nav-link" href="#meter-out-stock-tab" data-toggle="tab">出库校验单</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="meter-base-detail-tab">
									<!-- 表计基本信息 -->
								</div>
								<div class="tab-pane" id="electronic-record-tab">
									<!-- 电子档案 -->
								</div>
								<div class="tab-pane" id="meter-out-stock-tab">
									<!--出库校验单 -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			

		</div>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

	<script type="text/javascript">
		
		var G_TABS_METER_ITEM_NAV = "#tabs-meters-item-nav";//表计列表选项卡ul标签
		var G_TABS_METER_DETAIL_NAV = "#tabs-meters-detail-nav";//表计档案选项卡ul标签
		
		var G_METERS_ITEM_TAB_LI_ID = "#meters-detail-item-tab";//表计列表选项卡li的ID
		var G_METERS_ITEM_TAB = "#meters-item-tab";//表计列表选项卡
		var G_METERS_DETAIL_TAB_LI_ID = "#meters-detail-item-tab";//表计档案选项卡li的ID
		var G_METERS_DETAIL_TAB = "#meters-detail-tab";//表计档案选项卡
		
		var G_METER_BASE_DETAIL_TAB_ID = "#meter-base-detail-item-tab";//表计基本信息选项卡ID
		var G_METER_BASE_DETAIL_TAB = "#meter-base-detail-tab";//表计基本信息选项卡
		var G_E_RECORD_TABLE_TAB_ID = "#electronic-record-item-tab";//电子档案选项卡
		var G_E_RECORD_TABLE_TAB = "#electronic-record-tab";//电子档案选项卡
		
		const DIALOG_OUT_STOCK_ID="modal-container-meter-out-stock-dialog";//出库对话框
		//选择打印退库单对话框			
		const DIALOG_SELECT_PRINT_RETURN_RECEIPT="modal-container-print-return-dialog";
		//选择打印报废单对话框			
		const DIALOG_SELECT_PRINT_SCARP_RECEIPT="modal-container-print-scarp-dialog";
		/**
		 * 	显示表计档案选项卡
		 */
		function showMeterDetailTab(){
			$(G_METERS_DETAIL_TAB_LI_ID).show();
		}
		/**
		 * 	隐藏表计档案选项卡
		 */
		function hideMeterDetailTab(){
			//$(G_METERS_DETAIL_TAB).hide();
			$(G_METERS_DETAIL_TAB_LI_ID).hide();
		}
		
		/**
		 * 	隐藏检测结果选项卡
		 */
		function hideCheckResultTab(){
			$("#meters-check-result-item-tab").hide();
		}
		
		/**
		 * 	隐藏检测结果电子档选项卡
		 */
		function hideCheckResultErecordTab(){
			$("#meters-check-result-erecord-item-tab").hide();
		}
		
		/**
		 * 	水表检测结果选项卡
		 */
		function showMeterCheckResultTab(){
			$("#meters-check-result-item-tab").show();
			$("#tabs-meters-item-div a[href='#meters-check-result-tab']").tab("show");
		}
		
		/**
		 * 	水表检测结果电子档选项卡
		 */
		function showMeterCheckResultErecordTab(){
			$("#meters-check-result-erecord-item-tab").show();
			$("#tabs-meters-item-div a[href='#meters-check-result-erecord-tab']").tab("show");
		}
		
		/**
		 * 	id：要显示选项卡的ID
		 *	href：要显示选项卡的href
		 *	status：show/hide
		 */
		function transferTabs(id, href, status){
			$(id+' a[href="'+href+'"]').tab(status);
		}
		
		/* 
			加载表计列表页
		*/
		function loadMainList(parms, callback) {
			var url = "/meter-deduct/main";
			var callbackFunc = callback;
			var containerId = "#meters-tab";
			loadPage(containerId, url, parms, callbackFunc);
		}
		
		/* 
			加载出库校验单列表
		*/
		function loadOutStockDocMainList(parms, callback) {
			var url = "/meter-deduct/out-stock-main";
			var callbackFunc = callback;
			var containerId = "#meter-out-stock-tab";
			loadPage(containerId, url, parms, callbackFunc);
		}
		
		/* 
			加载水表检测结果列表
		*/
		function loadCheckResultMainList(parms, callback) {
			var url = "/meter-deduct/check-result-main";
			var callbackFunc = callback;
			var containerId = "#meters-check-result-tab";
			loadPage(containerId, url, parms, callbackFunc);
		}
		
		/* 
			加载水表检测结果电子档列表
		*/
		function loadCheckResultErecordMainList(parms, callback) {
			var url = "/check-result-doc/main";
			var callbackFunc = callback;
			var containerId = "#meters-check-result-erecord-tab";
			loadPage(containerId, url, parms, callbackFunc);
		}
		
	
		/* 
			加载表计基本信息
		 */
		function loadMeterBaseList(parms, callback) {
			var url = BASE_CONTEXT_PATH + "/meter-deduct/detail-table"
			var callbackFunc = callback;
			var containerId = "#meter-base-detail-tab";
			loadPage(containerId, url, parms, callbackFunc);
		}

		/* 
			加载表计-电子档案信息
		 */
		function loadMeterERecordList(parms, callback) {
			var url = BASE_CONTEXT_PATH + "/meter-erecord/erecord-main";
			var callbackFunc = callback;
			var containerId = "#electronic-record-tab";
			loadPage(containerId, url, parms, callbackFunc);
		}
		
		
		/**
		 * 	加载初始化函数
		 */
		function initLoad(){
			/* 
				加载框架页面 
			*/
			loadMainList(null, null);
			//loadCheckResultMainList(null, null);
		}
		/**
		 * 	重新加载表计-电子档案列表
		 */
		function reLoadMeterERecordItemList(){
			var meterId = getMeterIdFn();//获取用户当前编辑的表计ID
			
			var parms = {"meterId":meterId};//参数：功能模块标识
			loadMeterERecordList(parms, null);//重新加载表计电子档案
		}
		
		/*
		 * 	打开(Open) 对话框
		 */
		function openMeterOutStockDialog() {
			DialogUtil.openDialogFn(DIALOG_OUT_STOCK_ID);
		}
		/* 
			关闭(CLOSE) 对话框
		 */
		function closeMeterOutStockDialog() {
			DialogUtil.closeDialogFn(DIALOG_OUT_STOCK_ID);
		}
		

		/*
		 * 	打开(Open) 选择打印退库对话框
		 */
		function openPrintReturnDialog() {
			
			DialogUtil.openDialogFn(DIALOG_SELECT_PRINT_RETURN_RECEIPT);
		}
		/* 
			关闭(CLOSE) 选择打印退库对话框
		 */
		function closePrintReturnDialog() {
			DialogUtil.closeDialogFn(DIALOG_SELECT_PRINT_RETURN_RECEIPT);
		}
		
		/*
		 * 	打开(Open) 选择打印报废对话框
		 */
		function openPrintScarpDialog() {
			
			DialogUtil.openDialogFn(DIALOG_SELECT_PRINT_SCARP_RECEIPT);
		}
		/* 
			关闭(CLOSE) 选择打印报废对话框
		 */
		function closePrintScarpDialog() {
			DialogUtil.closeDialogFn(DIALOG_SELECT_PRINT_SCARP_RECEIPT);
		}
		
		$(function() {

			//初始化
			initLoad();
			
			/**
			 * 	绑定 表计列表选项卡 的click事件
			 */
			$(G_METERS_ITEM_TAB).on("click", function(){
				
				hideMeterDetailTab();//隐藏表计档案选项卡
				hideCheckResultTab();
				hideCheckResultErecordTab();
				customerResizeFuncx();
				
			});
			function customerResizeFuncx(){
				console.log("call back........");
				var myEvent = new Event('resize');
		        window.dispatchEvent(myEvent);
			}
			
			$("#meter-out-stock-item-tab").on("click", function(){//出库校验单选项卡click事件
				var meterId = getMeterIdFn();//获取用户当前编辑的表计ID
				
				var parms = {"meterId":meterId};//参数：功能模块标识
				loadOutStockDocMainList(parms, null);
				
			});
			
			$("#meters-check-result-item-tab").on("click", function(){//检测结果选项卡点击事件
				showMeterCheckResultTab();
				loadCheckResultMainList(null, null);
				
			});
			
			$("#meters-check-result-erecord-item-tab").on("click", function(){//检测结果电子档选项卡点击事件
				showMeterCheckResultErecordTab();
				loadCheckResultErecordMainList(null, null);
				
			});
			
			/**
			 * 	绑定 表计基本信息选项卡 的click事件
			 */
			$(G_METER_BASE_DETAIL_TAB_ID).on("click", function(){
				
				var meterId = getMeterIdFn();//获取用户当前编辑的表计ID
				
				var parms = {"meterId":meterId};//参数：功能模块标识
				loadMeterBaseList(parms, null);
				
			});
			/**
			 * 	绑定 客户-电子档案选项卡 的click事件
			 */
			$(G_E_RECORD_TABLE_TAB_ID).on("click", function(){
				
				reLoadMeterERecordItemList();//重新加载表计电子档案列表
				
			});

		})
	</script>

</body>
</html>