<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>Insert title here</title>
</head>
<body>
	
	<!-- 批次列表 -->
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>客户名称</th>
				<th>客户手机号</th>
				<th>身份证号</th>
				<th>地址</th>
				<th>用水状态</th>
				<th>状态</th>
				<th style="width:100px;">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${customersList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td>
				
				<!-- 业主姓名 -->
				<td th:text="${item.customerName}">业主姓名</td>
				<!-- 客户电话 -->
				<td th:text="${item.customerTel}">业主手机</td>
				<!-- 用水性质 -->
				<td th:text="${item.idNo}">身份证号 </td>
				<!-- 地址 -->
				<td th:text="${item.address}">地址</td>
				<!-- 用水状态 -->
				<td th:attr="id='water-status-'+${item.id}" th:text="${item.waterStatusStr}">用水状态 </td>
				<!-- 客户状态 -->
				<td th:attr="id='customer-status-'+${item.id}" th:text="${item.statusStr}">客户状态 </td>
				<!-- 操作列 -->
				<td>
					<div class="dropdown">
					    <button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">
					      	操作
					    </button>
					    <div class="dropdown-menu">
					   		 <!-- 多人口调整 -->
							<a class="dropdown-item btn-people-adjust-single btn-sm"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <span>多人口调整</span>
							</a> 
					    </div>
					</div>
					
				</td>

			</tr>
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">
	
	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager1')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>
	

	<!--  -->
	<script th:inline="javascript">
		var curr_searchCond=[[${searchCond}]];
	</script>


	<script type="text/javascript">
		//------------------------------	多人口调整	------------------------------
		/**
		 * 	绑定多人口调整按钮的click事件
		 */
		$(".btn-people-adjust-single").on("click", function(){
			var itemId = $(this).attr("bind-id"); //条目ID
			setCustomerIdFn(itemId)//设置客户ID
			
			var params = new Object();//参数：功能模块标识
			loadPeopleList(params, loadPeopleAdjustCallback);//加载某客户的多人口调整信息
			
		});
		/**
		 * 	加载多人口调整回调
		 */
		function loadPeopleAdjustCallback(){
			$(G_CUSTOMER_DETAIL_TAB_ID).show();//显示客户档案详细信息选项卡
			transferTabs(G_TABS_NAV_CUSTOMERS, G_CUSTOMER_DETAIL_TAB, "show");//跳转到客户档案选项卡
			transferTabs(G_TABS_NAV_CUSTOMERS_DETAIL, G_PEOPLE_TAB, "show");//跳转到多人口调整选项卡
		}
		
		//-----------------page loaded ready------------------
		$(function() {
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});

		});
		
		//创建分页组件实例
		var pager=new Pager("pager1");
		$(function(){			
			pager.init(loadPageClickPageNum,curr_searchCond);			
		});
	</script>
</body>
</html>