<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>

</head>
<body>
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="modal fade" id="modal-container-bind-meter-meter-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			
				<div class="modal-dialog modal-md" style="max-width: 1200px">
				
					<div class="modal-content">
					
						<!-- 头部 -->
						<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
							<h5 class="modal-title" id="myModalLabel">
								<span>选择:表计列表</span>
								<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
							</h5>
							<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>

						<!-- 主体(用于展示表单) -->
							<div class="modal-body" id="tab-bind-meter-body">
								<!-- 加载客户列表 -->
							</div>

						<!-- 尾部 -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
						</div>
						
					</div>

				</div>

			</div> 

		</div>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		/*]]>*/
	</script>

</body>
</html>