<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnbind.ai.dao.CustomerAgreementMapper">
  <resultMap id="BaseResultMap" type="com.learnbind.ai.model.CustomerAgreement">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId" />
    <result column="AGREEMENT_TYPE" jdbcType="DECIMAL" property="agreementType" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="DELETED" jdbcType="DECIMAL" property="deleted" />
    <result column="AGREEMENT_NAME" jdbcType="VARCHAR" property="agreementName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, CUSTOMER_ID, AGREEMENT_TYPE, PATH, DELETED, AGREEMENT_NAME, REMARK
  </sql>
</mapper>