<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnbind.ai.dao.MetersTraceMapper">
  <resultMap id="BaseResultMap" type="com.learnbind.ai.model.MetersTrace">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="METER_ID" jdbcType="DECIMAL" property="meterId" />
    <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId" />
    <result column="OPERATION_TYPE" jdbcType="DECIMAL" property="operationType" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="OPERATION_DATE" jdbcType="TIMESTAMP" property="operationDate" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="OPERATOR_ID" jdbcType="DECIMAL" property="operatorId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, METER_ID, CUSTOMER_ID, OPERATION_TYPE, REMARK, OPERATION_DATE, OPERATOR_NAME, 
    OPERATOR_ID
  </sql>
</mapper>