<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnbind.ai.dao.SysInterfaceConfigMapper">
  <resultMap id="BaseResultMap" type="com.learnbind.ai.model.SysInterfaceConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="INTERFACE_TYPE" jdbcType="VARCHAR" property="interfaceType" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, INTERFACE_TYPE, KEY, VALUE, REMARK
  </sql>
</mapper>