<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnbind.ai.dao.WmDeviceMapper">
  <resultMap id="BaseResultMap" type="com.learnbind.ai.model.iot.WmDevice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="DEVICE_ID" jdbcType="VARCHAR" property="deviceId" />
    <result column="VERIFY_CODE" jdbcType="VARCHAR" property="verifyCode" />
    <result column="MANUFACTURER_ID" jdbcType="VARCHAR" property="manufacturerId" />
    <result column="MANUFACTURER_NAME" jdbcType="VARCHAR" property="manufacturerName" />
    <result column="DEVICE_TYPE" jdbcType="VARCHAR" property="deviceType" />
    <result column="MODEL" jdbcType="VARCHAR" property="model" />
    <result column="PROTOCOL_TYPE" jdbcType="VARCHAR" property="protocolType" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPATE_TIME" jdbcType="TIMESTAMP" property="upateTime" />
    
    <result column="METER_TYPE" jdbcType="INTEGER" property="meterType" />
    <result column="METER_ADDRESS" jdbcType="VARCHAR" property="meterAddress" />
    <result column="METER_FACTORY_CODE" jdbcType="VARCHAR" property="meterFactoryCode" />
    <result column="METER_SEQUENCE" jdbcType="INTEGER" property="meterSequence" />
    
    <result column="METER_NUMBER" jdbcType="VARCHAR" property="meterNumber" />
    
    <result column="METER_CONFIG" jdbcType="VARCHAR" property="meterConfig" />
    <result column="METER_FREEZE" jdbcType="VARCHAR" property="meterFreeze" />
    
    <result column="METER_NAME" jdbcType="VARCHAR" property="meterName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, DEVICE_ID, VERIFY_CODE, MANUFACTURER_ID, MANUFACTURER_NAME, DEVICE_TYPE, MODEL, 
    PROTOCOL_TYPE, CREATE_TIME, UPATE_TIME, METER_TYPE, METER_ADDRESS, METER_FACTORY_CODE, METER_SEQUENCE, METER_NUMBER, METER_CONFIG, METER_FREEZE, METER_NAME 
  </sql>
  
  <insert id="save" parameterType="com.learnbind.ai.model.iot.DeviceBean">
	INSERT INTO 
		WM_DEVICE 
			( 
			DEVICE_ID, 
			VERIFY_CODE, 
			MANUFACTURER_ID, 
			MANUFACTURER_NAME, 
			DEVICE_TYPE, 
			MODEL, 
			PROTOCOL_TYPE, 
			CREATE_TIME, 
			UPATE_TIME, 
			METER_TYPE, 
			METER_ADDRESS,
			METER_FACTORY_CODE,
			METER_SEQUENCE 
			)
	VALUES
		(
		#{ deviceId, jdbcType = VARCHAR }, 
		#{ verifyCode, jdbcType = VARCHAR }, 
		#{ manufacturerId, jdbcType = VARCHAR }, 
		#{ manufacturerName, jdbcType = VARCHAR },
		#{ deviceType, jdbcType = VARCHAR }, 
		#{ model, jdbcType = VARCHAR }, 
		#{ protocolType, jdbcType = VARCHAR },
		SYSDATE,
		SYSDATE,
		#{ meterType, jdbcType = INTEGER }, 
		#{ meterAddress, jdbcType = VARCHAR }, 
		#{ meterFactoryCode, jdbcType = VARCHAR }, 
		#{ meterSequence, jdbcType = INTEGER } 
		)
	</insert>

    <update id="updateById" parameterType="com.learnbind.ai.model.iot.DeviceBean">
        UPDATE 
        	WM_DEVICE 
		SET 
			DEVICE_ID = #{ deviceId, jdbcType = VARCHAR },
			VERIFY_CODE = #{ verifyCode, jdbcType = VARCHAR },
			MANUFACTURER_ID = #{ manufacturerId, jdbcType = VARCHAR },
			MANUFACTURER_NAME = #{ manufacturerName, jdbcType = VARCHAR },
			DEVICE_TYPE = #{ deviceType, jdbcType = VARCHAR },
			MODEL = #{ model, jdbcType = VARCHAR },
			PROTOCOL_TYPE = #{ protocolType, jdbcType = VARCHAR },
			UPATE_TIME = SYSDATE, 
			METER_TYPE = #{ meterType, jdbcType = INTEGER },
			METER_ADDRESS = #{ meterAddress, jdbcType = VARCHAR },
			METER_FACTORY_CODE = #{ meterFactoryCode, jdbcType = VARCHAR },
			METER_SEQUENCE = #{ meterSequence, jdbcType = INTEGER }, 
			METER_CONFIG = #{ meterConfig, jdbcType = VARCHAR }, 
			METER_FREEZE = #{ meterFreeze, jdbcType = VARCHAR } 
		WHERE
			ID = #{ id, jdbcType = BIGINT}
  </update>

  <update id="updateByDeviceId" parameterType="com.learnbind.ai.model.iot.DeviceBean">
        UPDATE 
        	WM_DEVICE 
		SET 
			DEVICE_ID = #{ deviceId, jdbcType = VARCHAR },
			VERIFY_CODE = #{ verifyCode, jdbcType = VARCHAR },
			MANUFACTURER_ID = #{ manufacturerId, jdbcType = VARCHAR },
			MANUFACTURER_NAME = #{ manufacturerName, jdbcType = VARCHAR },
			DEVICE_TYPE = #{ deviceType, jdbcType = VARCHAR },
			MODEL = #{ model, jdbcType = VARCHAR },
			PROTOCOL_TYPE = #{ protocolType, jdbcType = VARCHAR },
			UPATE_TIME = SYSDATE,
			<!-- METER_TYPE = #{ meterType, jdbcType = INTEGER },
			METER_ADDRESS = #{ meterAddress, jdbcType = VARCHAR },
			METER_FACTORY_CODE = #{ meterFactoryCode, jdbcType = VARCHAR }, -->
			METER_SEQUENCE = #{ meterSequence, jdbcType = INTEGER }, 
			METER_CONFIG = #{ meterConfig, jdbcType = VARCHAR }, 
			METER_FREEZE = #{ meterFreeze, jdbcType = VARCHAR }    
		WHERE
			DEVICE_ID = #{ deviceId, jdbcType = BIGINT}
  </update>
  <!-- 查询 -->
  <select id="getDeviceByDeviceId" parameterType="com.learnbind.ai.model.iot.DeviceBean" resultMap="BaseResultMap">
  	SELECT
		* 
	FROM
		WM_DEVICE 
	WHERE
		DEVICE_ID = #{ deviceId, jdbcType = VARCHAR }
  </select>
</mapper>