<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:include="common/common_head::headx('月客户统计')" th:remove="tag"></div>
</head>
<body>
	<div id="container" style="width: 600px;height:400px;"></div>
</body>

<!-- 引入echart -->
<script type="text/javascript" src="/echart/4.2.1/dist/echarts.js"></script>

<script type="text/javascript">
	var dom = document.getElementById("container");
	var myChart = echarts.init(dom);
	
	var app = {};
	
	//设置数值参数
	option = null;	
	option = {
		title: {
               text: 'ECharts 入门示例'
           	},
        tooltip: {},
        legend: {
               data:['销量']
           		},
		xAxis : {			
			data : [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ]
		},
		yAxis : {
			type : 'value'
		},
		series : [ {
			name : '销量',
			data : [ 120, 200, 150, 80, 70, 110, 130 ],
			type : 'bar'
		} ]
	};
	
	if (option && typeof option === "object") {
		myChart.setOption(option, true);
	}
	
</script>
</html>