<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>

/* 输入布局 */
.table-layout td {
	border: 0px;
	padding: 0px;
}
</style>

<!-- color picker 颜色选择器 -->
<!-- <link 	href="/color-picker/dist/css/bootstrap-colorpicker.css"	rel="stylesheet" />
<script  src="/color-picker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script> -->
<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>


</head>
<!-- 修改对话框 -->
<body>
	<!-- 当前所编辑的账单ID -->
	<input type="hidden" id="account-item-id" name="" th:value="${currItem==null ? '' : currItem.id}" />
	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-settle-dialog"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

					<div class="modal-dialog modal-lg">
						<div class="modal-content">

							<!-- 头部 -->
							<div class="modal-header"
								style="background-color: #a5f1b6; height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>结算生成账单</span> <i class="fa fa-tags fa-1x"
										aria-hidden="true" style="color: blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close"
									data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">
								
									<!-- 采用表格进行布局 -->
									<table class="table">
										<tbody id="overdue-fine-body">
											<tr>
												<!-- 客户id -->
												<td>
												<label for="customers-name" class="col-sm-6 control-label">结算金额</label>
													<input type="text" class="form-control col-sm-6 settle-amount"
														th:value="${settleAmount}"
														id="account-settle-amount" name="settleAmount"
														maxlength=30 title="请输入1-30个字符" />
												</td>

											</tr>
										</tbody>
									</table>

								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"
									id="btn-modify-and-back">保存&返回</button>
							</div>

						</div>

					</div>

				</div>

			</div>
		</div>

		<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
		/*]]>*/
	</script>

		<script>
		//------------------业务操作----------------------
		function getOverdueFineParms(){
			var accountItemId = $("#account-item-id").val();
			var settleAmount = $("#account-settle-amount").val();//结算金额
			var parms = new Object(); //参数
			parms.accountItemId = accountItemId;
			parms.settleAmount = settleAmount;
			console.log(parms);
		}
		
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			//需要提交的url	
			var url = BASE_CONTEXT_PATH + "/settle-account/settle-account";
			var accountItemId = $("#account-item-id").val();
			var settleAmount = $("#account-settle-amount").val();//结算金额
			var parms = new Object(); //参数
			parms.accountItemId = accountItemId;
			parms.settleAmount = settleAmount;
			console.log(parms);
			
			if(!parms){
				return false;
			}
			
			$.post(url, parms, function(res){
				$('#btn-modify-and-back').attr("disabled", false);//设置保存按钮可操作
				//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
				if (res != null && res != "") {
					//var obj = $.parseJSON(res);						
					if (res.result_code == "success") {
						//loadPage();
						closeSettleAccountDialog();
						util.message(res.result_msg,null,"warning");
						var params = new Object(); //参数
						params.id = accountItemId;
						loadAccountItemDetailList(params, loadItemDetailCallback); 
					} else {
						//dialog type: success warning info error,默认为info
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		 }
		

		/* 
			close dialog:修改对话框 
		*/
		function closeSettleAccountDialog() {
			$("#modal-container-settle-dialog").modal("hide");
		}
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
			修改对话框-保存按钮-CLICK
			保存所修改的条目
		*/
		$('#btn-modify-and-back').on('click',function() {
			$('#btn-modify-and-back').attr("disabled", true);//设置保存按钮不可操作
			modiItem(true);				
		});


		});
	</script>



	</th:block>

</body>
</html>