<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="common/common_head::headx('客户档案')" th:remove="tag"></div>
<title>Insert title here</title>
</head>
<body>
	<!-- <canvas id="canvas"></canvas> -->
	<canvas width="850" height="550" id="canvas" style="background-color: rgb(238, 238, 238); border: 1px solid rgb(68, 68, 68); cursor: default;"></canvas>
</body>

 <script type="text/javascript"  th:src="@{/js/metertopo/jtopo-0.4.8-min.js}"></script>
 <script type="text/javascript"  th:src="@{/js/metertopo/toolbar.js}"></script>
 
 <script>
 
 	var canvas = null; 
 	var stage = null; // 创建一个舞台对象
 	var scene = null; // 创建一个场景对象 		 
 	//scene.background = '/images/topo/bg.jpg';  //设置scene背景
 	
 	function initScene(){
 		canvas = document.getElementById('canvas'); 
 	 	stage = new JTopo.Stage(canvas); // 创建一个舞台对象
 	 	scene = new JTopo.Scene(stage); // 创建一个场景对象 		 
 	 	scene.background = '/images/topo/bg.jpg';  //设置scene背景
 	}
 
 	function helloWorld(){	 
 		 var node = new JTopo.Node("Hello");    // 创建一个节点
 		 node.setLocation(300,200);    // 设置节点坐标                    
 		 scene.add(node); // 放入到场景中	
 		 //console.log("function is called!");
 	}
 	
 	function setNode(){
		 var node = new JTopo.Node("Hello");    // 创建一个节点
         node.setLocation(300,200);    // 设置节点坐标                    
         node.rotate = Math.random(); // 旋转角度
         node.scaleX = Math.random(); // 水平方向的缩放
         node.scaleY = Math.random(); // 垂直方向的缩放
         node.alpha = Math.random();  // 透明度
         //node.setImage('host.png'); // 设置图片
         node.setImage('/images/topo/baseMode2.png'); // 设置图片
         scene.add(node); // 放入到场景中
 	}
 	
 	function setLink(){
 		//var stage = new JTopo.Stage(canvas);
        //var scene = new JTopo.Scene(stage);
        
        var nodeFrom = new JTopo.Node("from");
        nodeFrom.setLocation(200,200);
        scene.add(nodeFrom);
        
        var nodeTo = new JTopo.Node("To");
        nodeTo.setLocation(300,200);
        scene.add(nodeTo);
        
        var link = new JTopo.Link(nodeFrom, nodeTo); // 增加连线
        scene.add(link);
                    
 	}
 
	$(function(){
		initScene();
		//helloWorld();	
		//setNode();
		setLink();
		
	}); 
	 
	 
	 
	 
 
 </script>

</html>