<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-dialog" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">

					<div class="modal-dialog modal-lg">

						<div class="modal-content">

							<!-- 头部 -->
							<div class="modal-header"
								style="background-color: #a5f1b6; height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<h4 th:text="${title}">增加</h4>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close"
									data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">

									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="customer-info-collect-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />

									<!-- 表单内容 -->
									<!-- form-inline -->

									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td>
													<!-- 客户名称 -->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">客户名称</label> 
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																th:value="${currItem==null ? '' : currItem.customerName}"
																id="info-customer-name" name="customerName" maxlength=20
																title="请输入1-20位字符" placeholder="客户名称" />
														</span>
													</div>
												</td>
												<td>
													<!-- 客户电话 -->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">客户电话</label> 
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																th:value="${currItem==null ? '' : currItem.customerPhone}"
																id="info-customer-phone" name="customerPhone" maxlength=20
																title="请输入1-20位字符" placeholder="客户电话" />
														</span>
													</div>
												</td>
											</tr>

											<tr>
												<td>
													<!-- 反映问题 -->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">反映问题</label>
														<span class="input-group-sm  col-sm-8"> 
															<textarea rows="2" cols="22" class="form-control" 
																	id="info-question" name="question" 
																	th:text="${currItem==null ? '' : currItem.question}" 
																	maxlength=200 title="请输入1-200位字符" placeholder="反映问题"></textarea>
														</span>
													</div>
												</td>
												<td>
													<!-- 解决情况 -->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">解决情况</label>
														<span class="input-group-sm  col-sm-8"> 
															<textarea rows="2" cols="22" class="form-control" 
																	id="info-solution" name="solution" 
																	th:text="${currItem==null ? '' : currItem.solution}" 
																	maxlength=200 title="请输入1-200位字符" placeholder="解决情况"></textarea>
														</span>
													</div>
												</td>
											</tr>

											<tr>
												<td>
													<!-- 回复情况-->
													<div class="form-group form-inline">
														<label for="user-sex" class="col-sm-4 control-label">回复情况</label>
														<span class="input-group-sm col-sm-8" style="">
															<select class="form-control" id="info-replay-status" name="replyStatus" th:value="${currItem==null ? 0 : currItem.replyStatus}">
																<!-- 默认选择第一个 -->
																<option value="0" th:attr="selected=( ${currItem!=null && currItem.replyStatus==0} )? 'selcted' ">未回复</option>
																<option value="1" th:attr="selected=( ${currItem!=null && currItem.replyStatus==1} )? 'selcted' ">已回复</option>												
															</select>
														</span>
													</div>
												</td>
												<td>
													<!-- 是否满意-->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">是否满意</label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control"  id="info-satisfied-status" name="satisfiedStatus" th:value="${currItem==null ? 0 : currItem.satisfiedStatus}">
																<!-- 默认选择第一个 -->
																<option value="0" th:attr="selected=( ${currItem!=null && currItem.satisfiedStatus==0} )? 'selcted' ">满意</option>
																<option value="1" th:attr="selected=( ${currItem!=null && currItem.satisfiedStatus==1} )? 'selcted' ">不满意</option>												
															</select>
														</span>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<!-- 回复时间-->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">回复时间</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control  input-sm Wdate"
																id="info-reply-time" name="replyTime"		
																th:value="${currItem==null ? '' : currItem.replyTimeStr}"				
																onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
																placeholder="回复时间" style="background-color: white;" title="回复时间">
														</span>
													</div>
												</td>
											</tr>
										</tbody>

									</table>

								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"
									id="btn-modify-and-back">保存&返回</button>
							</div>

						</div>

					</div>

				</div>

			</div>
		</div>

		<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
			var title=[[${title}]];
		/*]]>*/
	</script>

		<script>
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/customer-info-collect/insert";
			
			var id= $("#customer-info-collect-id").val();
			if(id!=null && id!=""){
				urlStr = BASE_CONTEXT_PATH + "/customer-info-collect/update";
			}
			var form=new FormData($("#dialog-modi-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					if (res != null && res != "") {
						if (res.result_code == "success") {
							loadPage();  //	重新刷新当前页面
							if (closeDialogFlag){
								closeModiDialog();
							}
							util.message(res.result_msg,null,"warning");
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
		/*
			设置input背景色
		*/
		function setBackGround() {
			$("#info-operation-time").css("background-color", "white");
			$("#info-reply-time").css("background-color", "white");
		}
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back').on('click',function() {
				modiItem(true);				
			});
			
			/*
				加载价格分类名称下拉框同时赋值给价格分类编码输入框值
			*/
			$('#setting-price-type-name').on('change',function() {
					var priceTypeCode = $(this).find("option:selected").attr("data-price-type-code");
					console.log(priceTypeCode);
					
					$("#setting-price-type-code").val(priceTypeCode);
			});
			

		});
	</script>

	</th:block>

</body>
</html>