<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">


</script>

</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-edit-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span id="office-dialog-title">编辑:网点信息</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="office-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td>
													<!-- 网点编码-->
													<div class="form-group form-inline">
														<label for="office-organization" class="col-sm-4 control-label">网点编码&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.officeCode}" 
																	id="office-code" name="officeCode" 
																	maxlength=30 title="请输入1-30个字符" placeholder="网点编码" required/>
														</span>
													</div>
												</td>
												<td>
													<!-- 网点名称-->
													<div class="form-group form-inline">
														<label for="office-organization" class="col-sm-4 control-label">网点名称&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.officeName}" 
																	id="office-name" name="officeName" 
																	maxlength=30 title="请输入1-30个字符" placeholder="网点名称" required/>
														</span>
													</div>
												</td>												
											</tr>
											<tr>
												<td>
													<!-- 状态 -->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">状态&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="office-status" name="officeStatus" th:value="${currItem==null ? '' : currItem.officeStatus}" required>
																<!-- 默认选择第一个 -->
																<option value="0" th:attr="selected=( ${currItem!=null && currItem.officeStatus==0} )? 'selcted' ">启用</option>
																<option value="1" th:attr="selected=( ${currItem!=null && currItem.officeStatus==1} )? 'selcted' ">禁用</option>	
															</select>
														</span>
													</div>
												</td>
												<td>
													<!-- 节点类型 -->
													<div class="form-group form-inline">
														<label for="" class="col-sm-4 control-label">节点类型&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="node-type" name="nodeType" th:value="${currItem==null ? '' : currItem.nodeType}" required>
																<!-- 默认选择第一个 -->
																<option value="1" th:attr="selected=( ${currItem!=null && currItem.nodeType==1} )? 'selcted' ">营业网点</option>
															</select>
														</span>
													</div>
												</td>
											</tr>
										</tbody>
										
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"	id="btn-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
		/*]]>*/
	</script>

	<script>
	
	
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/bus-office/insert";
			
			var officeId= $("#office-id").val();
			if(officeId!=null && officeId!=""){
				urlStr = BASE_CONTEXT_PATH + "/bus-office/update";
			}
			var form=new FormData($("#dialog-modi-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					if (res != null && res != "") {
						if (res.result_code == "success") {
							loadPage();  //	重新刷新当前页面
							if (closeDialogFlag){
								closeEditDialog();
								util.message(res.result_msg,null,"success");
							}
						} else {
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
	
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back').on('click',function() {
				modiItem(true);				
			});

		});
	</script>
	

	
	</th:block>
	
</body>
</html>