<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>

/* 输入布局 */
.table-layout td{
	border:0px;
	padding:0px;
}

</style>

<!-- color picker 颜色选择器 -->
<!-- <link 	href="/color-picker/dist/css/bootstrap-colorpicker.css"	rel="stylesheet" />
<script  src="/color-picker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script> -->
<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-deal-situation-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>工单处理情况</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="work-order-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table-sm">
										<tbody id="work-order-body">
											<tr>
												<td>
													<!-- 工单编号-->
													<div class="form-group form-inline">
														<label for="" class="control-label" style="width:100px;">工单编号：</label>
														<input type="text" class="form-control"  disabled="disabled"
																style="width:250px;"
																th:value="${currItem==null ? '' : currItem.serialNum}" 
																id="work-serial-num" name="serialNum" 
																maxlength=20 title="请输入1-20位字符" placeholder="工单编号"/>
													</div>
												</td>												
												<td>
													<!-- 工单标题-->
													<div class="form-group form-inline">
														<label for="" class="control-label" style="width:100px;">工单标题：</label>
														<input type="text" class="form-control"  disabled="disabled"
																style="width:250px;"
																th:value="${currItem==null ? '' : currItem.name}" 
																id="work-name" name="name" 
																maxlength=20 title="请输入1-20位字符" placeholder="工单标题"/>
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<div class="form-group form-inline">
														<label for="" class="control-label"style="width:100px;">工单执行情况：</label>
														<textarea rows="3" cols="85" class="form-control" 
																id="work-deal-situation" name="dealSituation" 
																th:text="${currItem==null ? '' : currItem.dealSituation}" 
																maxlength=1000 title="请输入1-1000位字符" placeholder="工单执行情况"></textarea>
													</div>
												</td>
											</tr>				
										
										</tbody>
										
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default btn-sm"	data-dismiss="modal">关闭</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
			var sale_item=[[${saleItem}]];
		/*]]>*/
	</script>

	<script>
		//------------------业务操作----------------------
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------


		});
	</script>
	

	
	</th:block>
	
</body>
</html>