<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <!-- jQuery标签输入自动完成插件 -->
  <link th:href="@{/tagsinput/jquery.tagsinput-revisited.css}"	rel="stylesheet"  type="text/css" />	
  <script th:src="@{/tagsinput/jquery.tagsinput-revisited.js}" type="text/javascript"></script>

<style>

/* 输入布局 */
.table-layout td{
	border:0px;
	padding:0px;
}

</style>

<!-- color picker 颜色选择器 -->
<!-- <link 	href="/color-picker/dist/css/bootstrap-colorpicker.css"	rel="stylesheet" />
<script  src="/color-picker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script> -->
<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-add-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span>增加:工单</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-modi-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="work-order-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table-sm">
										<tbody>
											<tr>
												<td>
													<!-- 工单编号-->
													<div class="form-group form-inline">
														<label for="" class="control-label col-sm-4" >工单编号：</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																th:value="${currItem==null ? '' : currItem.serialNum}" 
																id="work-serial-num" name="serialNum" 
																maxlength=20 title="请输入1-20位字符" placeholder="工单编号"/>
														</span>
													</div>
												</td>												
										
												<td>
													<!-- 工单标题-->
													<div class="form-group form-inline">
														<label for="" class="control-label col-sm-4" >工单标题：</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																th:value="${currItem==null ? '' : currItem.name}" 
																id="work-name" name="name" 
																maxlength=20 title="请输入1-20位字符" placeholder="工单标题"/>
														</span>
													</div>
												</td>
											</tr>			
										
											<tr>
												<td>
													<!-- 工单类型 -->
													<div class="form-group form-inline">
														<label for="" class="control-label col-sm-4">工单类型：</label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="work-type" name="type" th:value="${currItem==null ? '' : currItem.type}">
																<!-- 默认选择第一个 -->
																<option value="" >-请选择-</option>
																<span th:each="item,iterStat: ${workOrderTypeList}" th:remove="tag">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.type ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
															</select>
														</span>
													</div>
												</td>
												<td>
													<!-- 工单状态 -->
													<div class="form-group form-inline">
														<label for="" class="control-label col-sm-4" >工单状态：</label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="work-status" name="status" th:value="${currItem==null ? 1 : currItem.status}">
																<!-- 默认选择第一个 -->
																<option value="0" th:attr="selected=( ${currItem!=null && currItem.status==0} )? 'selcted' ">待分配</option>
																<option value="1" th:attr="selected=( ${currItem!=null && currItem.status==1} )? 'selcted' ">已分配</option>
																<option value="2" th:attr="selected=( ${currItem!=null && currItem.status==2} )? 'selcted' ">处理中</option>
																<option value="3" th:attr="selected=( ${currItem!=null && currItem.status==3} )? 'selcted' ">申请完成</option>	
																<option value="4" th:attr="selected=( ${currItem!=null && currItem.status==4} )? 'selcted' ">已完成</option>
															</select>
														</span>
													</div>
												</td>
											</tr>
											
											<tr>
												<td>
													<!-- 工单描述-->
													<div class="form-group form-inline">
														<label for="" class="control-label col-sm-4" >工单描述：</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																th:value="${currItem==null ? '' : currItem.description}" 
																id="work-description" name="description" 
																maxlength=200 title="请输入少于200位字符" placeholder="工单描述"/>
														</span>
													</div>
												</td>												
										
												<td>
													<!-- 备注 -->
													<div class="form-group form-inline">
														<label for="" class="control-label col-sm-4" >备注</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control" disabled="disabled"
																th:value="${currItem==null ? '' : currItem.remark}" 
																id="work-remark" name="remark" 
																maxlength=200 title="请输入少于200位字符" placeholder="备注"/>
														</span>
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<div class="form-group form-inline">
														<label for="" class="control-label col-sm-2">工单执行情况：</label>
														<span class="input-group-sm col-sm-10">
															<textarea rows="3" cols="85" class="form-control" 
																id="work-edit-situation" name="dealSituation" 
																th:text="${currItem==null ? '' : currItem.dealSituation}" 
																maxlength=1000 title="请输入1-1000位字符" placeholder="工单执行情况"></textarea>
														</span>
													</div>
												</td>
											</tr>
										</tbody>
										
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default btn-sm"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary btn-sm"	id="btn-modify-and-back-work-add">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
			var G_USER_LIST = [[${userList}]];//后台返回的班次列表
		/*]]>*/
	</script>

	<script>
	
		/**
		 * 	根据用户名称在用户列表（JS数组）中查询用户ID                                      
		 */
		function getUserId(name){
			var userArr = G_USER_LIST;
			
			var userId = 0;
			for(var i=0; i<userArr.length; i++){
				var user = userArr[i];
				var userName = user.realname;
				if(userName==name){
					userId = user.id;
					break;
				}
			}
			return userId;
		}
		
		/**
		 * 	增加分配工单人员时，ajax请求更新数据库
		 */
		function addTagAjax(workOrderId, userId){
			var url = BASE_CONTEXT_PATH + '/work-order-allot/add-workorder-user';
			var params = new Object();
			params.workOrderId = workOrderId;
			params.userId = userId;
			$.post(url, params, function(res){
				if (res != null && res != "") {
					if (res.result_code == "success") {
						console.log(res.result_msg);
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		/**
		 * 	删除配工单人员时，ajax请求更新数据库
		 */
		function removeTagAjax(workOrderId, userId){
			var url = BASE_CONTEXT_PATH + '/work-order-allot/delete-workorder-user';
			var params = new Object();
			params.workOrderId = workOrderId;
			params.userId = userId;
			$.post(url, params, function(res){
				if (res != null && res != "") {
					if (res.result_code == "success") {
						console.log(res.result_msg);
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		//------------------业务操作----------------------
		/**
		 * 	保存条目:修改
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function modiAddItem(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/work-order-allot/insert";
			
			var workOrderId= $("#work-order-id").val();
			if(workOrderId!=null && workOrderId!=""){
				urlStr = BASE_CONTEXT_PATH + "/work-order-allot/update";
			}
			var form=new FormData($("#dialog-modi-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
					if (res != null && res != "") {
						if (res.result_code == "success") {
							closeAddDialog();
							loadWorkOrderAllotPage();
							
							util.message(res.result_msg,null,"warning");
						} else {
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
		 /*                 
			加载用户下拉框同时赋值
		*/
		$('#reserved-labels').on('change',function() {
			var selectUserId = $('#reserved-labels').val();
			var selectRealname =  $(this).find("option:selected").attr("data-user-realname");
			 $('#form-tags-2').addTag(selectRealname);
		});
	
		//--------------------page loaded ready-----------------------
		$(function() {
			//--------------------	标签输入框	--------------------
			/**
			 * 	初始化tagsinput插件
			 */
			 $('#form-tags-2').tagsInput({
					'onAddTag': function(input, value) {
						var workOrderId = input.name;
						addTagAjax(workOrderId, getUserId(value));
					},
					'onRemoveTag': function(input, value) {
						var workOrderId = input.name;
						removeTagAjax(workOrderId, getUserId(value));
					},
					'onChange': function(input, value) {
					} 
				});


			//---------------click event process binding---------------

			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back-work-add').on('click',function() {
				modiAddItem(true);				
			});

		});
	</script>
	

	
	</th:block>
	
</body>
</html>