<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>账单主界面</title>

<!-- ZTree CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/metroStyle/metroStyle.css}">
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/custom.css}">
<!-- ZTree JS Scripts-->
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script>

<!-- 正则表达式验证 -->
<script src="/jquery/jquery-validation/jquery.validate.min.js"></script>
<script src="/jquery/jquery-validation/messages_zh.js"></script>

<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>
<!-- 文件上传JS插件 -->
<script type="text/javascript" th:src="@{/jquery/ajaxFileUpload.js}"></script>
<!-- 上传文件验证JS -->
<script type="text/javascript" th:src="@{/commons/file-upload-validate.js}"></script>

<link rel="stylesheet"	href="/css/billtablebody.css" />
<link rel="stylesheet"	href="/css/commform.css" />
<link rel="stylesheet"	href="/css/searchpanel.css" />
</head>
<body>
	<!-- 减免违约金对话框 -->
	<div id="overdue-reduce-dialog"></div>
	<!-- 结算对话框 -->
	<div id="settle-account-dialog"></div>
	<!-- 减免水费对话框 -->
	<div id="water-fee-reduce-dialog"></div>
	<!-- 分账单对话框 -->
	<div id="sub-account-dialog"></div>
	<!-- 撤销分账单对话框 -->
	<div id="cancel-sub-account-dialog"></div>
	<!-- 增加账单对话框 -->
	<div id="account-dialog-edit"></div>
	<!-- 当前所编辑的账单ID -->
	<input type="hidden" id="account-item-id" name="id" value="" />
	<!-- 当前所编辑账单的客户ID -->
	<input type="hidden" id="curr-customer-id" name="customerId" value="" />
	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix medic-label account-main">
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-account-item">
				<ul class="nav nav-tabs" id="account-item-nav-tabs">
					<li class="nav-item" id="account-item-tab">
						<a class="nav-link active" href="#tab-account-item" data-toggle="tab">账单列表</a>
					</li>
					<li class="nav-item" id="tab-customer-account-item-detail-li" style="display: none;">
						<a class="nav-link" href="#tab-customer-account-item-detail" data-toggle="tab">账单明细</a>
					</li>
					<li class="nav-item" id="tab-account-item-detail-li" style="display: none;">
						<a class="nav-link" href="#tab-account-item-detail" data-toggle="tab">账单详情</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-account-item">
						
						<!-- 通用查询 -->
						<div th:include="bill/sendnotify/common_search_main"></div>
						
						<!-- 抄表记录列表 -->
						<div class="row clearfix" id="meter-record-item">
							<div class="col-md-3 column" style="padding-right:1px;">					
								<div class="card">
									<div class="card-body" id="location-body" style="padding-top:10px;padding-bottom:10px">
										<!-- 地理位置列表 -->
										<div th:include="component/locationtree/location_tree::tree('location-tree')" th:remove="tag"></div>
									</div>
								</div>
							</div>
							<div class="col-md-9 column" style="padding-left:1px;">
								<div class="card">
									<!-- <h5 class="card-header">
										客户档案
									</h5> -->
									<div class="card-body account-table" id="bill-table-body" style="padding-left:10px;padding-right:10px;">
										<!-- 表计列表 -->
									</div>
								</div>
							</div>
							
						</div>
						<!-- 容器:字典列表 -->
						<!-- <div class="account-table table-container"></div> -->
					</div>
					
					<div class="tab-pane" id="tab-customer-account-item-detail">
						<!-- 客户账单明细 -->
					</div>
					<div class="tab-pane" id="tab-account-item-detail">
						<!-- 客户账单详细信息 -->
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- 高级查询页面 -->
	<div th:include="bill/advanced_search_page" th:remove="tag"></div>
	<!-- 地理位置treeJS -->
	<script type="text/javascript"	th:src="@{/js/component/locationtree/LocationTree1.js}"></script>
	<!-- 地理位置下拉框查询JS -->
	<script type="text/javascript"	th:src="@{/js/component/districtsearcher/DistrictSearcher.js}"></script>
	<!-- 地理位置树自适应JS -->
	<script type="text/javascript"	th:src="@{/js/location_tree_adaptive/location_tree_adaptive.js}"></script>
	<script th:inline="javascript">
	</script>

	<script>
	
		//选择的客户ID，保存到数组中
		var CUSOTMER_ID_ARR = new Array();
		//记录查询方式，0是普通查询；1是高级查询；2是点击地理位置树查询
		var G_GENERAL_SEARCH = "0";
		/**
		 *	 获取当前编辑账单的ID
		 */
		function getCurrEditAccountItemId(){
			return $("#account-item-id").val();
		}
		/**
		 *	 设置当前编辑账单的ID
		 */
		function setCurrEditAccountItemId(accountItemId){
			return $("#account-item-id").val(accountItemId);
		}
		
		/**
		 *	 获取当前编辑账单的客户ID
		 */
		function getCurrEditCustomerId(){
			return $("#curr-customer-id").val();
		}
		/**
		 *	 设置当前编辑账单的客户ID
		 */
		function setCurrEditCustomerId(customerId){
			return $("#curr-customer-id").val(customerId);
		}
	
		var G_SELECTED_BILL_ID_ARR = new Array();//保存用户选择的账单ID
	
		/*
			设置日期选择input背景色
		*/
		function setBackGround() {
			$("#bill-period").css("background-color", "white");
		}
		
		/**
		 * 	获取当前系统月份（表示为抄表记录中的期间）
		 */
		function getCurrSysMonth(){
			var date = new Date();
			var year = date.getFullYear();    //获取完整的年份(4位,1970-????)
			var month = date.getMonth()+1;       //获取当前月份(0-11,0代表1月)
			if(month<10){
				month = "0"+month;
			}
			return year+"-"+month;
		}
		/**
		 * 	设置账单期间默认值为系统月份
		 */
		function setBillPeriodDefault(){
			$("#bill-period").val(getCurrSysMonth());
		}
		
		/**
		 * 	隐藏客户账单明细选项卡选项卡
		 */
	 	function hideAccountItemListTab(){
			$("#tab-customer-account-item-detail-li").hide();
		} 
		/**
		 * 	隐藏客户账单详情选项卡选项卡
		 */
	 	function hideAccountItemDetailTab(){
			$("#tab-account-item-detail-li").hide();
		}
		
	 	/**
		 * 	显示客户账单明细选项卡
		 */
		function showCustomerBillDetailListTab(customerName){
			$("#tab-customer-account-item-detail-li").show();
			$("#tab-customer-account-item-detail-li").find("a").text(customerName+"的账单明细");
			$("#account-item-nav-tabs a[href='#tab-customer-account-item-detail']").tab("show");//跳转到详细明细选项卡
		}
		/**
		 * 	显示客户账单详情选项卡
		 */
		function showAccountItemDetailTab(){
			$("#tab-account-item-detail-li").show();
			$("#account-item-nav-tabs a[href='#tab-account-item-detail']").tab("show");//跳转到详细信息选项卡
		}
		
		/* 
			加载客户账单管理页
		*/
		function loadCustomerAccountItemList(parms, callback) {
			var url = BASE_CONTEXT_PATH+"/send-notify/table";
			var callbackFunc = callback;
			var containerId = "#tab-account-item";
			loadPage(containerId, url, parms, callbackFunc);
		}
		/* 
			加载某客户账单明细页
		*/
		function loadCustomerAccountItemDetailList(parms, callback) {
			var url = BASE_CONTEXT_PATH+"/send-notify/customer-bill-main";
			var callbackFunc = callback;
			var containerId = "#tab-customer-account-item-detail";
			loadPage(containerId, url, parms, callbackFunc);
		}
		/* 
			加载客户账单详情信息
		*/
		function loadAccountItemDetailList(parms, callback) {
			var url = BASE_CONTEXT_PATH+"/account-item/detail-table";
			var callbackFunc = callback;
			var containerId = "#tab-account-item-detail";
			loadPage(containerId, url, parms, callbackFunc);
		}
	
		
		//--------------------公共查询函数--------------------------
		/*	
			公共查询函数
			
			查询核对类型列表
		*/
		function searchAccountItem(parms) {
			//加载字典列表页面
			var url = BASE_CONTEXT_PATH + "/send-notify/table"
			$(".account-table").load(url, parms, callbackFuncx);
		}

		function callbackFuncx(){
			console.log("call back........");
			var myEvent = new Event('resize');
	        window.dispatchEvent(myEvent);
		}
		/**
		 * 	获取查询参数（不包含分页信息）
		 */
		function getSearchArrearsBillParams(){
			
			//地理位置痕迹ID（ID-ID-ID-ID）
			var traceIds = null;
			var locaBlockTraceIds = locationSearcher.getBlockId();//地理位置-小区traceIds
			var locaBuildingTraceIds = locationSearcher.getBuildingId();//地理位置-楼号traceIds
			var locaUnitTraceIds = locationSearcher.getUnitId();//地理位置-单元traceIds
			if(locaUnitTraceIds!=null && locaUnitTraceIds!=""){
				traceIds = locaUnitTraceIds;
			}else if(locaBuildingTraceIds!=null && locaBuildingTraceIds!=""){
				traceIds = locaBuildingTraceIds;
			}else if(locaBlockTraceIds!=null && locaBlockTraceIds!=""){
				traceIds = locaBlockTraceIds;
			}
			
			var period = $("#bill-period").val();//期间
			var searchCond = $("#search-cond").val();//查询条件
			
			var searchBindWechatCustomer = $("#search-bind-wechat-customer").prop("checked");//查询已绑定微信客户复选框的选中状态
			console.log("==========查询已绑定微信客户："+searchBindWechatCustomer);
			var searchUnbindWechatCustomer = $("#search-unbind-wechat-customer").prop("checked");//查询未绑定微信客户复选框的选中状态
			console.log("==========查询未绑定微信客户："+searchUnbindWechatCustomer);
			//初始化请求参数
			var parms = new Object();
			parms.period=period;
			parms.searchCond=searchCond;
			parms.traceIds=traceIds;
			parms.searchBindWechatCustomer=searchBindWechatCustomer;
			parms.searchUnbindWechatCustomer=searchUnbindWechatCustomer;
			console.log("查询参数："+JSON.stringify(parms));
			return parms;
		}
		
		//---------------------------------------------
		
		/*
			默认查询
			Retrieve(default)查询(加载默认列表)
		*/
		function defaultSearchAccountItem() {

			var pageNum = 0;
			var pageSize = 0;
			var parms = null;//获取查询参数（不包含分页信息）
			
			if(G_GENERAL_SEARCH == "0"){
				parms = getSearchArrearsBillParams();//获取普通查询参数（不包括分页信息）
			}else if (G_GENERAL_SEARCH == "1"){
				parms = advancedSearchParams.getParams();//获取高级查询参数
			}else {
				parms = getZTreeSearchParam();//获取ztree查询参数
			}
			
			parms.pageNum = pageNum;
			parms.pageSize = pageSize;
			
			searchAccountItem(parms);
		}
		
		/*
			查询按钮点击时调用
			采用用户所输入的查询条件进行查询.
		*/
		function btnSearchAccountItemClick() {

			var pageNum = 0;
			var pageSize = 0;
			
			var parms = getSearchArrearsBillParams();//获取查询参数（不包含分页信息）
			parms.pageNum = pageNum;
			parms.pageSize = pageSize;
			searchAccountItem(parms);
		}

		/*
			分页查询(采用所保存的状态)
		*/
		function loadPageClickPageNum(searchCond,pageNum,pageSize) {
			
			var parms = null;
			if(G_GENERAL_SEARCH == "0"){
				parms = getSearchArrearsBillParams();//获取普通查询参数（不包括分页信息）
			}else if (G_GENERAL_SEARCH == "1"){
				parms = advancedSearchParams.getParams();//获取高级查询参数
			}else {
				parms = getZTreeSearchParam();//获取ztree查询参数
			}
			parms.pageNum = pageNum;
			parms.pageSize = pageSize;
			
			searchAccountItem(parms);
		}
		
		//----------------------------------地理位置tree实例---------------------------------------------------------------------
		var locationTree = new LocationTree('location-tree');
		//地理位置下拉框件实例
		var locationSearcher = new DistrictSearcher("location-searcher", locationSelectSearchCallback); //此处searcher的ID和回调函数
		
		
		/*
			ztree树click某节点后的回调函数
		*/
		function clickZTreeNodeCallback(treeNode) {
			
			if(treeNode==null){
				return false;
			}
			
			var traceIds = treeNode.traceIds;//获取点击节点的traceIds
			var pyCode = treeNode.pycode;//获取用户点击节点的pycode
			$('#btn-search-bill-reset').click();
			advancedSearchParams.reset();//重新高级查询条件
			
			var parms = new Object();
			parms.traceIds = traceIds;
			G_GENERAL_SEARCH = "2";//记录是普通查询还是高级查询
			searchAccountItem(parms);
			
		}
		
		function getZTreeSearchParam(){//获取点击地理位置树的traceIds
			var traceIds = null;
			if(locationTree.getSelectedTreeNode() != null){
				traceIds = locationTree.getSelectedTreeNode().traceIds;
			}
			
			var parms = new Object();
			parms.traceIds = traceIds;
			return parms;
		}
		
		/**
		 * 	地理位置下拉查询组件回调函数
		 */
		function locationSelectSearchCallback(){
			
			locationTree.cancelAllSelectedNode();//取消ztree的选中状态
			G_GENERAL_SEARCH = "0";
			defaultSearchAccountItem();//查询客户
		}
		
		
		
		//------------------------------	加载地理位置列表	------------------------------
		/* 
		 *	加载通用地理位置页面
		 * 		domId:需要加入此页面的dom节点ID
		 * 		callback:页面加载完成后的回调
		 */
		function loadGlobalLocationPage(domId, callback) {
			var url = "/location/load-global-location-page";
			var callbackFunc = callback;
			var containerId = "#"+domId;
			loadPage(containerId, url, null, callbackFunc);
		}
		/**
		 * 	加载地理位置后的回调
		 */
		function loadLocationListCallback(){
			//主页:默认查询(加载默认列表)
			defaultSearchAccountItem();
		}
		
		//-------------------批量发送微信/短信通知部分------------------------------------------------------------
		/**
		 * 	发送微信通知
		 */
		function sendWechatNotifyBatchFn(){
			var parm = getSearchArrearsBillParams();
			var customerIdJson = getSelectedAccountItemIds().toString();
			parm.customerIdJson = customerIdJson;
			
			if(parm.period==null || parm.period==""){
				util.message("请选择期间！");
				return false;
			}
			
			if(parm.traceIds ==null || parm.traceIds==""){
				util.message("请选择小区！");
				return false;
			}
			
			var url = BASE_CONTEXT_PATH+'/wechat-account-item/send-wechat-notify-batch';
			$.post(url, parm, function(res){
				console.log("============================"+res)
				if (res!=null && res!="") {
					if (res.result_code=="success") {
						util.message(res.result_msg,null,"success");
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		
		/**
		 * 	发送短信通知
		 */
		function sendSmsNotifyBatchFn(){
			
			var parm = getSearchArrearsBillParams();
			var customerIdJson = getSelectedAccountItemIds().toString();
			parm.customerIdJson = customerIdJson;
			
			if(parm.period==null || parm.period==""){
				util.message("请选择期间！");
				return false;
			}
			
			if(parm.traceIds ==null || parm.traceIds==""){
				util.message("请选择小区！");
				return false;
			}
			
			var url = BASE_CONTEXT_PATH+'/sms-account-item/send-sms-notify-batch';
			$.post(url, parm, function(res){
				console.log("============================"+res)
				if (res!=null && res!="") {
					if (res.result_code=="success") {
						util.message(res.result_msg,null,"success");
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			});
		}
		function cancel_callback_name(){
			console.log("取消发送短信通知！");
		}

		//-------------------PAGE LOADED READY--------------------

		$(function() {
			//------------init-------------
			//设置账单期间默认值为系统月份
			setBillPeriodDefault();
			//------------------初始化ztree--------------------------------------------------
			locationTree.initTree();  //初始化树.		
			locationTree.setClickOuterFunction(clickZTreeNodeCallback);  //设置外部业务函数
			//地理位置下拉组件初始化
			locationSearcher.init();
			//主页:默认查询(加载默认列表)
			defaultSearchAccountItem();
			
			
			/**
			 * 	绑定客户信息选项卡的click事件
			 */
			$("#account-item-tab").on("click", function(){
				hideAccountItemListTab();
				hideAccountItemDetailTab();//隐藏账单详情信息
			});

			//---------事件绑定--------------
			
			
			/*
				查询按钮CLICK
			*/
			$('#btn-search-bill').on('click', function() {
				locationTree.cancelAllSelectedNode();//取消ztree的选中状态
				advancedSearchParams.reset();//重新高级查询条件
				G_GENERAL_SEARCH = "0";//记录是普通查询还是高级查询
				btnSearchAccountItemClick();
			});
			/*
				绑定高级查询按钮的click事件
			*/
			$('#btn-show-hide-advanced-search').on('click', function() {
				
				showHideAdvancedSearch.toggle();//显示/隐藏高级查询

			});
			
			/*
				查询条件复位按钮CLICK
			*/
			$('#general-search-form .btn-search-bill-reset').on('click', function() {
				$("#general-search-form .search-cond").val("");
				$("#general-search-form .search-cond").focus();  //	获得焦点
	
				$("#general-search-form .location-block").val("");//设置地理位置-小区值为空
				$("#general-search-form .location-building").val("");//设置地理位置-楼号值为空
				$("#general-search-form .location-building").attr("disabled", true);//设置地理位置-楼号不可编辑
				$("#general-search-form .location-unit").val("");//设置地理位置-单元值为空
				$("#general-search-form .location-unit").attr("disabled", true);//设置地理位置-单元不可编辑
	
				$("#general-search-form .settlement-status").val("");//设置抄表类型为空
			});
			
			/**
			 * 	批量发送微信通知
			 */
			$('#send-customer-wechat-notify-batch').on('click', function() {
				var parm = getSearchArrearsBillParams();
				var customerIdJson = getSelectedAccountItemIds().toString();
				parm.customerIdJson = customerIdJson;
				
				if(parm.period==null || parm.period==""){
					util.message("请选择期间！");
					return false;
				}
				
				if(parm.traceIds ==null || parm.traceIds==""){
					util.message("请选择小区！");
					return false;
				}
				
				util.confirm("确认发送微信通知？","0", "sendWechatNotifyBatchFn", "cancel_callback_name")
				
			});
			/**
			 * 	批量发送短信通知
			 */
			$('#send-customer-sms-notify-batch').on('click', function() {
				var parm = getSearchArrearsBillParams();
				var customerIdJson = getSelectedAccountItemIds().toString();
				parm.customerIdJson = customerIdJson;
				
				if(parm.period==null || parm.period==""){
					util.message("请选择期间！");
					return false;
				}
				
				if(parm.traceIds ==null || parm.traceIds==""){
					util.message("请选择小区！");
					return false;
				}
				
				util.confirm("确认发送短信通知？","0", "sendSmsNotifyBatchFn", "cancel_callback_name")
				
			});
			
			/*
				查询条件输入框 KEYUP
			*/
			$('#search-cond').on('keyup', function(event) {
				if(event.keyCode == 13){
					$('#btn-search-bill').trigger("click");
	            }	
			});
			
			/**
			 * 	绑定查询已绑定微信客户复选框的click事件
			 */
			$("#search-bind-wechat-customer").on("click", function(){
				$('#btn-search-bill').trigger("click");
			});
			/**
			 * 	绑定查询未绑定微信客户复选框的click事件
			 */
			$("#search-unbind-wechat-customer").on("click", function(){
				$('#btn-search-bill').trigger("click");
			});
			
			/**
			 * 	绑定批量结算按钮的click事件，用于批量结算
			 */
			$("#btn-batch-settlement-bill").on("click", function(){
				
				//获取用户选择账单ID
				var billIds = getSelectedIds();
				
				
			});
			
			/*
				自动调整树的高度.
			*/
			var tableContainerId = "bill-table-body";
			LocationTreeAdaptive.adaptive(tableContainerId);
			
		});
	</script>

</body>
</html>