<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 批次列表 -->
	<table class="table table-hover table-sm" id="account-item-select-table">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>地理位置</th>
				<th>名称</th>
				<th>余额</th>
				<th>欠费期间</th>
				<th>总欠费金额</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${accountItemList}">
			
				<!-- 条目选择器 -->
				<td>
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.CUSTOMER_ID},data-bind=${item.CUSTOMER_ID}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.CUSTOMER_ID}"></label>
					</div> 
				</td>
				
				<!-- 地理位置 -->
				<td th:text="${item.place}">地理位置</td>
				<!-- 客户名称 -->
				<td th:id="'customer-name-'+${item.CUSTOMER_ID}" th:text="${item.CUSTOMER_NAME}">客户名称</td>
				<!-- 余额 -->
				<td th:text="${item.BALANCE}">客户余额</td>
				<!-- 欠费期间 -->
				<td>
					<span th:each="owePeriod,iterStat: ${item.owePeriodList}" th:remove="tag">
						<span class="badge badge-warning" th:text="${owePeriod}">警告</span>
					</span>
				</td>
				<!-- 欠费总金额 -->
				<td th:text="${item.totalOweAmount}">总欠费金额</td>
				<!-- 操作列 -->
				<td>
					<div class="dropdown">
						<button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">操作</button>
						<div class="dropdown-menu">
							<!-- 余额扣费 -->
							<a class="dropdown-item btn-sm btn-settle-customer-bill-single" th:attr="bind-id=${item.CUSTOMER_ID}, data-is-settled=${item.isSettled}">
								<i class="fa fa-money" aria-hidden="true"></i> <span>余额扣费</span>
							</a>
							<!-- 欠费账单明细 -->
							<a class="dropdown-item btn-sm btn-customer-bill-detail-list" th:attr="bind-id=${item.CUSTOMER_ID}">
								<i class="fa fa-list" aria-hidden="true"></i> <span>欠费账单明细</span>
							</a> 
						</div>
					</div>
				</td>

			</tr>
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">

	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager-settle-bill')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
	

		
		/**
			返回所选条目的 id(每行对应一个唯一的ID)
			@returns   
		 */
		function getSelectedAccountItemIds(){
			var idArr = new Array();
	
			// 扫描用户所选择条目ID
			$(".item-selector").each(function(index, elem) {
				if (this.checked) { // 对于己选条目
					var id = $(this).attr("data-bind"); //
					idArr.push(id);
				}
			}); // end of item-selector
			return idArr;
		}
		//翻页时保存之前选中的数据
		function setCheckBoxSelected(){
			$("#account-item-select-table .item-selector").each(function(){
				
				var surfix = $(this).attr("data-bind");  //item'id
				for (var i=0; i<CUSOTMER_ID_ARR.length; i++) {
					var id = CUSOTMER_ID_ARR[i];
					if(id==surfix){
						$("#account-item-select-table #item-selector-"+id).prop("checked", true);
					}
			    }
			});
			
		}
		
		
		//-----------------page loaded ready------------------
		$(function() {
			setCheckBoxSelected();
			
			/*
				选择/取消选择  当前页记录
				选择单个		 	
			*/
			$("#account-item-select-table .item-selector").on('click', function(e) {
		
				var surfix = $(this).attr("data-bind");  //item'id
				if (this.checked) {			
					CUSOTMER_ID_ARR.push(surfix);
				} 
				else{
					removeSelectSurfix(surfix);
				} 
					
			});
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
						CUSOTMER_ID_ARR.push(surfix);
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
						removeSelectSurfix(surfix);
					});
				} // end of else
			});
			
			//--------------------操作按钮菜单-----------------------------------------------------------------------------------
			$('.btn-settle-customer-bill-single').on('click',function() {
			
				var isSettled = $(this).attr("data-is-settled");
				//TODO 此处是boolean类型的字符串，判断是需要按字符串判断
				if(isSettled=="true"){
					//dialog type: success warning info error,默认为info
					util.message("该用户没有欠费，不需要缴费！",null,"warning");
					return false;
				}
				
				var customerId = $(this).attr("bind-id"); //条目ID
				var period = $(this).attr("period"); //期间
				setCurrEditCustomerId(customerId);//设置当前编辑的账单的客户ID
				
				var url = BASE_CONTEXT_PATH+'/auto-settle-account-item/loadsettleaccountdialog';
				var parms = new Object(); //参数
				parms.customerId = customerId;
				parms.period = period;
				$("#settle-account-dialog").load(url, parms,function(){
					//加载完毕后显示 
					openSettleAccountDialog();//打开结算对话框
				});
			});
			/**
			 * 	查看账单明细
			 */
			$(".btn-customer-bill-detail-list").on('click', function(e) {
				
				var customerId = $(this).attr("bind-id");
				setCurrEditCustomerId(customerId);//设置当前编辑的账单的客户ID
				
				var parms = {"customerId": customerId};
				loadCustomerAccountItemDetailList(parms, function(){
					console.log("客户账单明细查询成功");
					var customerName = $("#customer-name-"+customerId).text();//客户名称
					showCustomerBillDetailListTab(customerName);
				});
			});

		});
		
		function removeSelectSurfix(withholdId){
			for (var i=0; i<CUSOTMER_ID_ARR.length; i++) {
				var id = CUSOTMER_ID_ARR[i];
				if(id==withholdId){
					CUSOTMER_ID_ARR.splice(i,1);//执行后aa.length会减一	
					break;
				}
		    }
		}
		//创建分页组件实例
		var pager=new Pager("pager-settle-bill");
		$(function(){			
			pager.init(loadPageClickPageNum,curr_searchCond);			
		});
	</script>
</body>
</html>