<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 保存抄表员ID -->
	<input type="hidden" id="meter-book-id" value="0" />
	<!-- 批次列表 -->
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<!-- <th>ID</th>
				<th>编码</th> -->
				<th>名称</th>
				<th>厂家</th>
				<th>抄表方式</th>
				<th>表册用户类型</th>
				<th>生成时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${meterBookList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td>
				
				<!-- <td th:text="${item.id}">ID</td>
				<td th:text="${item.code}">编码</td> -->
				<td th:text="${item.name}">名称</td>
				<td th:text="${item.factoryValue}">厂家</td>
				<td th:text="${item.readModeStr}">抄表方式</td>
				<td th:text="${item.bookUserTypeStr}">表册用户类型</td>
				<td th:text="${item.createTimeStr}">生成时间</td>
				<td class="">
					<div class="dropdown">
					    <button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">
					      	操作
					    </button>
					    <div class="dropdown-menu">
							<a class="dropdown-item btn-sm btn-meter-book-select" title="选择表计"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <span>选择表计</span>
							</a>
							<a class="dropdown-item btn-sm btn-meter-book-meter" title="查看表计"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <span>查看表计</span>
							</a>
							<a class="dropdown-item btn-sm modi-meterbook-single" title="编辑"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <span>编辑</span>
							</a>
							<a class="dropdown-item btn-sm del-meterbook-single" title="删除"
								th:attr="bind-id=${item.id}">
								<i class="fa fa-times fa-1x" aria-hidden="true"></i> <span>删除</span>
							</a>
					    </div>
					</div>
				</td>

			</tr>
		</tbody>
	</table>


	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager1')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
	
		/**
		 * 	设置表册ID
		 */
		function setMeterBookId(meterBookId){
			$("#meter-book-id").val(meterBookId);
		}
		/**
		 * 	获取表册ID
		 */
		function getMeterBookId(){
			return $("#meter-book-id").val();
		}
		
		//--------选择表计---------
		/* 
			绑定查看表册按钮的click事件
		*/
		 $(".btn-meter-book-select").on('click',function() {
			var url = BASE_CONTEXT_PATH+'/meter-book/load-meter-book-select-meter-main';
			var parms = new Object();
			var meterBookId = $(this).attr("bind-id"); //条目ID
			setMeterBookId(meterBookId);
			parms.meterBookId = meterBookId;
			$("#meter-book-select").load(url, parms,showMeterBookSelect); //加载完毕后显示 
			
		}); 
	
		//--------查看表册的表计列表---------
		/* 
			绑定查看表册按钮的click事件
		*/
		$(".btn-meter-book-meter").on('click',function() {
			var url = BASE_CONTEXT_PATH+'/meter-book/load-meter-book-meter-main';
			var parms = new Object();
			var meterBookId = $(this).attr("bind-id"); //条目ID
			setMeterBookId(meterBookId);
			parms.meterBookId = meterBookId;
			$("#meter-book-bind-meter").load(url, parms,showMeterBookBindMeter); //加载完毕后显示 
			
		});
	
		/*
			功能说明:
				删除所选条目(通用删除函数)
			参数说明:
				ids:所要删除的条目ID数组,(可使函数更具通用性.)
		*/
		function delBatchItem(ids) {
			var urlStr = BASE_CONTEXT_PATH+"/meter-book/delete"; // 需要提交的url
			
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				contentType : "application/json", // 如果采用json格式传送所有参数时必须有,如果采普通js对象传送时,则不可以加此参数
				//dataType : "html", //	表示返回值类型，不必须,如果返回的是面页，则必须
				data : JSON.stringify(ids),
				success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
					//console.log(res);
					if (res != null && res != "") {
						if (res.result_code == "success") {
							//loadMeterBookTypePage();//加载表册类型页面
							util.message(res.result_msg,null,"success");
							loadPageClickPageNum();
						} else {
							//dialog type: success warning info error,默认为info
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		}
	
		//--------------批量删除-----------------
		
		/*
			批量删除确认
		*/
		function batchDeleteConfirm(){			
			//注: 回调函数需要采用引号引起来
			util.confirm("删除所选择的记录? ", "xxx", "ok_callback_name", "cancel_callback_name")			
		}
		
		/*
			批量删除确认:确认(回调)
		*/
		function ok_callback_name(id){
			var ids=getSelectedIds();  //此函数定义于_table.html中
			delBatchItem(ids);
		}
		
		/*
			批量删除确认:取消(回调)  桩函数
		*/
		function cancel_callback_name(){
			console.log('cancel!');
		}
		
		/**
			返回所选条目的 id(每行对应一个唯一的ID)
			@returns   
		 */
		function getSelectedIds(){
			var idArr = new Array();
	
			// 扫描用户所选择条目ID
			$(".item-selector").each(function(index, elem) {
				if (this.checked) { // 对于己选条目
					var id = $(this).attr("data-bind"); //
					idArr.push(id);
				}
			}); // end of item-selector
			return idArr;
		}
		
		//------------------单个删除------------------
		
		/* 
			单个删除 
		*/
		$('.del-meterbook-single').on('click', function() {
			var itemId = $(this).attr("bind-id"); //分录ID
			//console.log("itemId:" + itemId);
			util.delConfirm("确认删除此条目?", itemId, "deleteSingleCallback");
		})
		
		//单个删除-确认回调函数
		function deleteSingleCallback(itemId){
			var idsArr=new Array();
			idsArr.push(itemId);		
			delBatchItem(idsArr);
		}
				
		
		//--------单个修改---------
		/* 
			加载修改批次对话框 
		*/
		$('.modi-meterbook-single').on('click',function() {
			var url = BASE_CONTEXT_PATH+'/meter-book/load-edit-dialog';

			var itemId = $(this).attr("bind-id"); //条目ID			
			var parms = new Object(); //参数
			parms.itemId = itemId;
			
			$("#engineering-address").removeAttr('click')
			$("#meterbook-dialog-edit").load(url, parms,function(){
				$("#engineering-address").attr("onclick", "");
				//加载完毕后显示 
				openEditDialog();
			}); 
			
		});
		
		//-----------------page loaded ready------------------
		$(function() {
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});

		});
		//创建分页组件实例
		var pager=new Pager("pager1");
		$(function(){			
			pager.init(loadPageClickPageNum,curr_searchCond);			
		});
	</script>
</body>
</html>