<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>Insert title here</title>

<style type="text/css">
.font-color-yellow{
	color: yellow;
}
.font-color-red{
	color: red;
}
.table tbody td{
	/* text-align:center; *//* 设置水平居中 */
	vertical-align:middle;/* 设置垂直居中 */
}
.part-water-rule-class {
max-width: 80px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
</style>

<!-- 图片查看器 CSS,JS -->
<link rel="stylesheet" th:href="@{/viewer/css/viewer.min.css}" />
<script type="text/javascript" th:src="@{/viewer/js/viewer-jquery.min.js}"></script>
 <script th:src="@{/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>

	<!-- 当前所操作的分水量记录ID -->
	<input type="hidden" id="partition-water-id" name="" value="" />
	<!-- 当前所操作的客户ID -->
	<input type="hidden" id="record-customer-id" name="" value="" />
	<!-- 当前所操作的抄表记录ID -->
	<input type="hidden" id="record-ids" name="" value="" />
	<!-- 当前所操作的表计ID -->
	<input type="hidden" id="record-meter-ids" name="" value="" />
	<!-- 当前所操作的期间 -->
	<input type="hidden" id="record-period" name="" value="" />
	<!-- 列表 -->
	<table class="table table-sm table-hover" id="meter-record-table">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>地理位置</th> 
				<th>客户姓名</th> 
				<th>抄表期间</th>
				<th>用水性质</th>
				<th>基本水价</th>
				<th>污水处理费</th>
				<th>总水价</th>
				<th>水量</th>
				<th>水费</th>
				<th>分水量规则</th>
				<th>开账状态</th>
			</tr>
		</thead>
		<tbody>
			<span th:each="item,iterStat: ${partitionWaterMapList}">
			
				<tr>
				
					<!-- 条目选择器 -->
					<td class="">
						
						<div class="custom-control custom-checkbox"
							style="margin-bottom: -1px !important;">
							<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="data-bind-id=${item.ID},id='item-selector'+'-'+${item.ID},data-customer-id=${item.CUSTOMER_ID},data-period=${item.PERIOD}">
							<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.ID}"></label>
						</div> 
					</td>
					<!-- 位置 -->
					<td class="" th:text="${item.place}">位置</td> 
					<!-- 业主姓名 -->
					<td class="" th:text="${item.meterPlace}">业主姓名</td> 
					<!-- 抄表期间-->
					<td class="" th:text="${item.PERIOD}">抄表期间</td>
					
					<!-- 用水性质 -->
					<td th:text="${item.waterUseValue}">用水性质</td>
					<!-- 基本水价-->
					<td th:text="${item.BASE_PRICE}">基本水价</td>
					<!-- 污水处理费 -->
					<td th:text="${item.TREATMENT_FEE}">污水处理费</td>
					<!-- 总水价-->
					<td th:text="${item.WATER_PRICE}">总水价</td>
					<!-- 水量-->
					<td th:text="${item.REAL_WATER_AMOUNT}">水量</td>
					<!-- 水费-->
					<td th:text="${item.WATER_FEE}">水费</td>
					<!-- 分水量规则-->
					<td class="part-water-rule-class">
						<span th:if="${item.partWaterRule!=null && item.partWaterRule!=''}" th:remove="tag">
							<span data-toggle="tooltip" data-placement="top" data-html="true" th:title="${item.partWaterRule}">
								<i class="fa fa-tasks" aria-hidden="true"></i>
							</span>
						</span>
					</td>
					<!-- 开账状态,是否已开账：0=未开账（默认值）；1=已开账-->
					<td>
						<span th:if="${item.IS_MAKE_BILL==0}">
							<span class="badge badge-warning">未开账</span>
						</span>
						<span th:if="${item.IS_MAKE_BILL==1}">
							<span class="badge badge-success">已开账</span>
						</span>
					</td>
				</tr>
			</span>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="font-weight: bold;">统计：</td>
				<td style="font-weight: bold;" th:text="${totalWaterAmount}">总水量</td>
				<td style="font-weight: bold;" th:text="${totalWaterFee}">总水费</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	
	<hr style="height: 1px; border: none; border-top: 1px solid blue;">
	<!-- <table class="table table-sm table-hover">
		<thead>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="font-weight: bold;">统计</td>
				<td style="font-weight: bold;" th:text="${totalWaterAmount}">总水量</td>
				<td style="font-weight: bold;" th:text="${totalWaterFee}">总水费</td>
				<td></td>
				<td></td>
			</tr>
		</thead>	
	</table> -->
	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pager1')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		var curr_readType=[[${readType}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
	
	//------------------------------	设置/获取当前操作的分水量ID、客户ID、抄表记录ID、表计ID、期间	------------------------------
	/**
	 * 	获取当前所操作的分水量记录ID
	 */
	function getPartitionWaterIdFn(){
		return $("#partition-water-id").val();
	}
	/**
	 * 	设置当前所操作的分水量记录ID
	 */
	function setPartitionWaterIdFn(partWaterId){
		$("#partition-water-id").val(partWaterId);
	}
	/**
	 * 	获取当前所操作的客户ID
	 */
	function getCustomerIdFn(){
		return $("#record-customer-id").val();
	}
	/**
	 * 	设置当前所操作的客户ID
	 */
	function setCustomerIdFn(customerId){
		$("#record-customer-id").val(customerId);
	}
	/**
	 * 	获取当前所操作的抄表记录ID
	 */
	function getRecordIdsFn(){
		return $("#record-ids").val();
	}
	/**
	 * 	设置当前所操作的抄表记录ID
	 */
	function setRecordIdsFn(recordIds){
		$("#record-ids").val(recordIds);
	}
	/**
	 * 	获取当前所操作的表计ID
	 */
	function getMeterIdsFn(){
		return $("#record-meter-ids").val();
	}
	/**
	 * 	设置当前所操作的表计ID
	 */
	function setMeterIdsFn(meterIds){
		$("#record-meter-ids").val(meterIds);
	}
	/**
	 * 	获取当前所操作的期间
	 */
	function getPeriodFn(){
		return $("#record-period").val();
	}
	/**
	 * 	设置当前所操作的期间
	 */
	function setPeriodFn(period){
		$("#record-period").val(period);
	}
	
	//-------------------批量删除AJAX请求--------------------------------------------------------------------------------
	/*
		功能说明:
			删除所选条目(通用删除函数)
		参数说明:
			ids:所要删除的条目ID数组,(可使函数更具通用性.)
	*/
	function delBatchItem(delConds) {
		
		console.log(delConds);
				
		var url = BASE_CONTEXT_PATH+"/partition-water/delete"; // 需要提交的url
		var params = new Object();
		params.partWaterIdJSON = JSON.stringify(delConds);
		
		$.post(url, params, function(res){
			//console.log(res);
			if (res != null && res != "") {
				if (res.result_code == "success") {
					loadPageClickPageNum(); //	重新刷新当前页面
				} else {
					//dialog type: success warning info error,默认为info
					util.message(res.result_msg,null,"warning");
				}
			}
		});
	}
	//------------------单个删除------------------
	
	/* 
		单个删除 
	*/
	$('.btn-delete-part-water').on('click', function() {
		
		//是否已开账：0=未开账（默认值）；1=已开账
		var isMakeBill = $(this).attr("data-is-make-bill");
		if(isMakeBill==G_MAKE_BILL_YES){
			//dialog type: success warning info error,默认为info
			util.message("此记录已开账，如果需要删除请先删除账单！",null,"warning");
			return false;
		}
		
		var url = BASE_CONTEXT_PATH+'/partition-water/loadaddsubwaterdialog';

		var partWaterId = $(this).attr("data-bind");//分水量ID
		setPartitionWaterIdFn(partWaterId);//设置当前操作的分水量记录ID

		util.delConfirm("确认删除此条目?", partWaterId, "deleteSingle");
	})
	
	//单个删除-确认回调函数
	function deleteSingle(partWaterId){
		
		var delCondArr=new Array();
		delCondArr.push(partWaterId);
		
		delBatchItem(delCondArr);
	}
	//--------------批量删除-----------------
	
	/*
		批量删除确认
	*/
	function deleteConfirm(){			
		//注: 回调函数需要采用引号引起来
		util.confirm("删除所选择的记录? ", "xxx", "ok_callback_name", "cancel_callback_name")			
	}
	
	/*
		批量删除确认:确认(回调)
	*/
	function ok_callback_name(id){
		var delConds=getSelectedDelConds();  //此函数定义于_table.html中
		delBatchItem(delConds);
	}
	
	/*
		批量删除确认:取消(回调)  桩函数
	*/
	function cancel_callback_name(){
		console.log('cancel!');
	}
	
	/**
	 * 	获取选中的复选框的删除条件
	 * 		一个Array，内容包括客户ID和期间；如：[{"customerId":1, "period":"2019-06"},...]
	 */
	function getSelectedDelConds(){
		var delCondArr = new Array();//包括客户ID和期间

		// 扫描用户所选择条目ID
		$(".item-selector").each(function(index, elem) {
			if (this.checked) { // 对于己选条目
				
				var partWaterId = $(this).attr("data-bind");//分水量ID
				delCondArr.push(partWaterId);
			}
		}); // end of item-selector
		return delCondArr;
	}
	
	/**
	 * 	初始化用户选中的列表复选框，主要针对分页
	 */
	function initSelectedItemId(){
		$("#meter-record-table tbody .item-selector").each(function(e) {
			var id = $(this).attr("data-bind-id");  //item'id
	
			var len = G_SELECTED_PW_ID_ARR.length;
			for(var i=0; i<len; i++){
				if(id==G_SELECTED_PW_ID_ARR[i]){
					$(this).prop("checked", true);
					break;
				}
			}
		});
	}
	
	//------------------------	加载分水量	---------------------------
	/* 
		加载修分水量对话框 
	*/
	$('.btn-partition-water').on('click',function() {
		
		//是否已开账：0=未开账（默认值）；1=已开账
		var isMakeBill = $(this).attr("data-is-make-bill");
		if(isMakeBill==G_MAKE_BILL_YES){
			//dialog type: success warning info error,默认为info
			util.message("此记录已开账，不允许分水量！",null,"warning");
			return false;
		}
		
		var url = BASE_CONTEXT_PATH+'/partition-water/loadpartitiondialog';

		var partWaterId = $(this).attr("data-bind"); //分水量记录ID
		var customerId = $(this).attr("data-customer-id"); //客户ID
		var period = $(this).attr("data-period"); //期间
		var recordIds = $(this).attr("data-record-ids"); //抄表记录ID
		var meterIds = $(this).attr("data-meter-ids"); //表计ID
		
		setPartitionWaterIdFn(partWaterId);//设置当前操作的分水量记录ID
		setCustomerIdFn(customerId);//设置当前操作的客户ID
		setPeriodFn(period);//设置当前操作的期间
		setRecordIdsFn(recordIds);//设置当前操作的抄表记录ID
		setMeterIdsFn(meterIds);//设置当前操作的表计ID
		
		var parms = new Object(); //参数
		parms.partWaterId = partWaterId;
		parms.customerId = customerId;
		parms.period = period;

		$("#partition-dialog-edit").load(url, parms,openPartitionDialog); //加载完毕后显示 
		
	});
	
	/**
	  	打开分水量对话框
	  	@returns
	 */
	function openPartitionDialog() {
		//	可拖拽
		$("#modal-container-partition-dialog").draggable({
			cursor : "move",
			handle : '.modal-header'
		}); 
	
		$('#modal-container-partition-dialog').modal({
			backdrop : 'static',
			keyboard : false
		});
	}

	/* 
		close dialog:关闭分水量对话框
	*/
	function closePartitionDialog() {
		$("#modal-container-partition-dialog").modal("hide");
	}
	
	//--------加载追加减免水量-------------------------------
	/* 
		加载追加减免水量对话框 
	*/
	$('.btn-addsub-water').on('click',function() {
		
		//是否已开账：0=未开账（默认值）；1=已开账
		var isMakeBill = $(this).attr("data-is-make-bill");
		if(isMakeBill==G_MAKE_BILL_YES){
			//dialog type: success warning info error,默认为info
			util.message("此记录已开账，不允许追加/减免水量！",null,"warning");
			return false;
		}
		
		var url = BASE_CONTEXT_PATH+'/partition-water/loadaddsubwaterdialog';

		var partWaterId = $(this).attr("data-bind");//分水量ID
		var customerId = $(this).attr("data-customer-id"); //客户ID
		var period = $(this).attr("data-period"); //期间
		var recordIds = $(this).attr("data-record-ids"); //抄表记录ID
		var meterIds = $(this).attr("data-meter-ids"); //表计ID
		
		setPartitionWaterIdFn(partWaterId);//设置当前所操作的分水量记录ID
		setCustomerIdFn(customerId);//设置当前操作的客户ID
		setPeriodFn(period);//设置当前操作的期间
		setRecordIdsFn(recordIds);//设置当前操作的抄表记录ID
		setMeterIdsFn(meterIds);//设置当前操作的表计ID
		
		var parms = new Object(); //参数
		parms.partWaterId = partWaterId;
		//parms.customerId = customerId;
		//parms.period = period;
		//parms.recordIds = recordIds;

		$("#addsub-water-dialog").load(url, parms,openAddsubWaterDialog); //加载完毕后显示 
		
	});
	
	/**
	  	打开追加减免水量对话框
	  	@returns
	 */
	function openAddsubWaterDialog() {
		//	可拖拽
		$("#modal-container-addsub-dialog").draggable({
			cursor : "move",
			handle : '.modal-header'
		}); 
	
		$('#modal-container-addsub-dialog').modal({
			backdrop : 'static',
			keyboard : false
		});
	}

	/* 
		close dialog:关闭追加减免水量对话框
	*/
	function closeAddsubWaterDialog() {
		$("#modal-container-addsub-dialog").modal("hide");
	}
	
	
	//-----------------page loaded ready------------------
	$(function() {
		 $('[data-toggle="tooltip"]').tooltip();   
		//----------	init	----------
		//initSelectedItemId();//初始化用户选中的列表复选框，主要针对分页
		
		/**
		 * 	绑定列表中复选框的click事件，验证用户是否选择记录
		 */
		$("#meter-record-table tbody .item-selector").on('click', function(e) {
			var id = $(this).attr("data-bind-id");  //item'id
	
			//如果用户已选择记录，则把记录ID增加到分水量ID数组，批量确认时用到此处的ID
			if(this.checked) {					
				G_SELECTED_PW_ID_ARR.push(id);
			}else{//如果用户取消选择记录，则把记录ID从分水量ID数组中删除
				var len = G_SELECTED_PW_ID_ARR.length;
				for(var i=0; i<len; i++){
					if(id==G_SELECTED_PW_ID_ARR[i]){
						G_SELECTED_PW_ID_ARR.splice(i,1);
						break;
					}
				}
			}
			//console.log("需要开账的分水量ID："+G_SELECTED_PW_ID_ARR);
		});
		
		/*
			选择/取消选择  当前页记录
			select all  or  deselect all			 	
		*/
		$("#select-all-toggle").on('click', function(e) {
			var prefix = "item-selector-";
	
			if (this.checked) {					
				//查询列表中的项目
				$(".item-selector").each(function(index, elem) {
					this.checked = true;
					var surfix = $(this).attr("data-bind");  //item'id
					var rowId = prefix + surfix; 
					$('#' + rowId).addClass("selected");
				});
			} 
			else{
				$(".item-selector").each(function(index, elem) {
					this.checked = false;
					var surfix = $(this).attr("data-bind");
					var rowId = prefix + surfix;
					$('#' + rowId).removeClass("selected");
				});
			} // end of else
		});


	});
	//创建分页组件实例
	var pager=new Pager("pager1");
	$(function(){			
		pager.init(loadPageClickPageNum,curr_searchCond);			
	});
</script>
</body>
</html>