<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主界面</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/metroStyle/metroStyle.css}">
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/custom.css}">
<!-- JS Scripts-->
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript"	th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script>

<!-- 正则表达式验证 -->
<script src="/jquery/jquery-validation/jquery.validate.min.js"></script>
<script src="/jquery/jquery-validation/messages_zh.js"></script>
<!-- 文件上传验证JS -->
<script src="/commons/file-upload-validate.js" type="text/javascript"></script>
<!-- ajax file upload js -->
<script src="/jquery/ajaxFileUpload.js" type="text/javascript"></script>
<!-- 日期组件 -->
<script src="/calendar/WdatePicker.js" type="text/javascript"></script>

<link rel="stylesheet"	href="/css/meterbody.css" />
<link rel="stylesheet"	href="/css/commform.css" />
<link rel="stylesheet"	href="/css/searchpanel.css" />

</head>
<body>
	
	<!-- 用于保存客户点击详情按钮的表计ID -->
	<input type="hidden" id="g-edit-meter-id" value="0" placeholder="用于保存客户点击详情按钮的表计ID" />
	
	<!-- 主界面(操作页板+列表容器) -->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<!-- 操作面板 -->
			<div class="" style="display: inline-block" id="div-search">
				<ul class="extra-l" style="list-style: none; padding-inline-start: 20px;">
				
					<!-- 面板:查询 -->
					<li class="input-group-sm">
						<input type="text" class="form-control search-cond" id="search-cond" placeholder="水表编号、钢印号、水表位置、厂家等" title="请输入水表编号、钢印号、水表位置、厂家等查询">
					</li>
					<!-- 查询按钮 -->
					<li>
						<button type="button" class="btn btn-success btn-sm btn-search"	id="btn-search">
							<i class="fa fa-search" aria-hidden="true"> <span>查询</span>	</i>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-warning btn-sm btn-search-reset"	id="btn-search-reset">
							<i class="fa fa-undo" aria-hidden="true"> <span>清除</span></i>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12">
		
			<div class="row clearfix">
				<div class="col-md-12 column" style="padding-left:1px;">
					<div class="card">
						<!-- <h5 class="card-header">
							客户档案
						</h5> -->
						<div class="card-body meters-table" id="meters-body" style="padding-left:10px;padding-right:10px;">
							<!-- 表计列表 -->
						</div>
					</div>
				</div>
				
			</div>
		</div>
			
		<hr style="height:1px;border:none;border-top:1px solid blue;">
			
	</div>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/
			//var zNodes = [[${meterListJson}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
	
		/**
		 * 	隐藏客户信息、表计信息
		 */
		function hideOtherTabs(){
			$("#tabs-meter").hide();//隐藏详情信息选项卡
		}
		
		function showOtherTabs(){
			$("#tabs-meter").show();//显示详情信息选项卡
		}
	
		
		/* 
			加载表计档案信息
		 */
		function loadMetersList(parms, callback) {
			//加载表计档案详细信息
			var url = BASE_CONTEXT_PATH + "/meter-receive/detail-table"
			var callbackFunc = callback;
			var containerId = "#tab-meter-detail";
			loadPage(containerId, url, parms, callbackFunc);
		} 
		
		$(function(){
			hideOtherTabs();
		});
		
		/**
		 * 	获取用户当前编辑的表计ID
		 */
		function getMeterIdFn(){
			return $("#g-edit-meter-id").val();
		}
		/**
		 * 	设置用户当前编辑的表计ID
		 */
		function setMeterIdFn(meterId){
			return $("#g-edit-meter-id").val(meterId);
		}
		
		
		
		//---------- 加载表计档案详细信息 ------------------------		
		/**
		 * 	重新加载表计档案详情信息
		 */
		function reloadMeterDetailTable(){
			var selectedTreeNode = getSelectedTreeNodeFn();//获取当前选择的节点（如果当前节点有子节点则包含子节点信息）
			if(selectedTreeNode==null){
				getMeterDetailTable(null);//加载表计档案详细信息
			}else{
				getMeterDetailTable(selectedTreeNode.id);//加载表计档案详细信息
			}
		}
		
		//---------- 重置form表单 ------------------------
		/*
		 * 重置form表单
		 */
		function resetFun(){
			var pid = $("#meters-pid").val();//父类型ID
			$(":input","#dialog-edit-form")  
				.not(":button, :submit, :reset")  
				.val("");
			$("#meters-pid").val(pid);//父类型ID
			$("#meters-pid").trigger("change");
		}
		
		//---------- 重新加载表计档案树状结构 ------------------------
		/*
		 * 	重新加载表计档案树状结构
		 */
		function reloadInfoFun(){
			//操作成功后重新加载
			var href = "/meter-receive/starter";
			location.href = href;//重新加载页面
		}
		
		//--------------------公共查询函数--------------------------
		/*	
			公共查询函数
			
			查询核对类型列表
		*/
		function search(parms) {
			//加载字典列表页面
			var url = BASE_CONTEXT_PATH + "/meter-receive/table"
			$(".meters-table").load(url, parms, triggerResize);
		}
		
		function triggerResize(){
			var myEvent = new Event('resize');
	        window.dispatchEvent(myEvent);
		}
		
		/**
		 * 	获取查询参数（不包括分页信息）
		 */
		function getSearchParams(){
			//地理位置痕迹ID（ID-ID-ID-ID）
			var traceIds = null;
			var searchCond=$("#div-search .search-cond").val();
			//初始化请求参数
			var parms = new Object();
			parms.searchCond=searchCond;
			parms.traceIds=traceIds;
			return parms;
		}
		

		//---------------------------------------------
		
		/*
			默认查询
			Retrieve(default)查询(加载默认列表)
		*/
		function defaultSearch() {
			
			var pageNum = 0;
			var pageSize = 0;
			//获取参数
			var parms = null;
			parms = getSearchParams();//获取普通查询参数（不包括分页信息）
			
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			search(parms);
		}
		
		/*
			查询按钮点击时调用
			采用用户所输入的查询条件进行查询.
		*/
		function btnSearchClick() {
			var pageNum = 0;
			var pageSize = 0;
			
			var parms = getSearchParams();//获取查询参数（不包括分页信息）
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			search(parms);
		}

		/*
			分页查询(采用所保存的状态)
		*/
		function loadPageClickPageNum(searchCond,pageNum,pageSize) {
			var parms = null;
			parms = getSearchParams();//获取普通查询参数（不包括分页信息）
			parms.pageNum=pageNum;
			parms.pageSize=pageSize;

			search(parms);
			
		}
		
		
		$(function(){
			
			
			//主页:默认查询(加载默认列表)
			defaultSearch();
			
			
			/*
				查询按钮CLICK
			*/
			$('#div-search .btn-search').on('click', function() {
				defaultSearch();//查询客户账单
			});
			
			/*
				查询条件复位按钮CLICK
			*/
			$('#div-search .btn-search-reset').on('click', function() {
				//查询输入框设置为null且获取光标
				$("#div-search .search-cond").val("");
				$("#div-search .search-cond").focus();//获得焦点
				
			});
			
			/*
				查询条件输入框 KEYUP
			*/
			$('#div-search .search-cond').on('keyup', function(event) {
				if(event.keyCode == 13){
					$('#div-search .btn-search').trigger("click");	                
	            }	
			});
			
			
		});
	</script>

</body>
</html>