<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<!-- 修改对话框 -->
<body>

	<th:block th:fragment="dialog">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="modal fade" id="modal-container-meters-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				
					<div class="modal-dialog modal-lg">
					
						<div class="modal-content">
						
							<!-- 头部 -->
							<div class="modal-header" style="background-color: #a5f1b6;height: 50px;">
								<h5 class="modal-title" id="myModalLabel">
									<span th:text=${title}>编辑:表计档案</span>
									<i class="fa fa-tags fa-1x" aria-hidden="true" style="color:blue;"></i>
								</h5>
								<button type="button" class=" btn btn-primary btn-sm close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>

							<!-- 主体(用于展示表单) -->
							<div class="modal-body">
								<form class="form-horizontal " role="form" id="dialog-edit-form">
									
									<!-- 当前所编辑的条目ID -->
									<input type="hidden" id="meters-id" name="id" th:value="${currItem==null ? '' : currItem.id}" />
									
									<!-- 表单内容 -->
									<!-- form-inline -->
																		
									<!-- 采用表格进行布局 -->
									<!-- 配置费规则部分 -->
									<table class="table-layout table">
										<tbody>
											<tr>
												<td>
													<!-- 水表口径 -->
													<div class="form-group form-inline">
														<label for="meters-name" class="col-sm-4 control-label">水表口径&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="meters-caliber" name="caliber" th:value="${currItem==null ? '' : currItem.caliber}" required>
																<!-- 默认选择第一个 -->
																<option value="" >-请选择-</option>
																<span th:each="item,iterStat: ${waterCaliberList}" th:remove="tag">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.caliber ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
																
															</select>
														</span>
														
													</div>
												</td>
												<td>
													<!-- 水表编号 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表编号&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.meterNo}" 
																	id="meters-meter-no" name="meterNo" 
																	maxlength=20 title="请输入1-20个字符" placeholder="水表编号" required/>
														</span>
													</div>
												</td>	
			
																						
											</tr>
											<tr>
												<td>
													<!--水表类型-->
													<div class="form-group form-inline">
														<label for="meters-name" class="col-sm-4 control-label">水表类型&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="meters-meter-type" name="meterType" th:value="${currItem==null ? '' : currItem.meterType}" required>
																<!-- 默认选择第一个 -->
																<option value="" >-请选择-</option>
																<span th:each="item,iterStat: ${meterTypeList}" th:remove="tag">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.meterType ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
																
															</select>
														</span>
													</div>
												</td>		
												<td>
													<!-- 水表型号 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表型号&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="meters-meter-model" name="meterModel" th:value="${currItem==null ? '' : currItem.meterModel}" required>
																<!-- 默认选择第一个 -->
																<option value="">-请选择-</option>
																<span th:each="item,iterStat: ${meterModelList}" th:remove="tag">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.meterModel ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
																
															</select>
														</span>
													</div>
												</td>
											</tr>
											
											<tr>
												<td>
													<!-- 水表钢印号 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表钢印号 </label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.steelSealNo}" 
																	id="meters-steel-seal-no" name="steelSealNo" 
																	maxlength=20 title="请输入1-20个字符" placeholder="水表钢印号 "/>
														</span>
													</div>	
												</td>
												<td>
													<!-- 水表检定证书编号 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表检定证书编号</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.certificateNo}" 
																	id="meters-certificate-no" name="certificateNo" 
																	maxlength=30 title="请输入1-30个字符" placeholder="水表检定证书编号"/>
														</span>
													</div>
												</td>
											
												
											</tr>
											<tr>
												<td>
													<!-- 水表检定日期-->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表检定日期</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control Wdate"
																	id="meters-check-date" name="checkDate"		
																	th:value="${currItem==null ? '' : currItem.checkDateStr}"				
																	onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
																	placeholder="水表检定日期" style="background-color: white;" title="水表检定日期">
														</span>
													</div>
												</td>
												<td>
													<!-- 水表有效日期-->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表有效日期</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control Wdate"
																	id="meters-effective-date" name="effectiveDate"		
																	th:value="${currItem==null ? '' : currItem.effectiveDateStr}"				
																	onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: setBackGround});"
																	placeholder="水表有效日期" style="background-color: white;" title="水表有效日期">
														</span>
													</div>
												</td>
												
											</tr>
											<tr>
												<td>
													<!-- 水表厂家 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表厂家&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="meters-factory" name="factory" th:value="${currItem==null ? '' : currItem.factory}" required>
																<!-- 默认选择第一个 -->
																<option value="" >-请选择-</option>
																<span th:each="item,iterStat: ${factoryList}" th:remove="tag">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.factory ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
																
															</select>
														</span>
													</div>          
 												</td>
												
												<td>
													<!-- 新表表底数 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">新表表底 </label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.newMeterBottom}" 
																	id="meters-new-meter-bottom" name="newMeterBottom" 
																	maxlength=20 title="请输入1-20个字符" placeholder="新表表底数  "/>
														</span>
													</div>	
												</td>
												<!-- <td>
													轮换上限
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">轮换上限</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.upperLimit}" 
																	id="meters-upper-limit" name="upperLimit" 
																	maxlength=10 title="请输入1-10个字符" placeholder="轮换上限"/>
														</span>
													</div>
												</td> -->
											</tr>
											
											<tr>
												
												<td>
													<!-- 水表用途 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">水表用途&nbsp<i style="color: red">*</i></label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="meters-meter-use" name="meterUse" th:value="${currItem==null ? '' : currItem.meterUse}" required>
																<!-- 默认选择第一个 -->
																<option value="" >-请选择-</option>
																<span th:each="item,iterStat: ${meterUseList}" th:remove="tag">
																	<option th:value="${item.key}"  th:attr="selected=${currItem!=null && item.key==currItem.meterUse ? 'true':'false'}"
																			th:text="${item.value}">数据字典的值</option>
																</span>
																
															</select>
														</span>
													</div>
												</td>
												<td>
													<!-- 备注-->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">备注</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.remark}" 
																	id="meters-remark" name="remark" 
																	maxlength=100 title="请输入1-100个字符" placeholder="备注"/>
														</span>
													</div>
												</td>
											</tr>
											
											<tr>
												<td>
													<!-- 采集器地址 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">采集器地址</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.collectorAddr}" 
																	id="meters-bluetooth-name" name="collectorAddr" 
																	maxlength=20 title="请输入1-20位字符" placeholder="采集器地址"/>
														</span>
													</div>
												</td>
												<td>
													<!-- 表地址 -->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">表地址</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.meterAddress}" 
																	id="meters-meter-address" name="meterAddress" 
																	maxlength=50 title="请输入1-10个字符" placeholder="表地址"/>
														</span>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<!-- 生命周期状态 -->
													<div class="form-group form-inline">
														<label for="meters-cycle-status" class="col-sm-4 control-label">状态 </label>
														<span class="input-group-sm col-sm-8">
															<select class="form-control" id="meters-cycle-status" name="cycleStatus" th:value="${currItem==null ? '' : currItem.cycleStatus}">
																<!-- 默认选择第一个 -->
																<option value="0" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==0} )? 'selcted' ">待用</option>
																<!-- <option value="1" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==1} )? 'selcted' ">领用</option>	
																<option value="2" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==2} )? 'selcted' ">待启用</option>
																<option value="3" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==3} )? 'selcted' ">使用中</option>	
																<option value="4" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==4} )? 'selcted' ">待检测</option>
																<option value="5" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==5} )? 'selcted' ">检测中</option>	
																<option value="6" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==6} )? 'selcted' ">待检修</option>
																<option value="7" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==7} )? 'selcted' ">检修中</option>	
																<option value="8" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==8} )? 'selcted' ">报废</option>
																<option value="9" th:attr="selected=( ${currItem!=null && currItem.cycleStatus==9} )? 'selcted' ">退库</option>	 -->
															</select>
														</span>
													</div>
												</td>
												<td>
													<!-- 描述-->
													<div class="form-group form-inline">
														<label for="meters-description" class="col-sm-4 control-label">描述</label>
														<span class="input-group-sm col-sm-8">
															<input type="text" class="form-control"
																	th:value="${currItem==null ? '' : currItem.description}" 
																	id="meters-description" name="description" 
																	maxlength=100 title="请输入1-100个字符" placeholder="描述"/>
														</span>
													</div>
												</td>
											</tr>
											
										</tbody>
									</table>
																											
								</form>
							</div>

							<!-- 尾部 -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"	data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"	id="btn-modify-and-back">保存&返回</button>
							</div>
							
						</div>

					</div>

				</div>

			</div>
		</div>
	<!-- 选择地理位置页面 -->
	<div th:include="meters/location_select" th:remove="tag"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var curr_item=[[${currItem}]];
			var title=[[${title}]];
		/*]]>*/
	</script>

	<script>
		
		/**
		 * 	保存条目
		 * 	closeDialogFlag:是否关才对话框标志  true:
		 * 	@returns
		 */
		function save(closeDialogFlag) {
			//需要提交的url	
			var urlStr = BASE_CONTEXT_PATH + "/meter-storage/insert";
			
			var metersId= $("#meters-id").val();
			if(metersId!=null && metersId!=""){
				urlStr = BASE_CONTEXT_PATH + "/meter-storage/update";
			}
			var form=new FormData($("#dialog-edit-form")[0]);
			$.ajax({
				type : "POST", // 提交方式 get/post
				url : urlStr,
				processData:false,
         		contentType:false,
				data : form,
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					//console.log(res);  //	由于后端返回的是JSON对象,所以不必再进行转换. 
					if (res != null && res != "") {
						if (res.result_code == "success") {
							closeEditDialog();//关闭对话框
							loadPageClickPageNum();//加载当前页
							util.message(res.result_msg,null,"success");
						} else {
							util.message(res.result_msg,null,"warning");
						}
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					util.message("AJAX请求时发生错误!");
				}
			});
		 }
		/*
			设置input背景色
		*/
		function setBackGround() {
			$("#meters-check_date").css("background-color", "white");
		}
		function setBackGround() {
			$("#customers-effective_date").css("background-color", "white");
		}
		
		$.validator.setDefaults({//验证成功后，保存数据
		    submitHandler: function() {
		    	save(true);
		    }
		});
		//--------------------page loaded ready-----------------------
		$(function() {

			//---------------click event process binding---------------
			$("#dialog-edit-form").validate({//设置正则验证
			    rules: {
			        propEmail: {
			          required: true,
			          email: true
			        },
			      },
			      messages: {
			        propEmail: "请输入一个正确的邮箱",
			       }
			      }); 
			/*
				修改对话框-保存按钮-CLICK
				保存所修改的条目
			*/
			$('#btn-modify-and-back').on('click',function() {
				$("#dialog-edit-form").submit();
					
			});

		});
	</script>
	
	
	</th:block>
	
</body>
</html>