<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<!-- 修改对话框 -->
<body>
	
	<!-- 普通发票冲红 -->
	<form class="form-horizontal tax-general-invocie-red-form" role="form" id="tax-general-invocie-red-form" >
		<!-- 采用表格进行布局 -->
		<table class="table-layout table">
			<tbody id="overdue-fine-body">
				<tr>
					<td style="width:50%">
						<div class="form-group form-inline">
							<label for="" class="col-sm-4 control-label" style="display: inline-block; text-align:right;">红字发票代码&nbsp<i style="color: red">*</i></label>
							<span class="input-group-sm col-sm-8">
								<input type="text" class="form-control"
										 placeholder="红字发票代码" maxlength="50"
										id="tax-red-info-hzfpdm" name="hzfpdm" required/>
							</span>
						</div>
					</td>
					<td style="width:50%">
						<div class="form-group form-inline">
							<label for="" class="col-sm-4 control-label" style="display: inline-block; text-align:right;">红字发票号码&nbsp<i style="color: red">*</i></label>
							<span class="input-group-sm col-sm-8">
								<input type="text" class="form-control"
										 placeholder="红字发票号码" maxlength="50"
										id="tax-red-info-hzfphm" name="hzfphm" required/>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="form-group form-inline">
							<label for="" class="control-label col-sm-2" style="display: inline-block; text-align:right;">冲红说明&nbsp<i style="color: red">*</i></label>
							<textarea rows="3" cols="1" class="form-control" 
									id="tax-red-info-sqsm" name="sqsm" style="width:610px; margin-left: 15px; resize: none"
									maxlength=200 title="冲红说明必填"  placeholder="冲红说明" required></textarea>
						</div>
					</td>
				</tr>
				<tr>
					<td style="width:50%">
						<div class="form-group form-inline">
							<label for="" class="col-sm-4 control-label" style="display: inline-block; text-align:right;">冲红日期&nbsp<i style="color: red">*</i></label>
							<span class="input-group-sm col-sm-8">
								<input type="text" class="form-control input-sm Wdate"
										id="tax-red-info-tkrq" name="tkrq"		
										th:value="${tkrq}"				
										onClick="WdatePicker({dateFmt:'yyyy-MM-dd', isShowClear:false});"
										placeholder="冲红日期" style="background-color: white;" title="冲红日期 " required>
							</span>
						</div>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td colspan="2"><hr style="width:100%; text-align:center;vertical-align:middle; margin-top: 3px; margin-bottom: 8px"/></td> 
				</tr>
				
				<tr>
					<td>
						<div class="form-group form-inline">
							<label for="" class="col-sm-4 control-label" style="display: inline-block; text-align:right;">原有发票代码</label>
							<span class="input-group-sm col-sm-8">
								<input type="text" class="form-control" readonly="readonly"
										th:value="${currItem.fpdm}" placeholder="原有发票代码"
										id="tax-red-info-dylpdm" name="dylpdm" />
							</span>
						</div>
					</td>
					<td>
						<div class="form-group form-inline">
							<label for="" class="col-sm-4 control-label" style="display: inline-block; text-align:right;">原有发票号码</label>
							<span class="input-group-sm col-sm-8">
								<input type="text" class="form-control" readonly="readonly"
										th:value="${currItem.fphm}" placeholder="原有发票号码"
										id="tax-red-info-dylphm" name="dylphm" />
							</span>
						</div>
					</td>
				</tr>
				
			
				
			</tbody>
		</table>
	
	</form>



</body>
</html>