<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 批次列表 -->
	<table class="table table-striped table-hover table-sm">
		<thead>
			<tr>
				<th>
					<!-- <input type="checkbox" class="select-all-toggle"> -->
					
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="select-all-toggle" name="example1"> <label
							class="custom-control-label" for="select-all-toggle"></label>
					</div>
				</th>
				<th>地理位置</th> 
				<th>客户名称</th>
				<th>期间</th>
				<th>账单金额</th>
				<th>违约金金额</th>
				<th>往期欠费金额</th>
				<th>欠费月份</th>
				<th>欠费总金额</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,iterStat: ${accountItemList}">
			
				<!-- 条目选择器 -->
				<td>
					
					<div class="custom-control custom-checkbox"
						style="margin-bottom: -1px !important;">
						<input type="checkbox" class="custom-control-input item-selector" name="example1" th:attr="id='item-selector'+'-'+${item.id},data-bind=${item.id}">
						<label class="custom-control-label"	th:attr="for='item-selector'+'-'+${item.id}"></label>
					</div> 
				</td>
				
				<!-- 地理位置 -->
				<td th:text="${item.meterPlace}">地理位置</td>
				<!-- 客户名称 -->
				<td th:text="${item.place}">客户名称</td>
				<!-- 期间-->
				<td th:text="${item.period}">期间</td>
				<!-- 账单金额 -->
				<td th:text="${item.oweAmount}">账单金额</td>
				<!-- 违约金金额 -->
				<td th:text="${item.overdueOweAmount}">违约金总金额</td>
				<!-- 往期欠费 -->
				<td th:text="${item.pastOweAmount}">往期欠费</td>
				<!-- 欠费月份 -->
				<td>
					<span th:each="pastPeriod,stat: ${item.pastPeriodList}" th:remove="tag">
						<span class="badge badge-pill badge-warning" th:text="${pastPeriod}">警告</span>
					</span>
				</td>
				<!-- 欠费总金额 -->
				<td th:text="${item.totalOweAmount}">欠费总金额</td>
				<!-- 操作列 -->
				<td>
					<!-- 打印水费通知单 -->
					<button type="button" class="print-pdf-single btn btn-secondary btn-sm"
						th:attr="bind-id=${item.id}">
						<i class="fa fa-print" aria-hidden="true"></i> <span>打印</span>
					</button> 
					<!-- 预览 -->
					<button type="button" class="generate-notice-single btn btn-secondary btn-sm "
						th:attr="bind-id=${item.id}, data-period=${item.period}, data-place=${item.place}">
						<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <span>预览</span>
					</button> 
				</td>

			</tr>
		</tbody>
	</table>

	<hr style="height: 1px; border: none; border-top: 1px solid blue;">

	<!-- 加入分页 -->
	<div th:include="common/common_pager_pagesize::pager('pagerCompany')" class="pagerx"
		style="float: right; margin-right: 10px;"></div>	
	<!-- 分页组件JS -->
	<script src="/js/pager/Pagers.js" type="text/javascript"></script>

	<!--  -->
	<script th:inline="javascript">
		/*<![CDATA[*/		
		var curr_pageNum=[[${pageNum}]];
		var curr_pageSize=[[${pageSize}]];
		var curr_searchCond=[[${searchCond}]];
		/*]]>*/
	</script>


	<script type="text/javascript">
	
	/*
		批量打印
	*/
	function printConfirm(meterId){			
		
		var parms = new Object();
		parms.meterId=meterId;
		var url = BASE_CONTEXT_PATH+"/print-company/loadPrinterDialog"; // 需要提交的url
		$("#print-dialog").load(url,parms,showPrinterDialog);		
	}

	/*
		打开(Open)打印机对话框
	*/
	function showPrinterDialog(){
		$("#modal-container-print-dialog").draggable({
			cursor : "move",
			handle : '.modal-header'
		}); 
	
		$('#modal-container-print-dialog').modal({
			backdrop : 'static',
			keyboard : false
		});
	}
	
	/* 
		关闭(CLOSE) 打印机对话框
	*/
	function closePrinterDialog() {
		$("#modal-container-print-dialog").modal("hide");
	}
	
	/*
		参数:
			printerId: 打印机id
		功能:
			开始打印瓶签
	*/
	function startPrintBottleLabel(printerId, meterId, noticeDate, chargePeople, paperSize){
		var parms = getSearchParams();
		var period = getPeriod();
		var meterIdArr = getSelectedIds();
		parms.printerId=printerId;
		parms.period=period;
		parms.paperSize=paperSize;
		parms.chargePeople=chargePeople;
		parms.noticeDate=noticeDate;
		parms.meterIdStr = meterIdArr.toString();
		//parms.waterPrice=waterPrice;
		if(meterId==null || meterId ==""){
			if(meterIdArr.length<0){
				if(parms.locaUnitTraceIds == null || parms.locaUnitTraceIds== ""){
					util.message("请选择地理位置到单元");
					return false;
				}
				if(period == null || period== ""){
					util.message("请选择期间");
					return false;
				}
			}
			
			if(!G_COMBINE_PRINT){//如果点击的不是合并打印
				printCompanyBatch(parms); 
			} else {
				printCompanyCombine(parms); 
			}
			
			
		} else{
			printCompanySingle(meterId,printerId, period, noticeDate, chargePeople, paperSize);  // 单个打印单位用户的通知单
		}
		
		
	}
	
	/*
	功能:
		批量打印单位用户的水费通知单
	参数:
		accountItemIds:账单ID
		printerId:打印机ID
	*/
	function printCompanySingle(meterId,printerId, period, noticeDate, chargePeople, paperSize){
		var url = BASE_CONTEXT_PATH+"/print-company/printCompanySingle"; // 需要提交的url
		$.ajax({
			type : "POST", // 提交方式 get/post
			url : url,
			data : {"meterId":meterId,"period":period,"printerId":printerId,"noticeDate":noticeDate,"chargePeople":chargePeople,"paperSize":paperSize},
			success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
				if (res != null && res != "") {
					if (res.result_code == "success") {
						closePrinterDialog();
						util.message(res.result_msg,null,"info");
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				util.message("AJAX请求时发生错误!");
			}
		});				
	}
	
	/*
	功能:
		单个打印单位用户的水费通知单
	参数:
		accountItemIds:账单ID
		printerId:打印机ID
	*/
	function printCompanyBatch(parms){
		var url = BASE_CONTEXT_PATH+"/print-company/printCompanyBatch"; // 需要提交的url
		$.ajax({
			type : "POST", // 提交方式 get/post
			url : url,
			data : parms,
			success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
				if (res != null && res != "") {
					if (res.result_code == "success") {
						closePrinterDialog();
						util.message(res.result_msg,null,"info");
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				util.message("AJAX请求时发生错误!");
			}
		});				
	}
	
	/*
	功能:
		合并打印同一用户的表计
	参数:
		accountItemIds:账单ID
		printerId:打印机ID
	*/
	function printCompanyCombine(parms){
		var url = BASE_CONTEXT_PATH+"/print-company/printCompanyCombine"; // 需要提交的url
		$.ajax({
			type : "POST", // 提交方式 get/post
			url : url,
			data : parms,
			success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
				if (res != null && res != "") {
					if (res.result_code == "success") {
						closePrinterDialog();
						util.message(res.result_msg,null,"info");
					} else {
						util.message(res.result_msg,null,"warning");
					}
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				util.message("AJAX请求时发生错误!");
			}
		});				
	}
	
	
	/**
		返回所选条目的 id(每行对应一个唯一的ID)
		@returns   
	 */
	function getSelectedIds(){
		var idArr = new Array();
	
		// 扫描用户所选择条目ID
		$(".item-selector").each(function(index, elem) {
			if (this.checked) { // 对于己选条目
				var meterId = $(this).attr("data-bind"); //
				idArr.push(meterId);
			}
		}); // end of item-selector
		return idArr;
	}
	
	//------------------单个打印------------------
	
	/* 
		单个打印
	*/
	$('.print-pdf-single').on('click', function() {
		var itemId = $(this).attr("bind-id"); //分录ID
		var idsArr=new Array();
		idsArr.push(itemId);	
		
		printConfirm(itemId);
	})
	
	
	
	/*
		操作-预览按钮
	*/
	$('.generate-notice-single').on('click',function(){	
		
		var period = $(this).attr("data-period");
		var meterId = $(this).attr("bind-id");
		var place = $(this).attr("data-place");
		
		previewPrepare(meterId,period, place);
			
	});
	
	/*
		功能:
			btn-pdf-preview
			PDF 预览
		参数:			
			bottleLabelSerialNo:瓶签序号
			pageNo:页码(注:自1开始计数)
	*/
	function preview(period,place){
		var curWwwPath=window.document.location.href;
		var pathName=window.document.location.pathname;
		var pos=curWwwPath.indexOf(pathName);
		var localhostPath=curWwwPath.substring(0,pos);
		
		var attachmentUrl="";
		var pdfFileName=place+"_"+period+".pdf";
		
		var url="/pdfjs/web/viewer.html?file=";
		var parms="/preview?fileName%3D";   //"%3D"即是 =  的URL编码
		
		
		console.log("PDF FILE NAME IS:"+pdfFileName);
		console.log("url is:"+ localhostPath+url+attachmentUrl + "/preview?fileName%3D"+pdfFileName);
		
		window.open(localhostPath+url+attachmentUrl + "/preview?fileName%3D"+pdfFileName,"new window");
	
	};
	
	/*
		功能:
			预览准备.
		参数:
			druglistId:药贴ID
	*/
	function previewPrepare(meterId,period, place){
		var urlStr = BASE_CONTEXT_PATH+"/print-company/previewPrepare"; // 需要提交的url
		$.ajax({
			type : "POST", // 提交方式 get/post
			url : urlStr,
			data : {meterId,period,place},
			success : function(res) { // res 保存提交后返回的数据，一般为 json对象(与后台相关.)
				console.log(res);
				if (res != null && res != "") {
					if (res.result_code == "success") {
						preview(period, place);  //预览
					} else {
						util.message("生成PDF时发生错误",null,"warning");
					}
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				util.message("AJAX请求时发生错误!");
			}
		});
	}
	
		
				
		
		//-----------------page loaded ready------------------
		$(function() {
			
			/*
				选择/取消选择  当前页记录
				select all  or  deselect all			 	
			*/
			$("#select-all-toggle").on('click', function(e) {
				var prefix = "item-selector-";
		
				if (this.checked) {					
					//查询列表中的项目
					$(".item-selector").each(function(index, elem) {
						this.checked = true;
						var surfix = $(this).attr("data-bind");  //item'id
						var rowId = prefix + surfix; 
						$('#' + rowId).addClass("selected");
					});
				} 
				else{
					$(".item-selector").each(function(index, elem) {
						this.checked = false;
						var surfix = $(this).attr("data-bind");
						var rowId = prefix + surfix;
						$('#' + rowId).removeClass("selected");
					});
				} // end of else
			});

		});
		//创建分页组件实例
		var pager=new Pager("pagerCompany");
		$(function(){			
			pager.init(loadPageClickPageNum,curr_searchCond);			
		});
	</script>
</body>
</html>